<div class="grid-container content-margin">
    <div class="grid-x margin-x">
        <div class="cell small-12 medium-9">
            <app-title [title]="'Report A Bug'" [tabs]="tabs" (onTabClick)="onReport()"></app-title>
            <app-content>
                <div class="grid-container content-margin" *ngIf="isLoggedIn">
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-12">
                            <label>Issue description</label>
                            <textarea [(ngModel)]="data.description"></textarea>
                            <label>How do you make the bug happen?</label>
                            <textarea [(ngModel)]="data.steps"></textarea>
                            <label>What would you expect to happen?</label>
                            <input type="text" [(ngModel)]="data.expected" />
                            <label>What actually happens?</label>
                            <input type="text" [(ngModel)]="data.actual" />
                            <label>Any additional details?</label>
                            <textarea [(ngModel)]="data.additional"></textarea>
                            <label>Link to a screenshot</label>
                            <input type="text" [(ngModel)]="data.screenshot" />
                        </div>
                    </div>
                </div>
                <app-info-box *ngIf="!isLoggedIn" [model]="notLoggedIn"></app-info-box>
            </app-content>
        </div>
        <div class="cel small-12 medium-3">
            <app-title [title]="'Information'"></app-title>
            <app-content>
                Use this page to report any bugs you find on our website. The development team will strive to fix the bug as soon
                as possible.
            </app-content>
        </div>
    </div>
</div>