<app-title [title]="title" [tabs]="tabs" (onTabClick)="onTabClick($event)"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-4">
                <label>Name</label>
                <input type="text" name="name" [(ngModel)]="group.name"/>
            </div>
            <div class="cell small-12 medium-4">
                <label>
                    Nickname
                    <span tooltip="Nickname is for tagging, userbar and staff list, if empty it will use the group name (not for tagging)"
                          class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                </label>
                <input type="text" [(ngModel)]="group.nickname" placeholder="Nickname"/>
            </div>
            <div class="cell small-12 medium-4">
                <label>Immunity</label>
                <input type="number" [(ngModel)]="group.immunity" (keyup)="onImmunityChange()" min="0"/>
            </div>
            <div class="cell small-12 medium-4">
                <label>
                    Based On
                    <span tooltip="If you want your permission to copy a usergroups permissions, select it here!"
                          class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                </label>
                <select [(ngModel)]="baseGroup" (change)="onBaseChange()" [disabled]="group.createdAt">
                    <option [ngValue]="null">Select...</option>
                    <option *ngFor="let item of groups" [ngValue]="item">
                        {{item.name}}
                    </option>
                </select>
            </div>
            <div class="cell small-4">
                <label>Avatar Width</label>
                <input type="number" [(ngModel)]="group.avatarWidth" min="0"/>
            </div>
            <div class="cell small-4">
                <label>Avatar Height</label>
                <input type="number" [(ngModel)]="group.avatarHeight" min="0"/>
            </div>
            <div class="cell small-2">
                <label class="checkbox-container checkbox-align-with-input">
                    Is public
                    <input type="checkbox" [(ngModel)]="group.isPublic">
                    <span class="checkmark"></span>
                </label>
                <span tooltip="Is it possible to apply to join this group?" class="checkbox-info">
                    <em class="fas fa-question-circle"></em>
                </span>
            </div>
        </div>
    </div>
</app-content>

<app-title [title]="'SiteCP Permissions'">
</app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <div>
                    <label class="checkbox-container">
                        Access to manage BBCodes
                        <input type="checkbox" [disabled]="sitecpPermissions.canManageBBcodes.isDisabled"
                               [(ngModel)]="sitecpPermissions.canManageBBcodes.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canManageBBcodes.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Staff List
                        <input type="checkbox" [disabled]="sitecpPermissions.canManageGroupsList.isDisabled"
                               [(ngModel)]="sitecpPermissions.canManageGroupsList.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canManageGroupsList.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Website Settings
                        <span tooltip="Tick this to grant access to edit Maintenance and pages." class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canEditWebsiteSettings.isDisabled"
                               [(ngModel)]="sitecpPermissions.canEditWebsiteSettings.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canEditWebsiteSettings.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Prefixes
                        <input type="checkbox" [disabled]="sitecpPermissions.canManagePrefixes.isDisabled"
                               [(ngModel)]="sitecpPermissions.canManagePrefixes.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canManagePrefixes.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Betting Hub
                        <span tooltip="Access to Manage the Betting Hub: Create, Update, Delete Bets."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canManageBetting.isDisabled"
                               [(ngModel)]="sitecpPermissions.canManageBetting.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canManageBetting.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Shop
                        <span tooltip="Tick this to grant access to shot Items, Badges, Loot Boxes & Subscriptions."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canManageShop.isDisabled"
                               [(ngModel)]="sitecpPermissions.canManageShop.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canManageShop.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Badges
                        <span tooltip="Tick this to grant access to manage Badges" class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canManageBadges.isDisabled"
                               [(ngModel)]="sitecpPermissions.canManageBadges.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canManageBadges.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to approve Group Requests from Public Groups
                        <input type="checkbox" [disabled]="sitecpPermissions.canApprovePublicGroups.isDisabled"
                               [(ngModel)]="sitecpPermissions.canApprovePublicGroups.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canApprovePublicGroups.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Ban/Unban a User
                        <input type="checkbox" [disabled]="sitecpPermissions.canBanUsers.isDisabled"
                               [(ngModel)]="sitecpPermissions.canBanUsers.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canBanUsers.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to pass Private Profiles?
                        <input type="checkbox" [disabled]="sitecpPermissions.canPassPrivateProfiles.isDisabled"
                               [(ngModel)]="sitecpPermissions.canPassPrivateProfiles.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canPassPrivateProfiles.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to give basic Moderation Tools
                        <span tooltip="Tick this to grant access to give infractions, warnings & infraction history."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canDoInfractions.isDisabled"
                               [(ngModel)]="sitecpPermissions.canDoInfractions.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canDoInfractions.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to moderate User Information
                        <span tooltip="Tick this to grant access to remove Avatar, Cover Photo, Signature."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canRemoveUsersEssentials.isDisabled"
                               [(ngModel)]="sitecpPermissions.canRemoveUsersEssentials.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canRemoveUsersEssentials.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to moderate Visitor Messages
                        <input type="checkbox" [disabled]="sitecpPermissions.canModerateVisitorMessages.isDisabled"
                               [(ngModel)]="sitecpPermissions.canModerateVisitorMessages.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canModerateVisitorMessages.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
            </div>
            <div class="cell small-6">
                <div>
                    <label class="checkbox-container">
                        Access to manage Forum
                        <input type="checkbox" [disabled]="sitecpPermissions.canManageCategories.isDisabled"
                               [(ngModel)]="sitecpPermissions.canManageCategories.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canManageCategories.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Forum Permissions
                        <span tooltip="Ticking this will grant access to editing forum permissions in forum categories."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canManageCategoryPermissions.isDisabled"
                               [(ngModel)]="sitecpPermissions.canManageCategoryPermissions.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canManageCategoryPermissions.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Usergroups
                        <input type="checkbox" [disabled]="sitecpPermissions.canManageGroups.isDisabled"
                               [(ngModel)]="sitecpPermissions.canManageGroups.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canManageGroups.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to basic editing of a User
                        <span tooltip="Tick this to grant access to editing Name & Verify Habbo." class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canEditUsersBasic.isDisabled"
                               [(ngModel)]="sitecpPermissions.canEditUsersBasic.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canEditUsersBasic.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to advanced editing of a User
                        <span tooltip="Ticking this will grant access to editing Password & Accolades."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canEditUsersAdvanced.isDisabled"
                               [(ngModel)]="sitecpPermissions.canEditUsersAdvanced.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canEditUsersAdvanced.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to editing a users groups & display group
                        <span tooltip="Ticking this will grant access to editing Usergroups & Display Groups"
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canEditUsersGroups.isDisabled"
                               [(ngModel)]="sitecpPermissions.canEditUsersGroups.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canEditUsersGroups.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage AutoBans & Infraction Levels
                        <input type="checkbox" [disabled]="sitecpPermissions.canManageInfractions.isDisabled"
                               [(ngModel)]="sitecpPermissions.canManageInfractions.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canManageInfractions.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Subscriptions
                        <span tooltip="Ticking this will grant access to manage Subscriptions as well as assign them."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canManageSubscriptions.isDisabled"
                               [(ngModel)]="sitecpPermissions.canManageSubscriptions.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canManageSubscriptions.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Statistics
                        <span tooltip="Tick this to grant access to view the Site statistics." class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canViewStatistics.isDisabled"
                               [(ngModel)]="sitecpPermissions.canViewStatistics.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canViewStatistics.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage THC
                        <span tooltip="Tick this to grant access to further THC options like accept/deny requests & manage voucher codes."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canManageCredits.isDisabled"
                               [(ngModel)]="sitecpPermissions.canManageCredits.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canManageCredits.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage IP's
                        <span tooltip="Tick this to grant access to view IP Addresses on pages throughout VX."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canSeeIps.isDisabled"
                               [(ngModel)]="sitecpPermissions.canSeeIps.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canSeeIps.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to merge Users
                        <span tooltip="This should only be granted to the Forum Admin." class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canMergeUsers.isDisabled"
                               [(ngModel)]="sitecpPermissions.canMergeUsers.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canMergeUsers.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to all User Logs?
                        <span tooltip="Tick this to grant access to User, Mod, Staff & SiteCP logs."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canSeeLogs.isDisabled"
                               [(ngModel)]="sitecpPermissions.canSeeLogs.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canSeeLogs.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Server Logs?
                        <span tooltip="Tick this to grant access to view Laravel & Cron logs." class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canReadServerLogs.isDisabled"
                               [(ngModel)]="sitecpPermissions.canReadServerLogs.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canReadServerLogs.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Thread Templates?
                        <span tooltip="Tick this to grant access to mange thread templates." class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="sitecpPermissions.canManageThreadTemplates.isDisabled"
                               [(ngModel)]="sitecpPermissions.canManageThreadTemplates.isActive">
                        <span class="checkmark"
                              [ngClass]="sitecpPermissions.canManageThreadTemplates.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</app-content>

<app-title [title]="'Staff Permissions'">
</app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <label>Radio</label>
                <div>
                    <label class="checkbox-container">
                        Access to Radio (booking, radio info, requests etc)
                        <input type="checkbox" [disabled]="staffPermissions.canRadio.isDisabled"
                               [(ngModel)]="staffPermissions.canRadio.isActive">
                        <span class="checkmark"
                              [ngClass]="staffPermissions.canRadio.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Book & Unbook other users on Radio Timetable
                        <input type="checkbox" [disabled]="staffPermissions.canBookRadioForOthers.isDisabled"
                               [(ngModel)]="staffPermissions.canBookRadioForOthers.isActive">
                        <span class="checkmark"
                              [ngClass]="staffPermissions.canBookRadioForOthers.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to override DJ Says without being on air
                        <input type="checkbox" [disabled]="staffPermissions.canOverrideDjSays.isDisabled"
                               [(ngModel)]="staffPermissions.canOverrideDjSays.isActive">
                        <span class="checkmark"
                              [ngClass]="staffPermissions.canOverrideDjSays.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Kick a DJ Off Air
                        <input type="checkbox" [disabled]="staffPermissions.canKickDjOffAir.isDisabled"
                               [(ngModel)]="staffPermissions.canKickDjOffAir.isActive">
                        <span class="checkmark"
                              [ngClass]="staffPermissions.canKickDjOffAir.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Connection Information
                        <input type="checkbox" [disabled]="staffPermissions.canEditRadioInfo.isDisabled"
                               [(ngModel)]="staffPermissions.canEditRadioInfo.isActive">
                        <span class="checkmark"
                              [ngClass]="staffPermissions.canEditRadioInfo.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <label>Events</label>
                <div>
                    <label class="checkbox-container">
                        Access to Events (booking, ban on sight)
                        <input type="checkbox" [disabled]="staffPermissions.canEvent.isDisabled"
                               [(ngModel)]="staffPermissions.canEvent.isActive">
                        <span class="checkmark"
                              [ngClass]="staffPermissions.canEvent.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Book & Unbook other users on Events Timetable
                        <input type="checkbox" [disabled]="staffPermissions.canBookEventForOthers.isDisabled"
                               [(ngModel)]="staffPermissions.canBookEventForOthers.isActive">
                        <span class="checkmark"
                              [ngClass]="staffPermissions.canBookEventForOthers.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Do Not Hire list
                        <input type="checkbox" [disabled]="staffPermissions.canSeeDoNotHire.isDisabled"
                               [(ngModel)]="staffPermissions.canSeeDoNotHire.isActive">
                        <span class="checkmark"
                              [ngClass]="staffPermissions.canSeeDoNotHire.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
            </div>
            <div class="cell small-6">
                <label>Management Events & Radio</label>
                <div>
                    <label class="checkbox-container">
                        Access to Events & Radio bookings logs
                        <input type="checkbox" [disabled]="staffPermissions.canSeeBookingLogs.isDisabled"
                               [(ngModel)]="staffPermissions.canSeeBookingLogs.isActive">
                        <span class="checkmark"
                              [ngClass]="staffPermissions.canSeeBookingLogs.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Permanent Shows for Events & Radio
                        <input type="checkbox" [disabled]="staffPermissions.canManagePermShows.isDisabled"
                               [(ngModel)]="staffPermissions.canManagePermShows.isActive">
                        <span class="checkmark"
                              [ngClass]="staffPermissions.canManagePermShows.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Ban on Sight List
                        <input type="checkbox" [disabled]="staffPermissions.canManageBanOnSight.isDisabled"
                               [(ngModel)]="staffPermissions.canManageBanOnSight.isActive">
                        <span class="checkmark"
                              [ngClass]="staffPermissions.canManageBanOnSight.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Add & Remove Event Types
                        <input type="checkbox" [disabled]="staffPermissions.canManageEvents.isDisabled"
                               [(ngModel)]="staffPermissions.canManageEvents.isActive">
                        <span class="checkmark"
                              [ngClass]="staffPermissions.canManageEvents.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Events stats
                        <span tooltip="Thick this to grant access to Events stats "
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="staffPermissions.canSeeEventStats.isDisabled"
                               [(ngModel)]="staffPermissions.canSeeEventStats.isActive">
                        <span class="checkmark"
                              [ngClass]="staffPermissions.canSeeEventStats.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <label>Administration Events & Radio</label>
                <div>
                    <label class="checkbox-container">
                        Access to manage Current Listeners
                        <span tooltip="Tick this to grant access to view IP & relative user information."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="staffPermissions.canSeeListeners.isDisabled"
                               [(ngModel)]="staffPermissions.canSeeListeners.isActive">
                        <span class="checkmark"
                              [ngClass]="staffPermissions.canSeeListeners.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to view IP and delete Radio Requests
                        <span tooltip="Can see IPs on requests AND delete radio requests when not current DJ"
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [disabled]="staffPermissions.canSeeIpsAndDeleteRequests.isDisabled"
                               [(ngModel)]="staffPermissions.canSeeIpsAndDeleteRequests.isActive">
                        <span class="checkmark"
                              [ngClass]="staffPermissions.canSeeIpsAndDeleteRequests.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to always see Connection Information
                        <input type="checkbox"
                               [disabled]="staffPermissions.canAlwaysSeeConnectionInformation.isDisabled"
                               [(ngModel)]="staffPermissions.canAlwaysSeeConnectionInformation.isActive">
                        <span class="checkmark"
                              [ngClass]="staffPermissions.canAlwaysSeeConnectionInformation.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to start/stop the Auto DJ
                        <input type="checkbox" [disabled]="staffPermissions.canManageAutoDJ.isDisabled"
                               [(ngModel)]="staffPermissions.canManageAutoDJ.isActive">
                        <span class="checkmark"
                              [ngClass]="staffPermissions.canManageAutoDJ.isDisabled ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</app-content>

<app-title [title]="'Group Options'">
</app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <label class="checkbox-container">
                    Threads & Posts need approval? <br><em>If ticked, any user in this user group will be limited. They
                    will need a moderator to "approve" all their posts & threads before they are public.</em>
                    <input type="checkbox" [(ngModel)]="options.contentNeedApproval">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
</app-content>

<app-title [title]="'Styling'"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <label>Name Color</label>
                <input [(ngModel)]="group.nameColor" type="text"/>

                <label>Preview</label>
                <div class="nickname-base" [ngStyle]="nicknameStyle">nickname</div>
            </div>
            <div class="cell small-6">
                <label>
                    Userbar Styling
                </label>
                <textarea autocomplete="off" autocapitalize="off" spellcheck="false" type="text"
                          [(ngModel)]="group.userBarStyling"></textarea>

                <label>Preview</label>
                <div class="custom-user-bar-template" [style]="userBarStyle | safeStyle"
                     [style.text-align]="'center'">{{group.nickname || group.name}}</div>
            </div>
        </div>
    </div>
</app-content>
