<app-title [title]="title" [tabs]="tabs" (onTabClick)="onTabClick($event)"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-4">
                <label>Name</label>
                <input type="text" name="name" [(ngModel)]="group.name"/>
            </div>
            <div class="cell small-12 medium-4">
                <label>
                    Nickname
                    <span tooltip="Nickname is for tagging, userbar and staff list, if empty it will use the group name (not for tagging)"
                          class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                </label>
                <input type="text" [(ngModel)]="group.nickname" placeholder="Nickname"/>
            </div>
            <div class="cell small-12 medium-4">
                <label>Immunity</label>
                <input type="number" [(ngModel)]="group.immunity" (keyup)="onImmunityChange()" min="0"/>
            </div>
            <div class="cell small-12 medium-4">
                <label>
                    Based On
                    <span tooltip="If you want your permission to copy a usergroups permissions, select it here!"
                          class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                </label>
                <select [(ngModel)]="baseGroup" (change)="onBaseChange()" [disabled]="group.createdAt">
                    <option [ngValue]="null">Select...</option>
                    <option *ngFor="let item of groups" [ngValue]="item">
                        {{item.name}}
                    </option>
                </select>
            </div>
            <div class="cell small-4">
                <label>Avatar Width</label>
                <input type="number" [(ngModel)]="group.avatarWidth" min="0"/>
            </div>
            <div class="cell small-4">
                <label>Avatar Height</label>
                <input type="number" [(ngModel)]="group.avatarHeight" min="0"/>
            </div>
            <div class="cell small-2">
                <label class="checkbox-container checkbox-align-with-input">
                    Is public
                    <input type="checkbox" [(ngModel)]="group.isPublic">
                    <span class="checkmark"></span>
                </label>
                <span tooltip="Is it possible to apply to join this group?" class="checkbox-info">
                    <em class="fas fa-question-circle"></em>
                </span>
            </div>
        </div>
    </div>
</app-content>

<app-title [title]="'SiteCP Permissions'">
</app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <div>
                    <label class="checkbox-container">
                        Access to manage BBCodes
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canManageBBcodes">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Staff List
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canManageGroupsList">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Website Settings
                        <span tooltip="Tick this to grant access to edit Maintenance and pages." class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canEditWebsiteSettings">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Prefixes
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canManagePrefixes">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Betting Hub
                        <span tooltip="Access to Manage the Betting Hub: Create, Update, Delete Bets."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canManageBetting">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Shop
                        <span tooltip="Tick this to grant access to shot Items, Badges, Loot Boxes & Subscriptions."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canManageShop">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Badges
                        <span tooltip="Tick this to grant access to manage Badges" class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canManageBadges">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to approve Group Requests from Public Groups
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canApprovePublicGroups">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Ban/Unban a User
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canBanUser">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to pass Private Profiles?
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canPassPrivate">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to give basic Moderation Tools
                        <span tooltip="Tick this to grant access to give infractions, warnings & infraction history."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canDoInfractions">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to moderate User Information
                        <span tooltip="Tick this to grant access to remove Avatar, Cover Photo, Signature."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canRemoveEssentials">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to moderate Visitor Messages
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canModerateVisitorMessage">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="cell small-6">
                <div>
                    <label class="checkbox-container">
                        Access to manage Forum
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canManageForum">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Forum Permissions
                        <span tooltip="Ticking this will grant access to editing forum permissions in forum categories."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canManageForumPermissions">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Usergroups
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canManageGroups">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to basic editing of a User
                        <span tooltip="Tick this to grant access to editing Name & Verify Habbo." class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canEditUserBasic">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to advanced editing of a User
                        <span tooltip="Ticking this will grant access to editing Password & Accolades."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canEditUserAdvanced">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to editing a users groups & display group
                        <span tooltip="Ticking this will grant access to editing Usergroups & Display Groups"
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canEditUsersGroups">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage AutoBans & Infraction Levels
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canManageInfractions">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Subscriptions
                        <span tooltip="Ticking this will grant access to manage Subscriptions as well as assign them."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canManageSubscriptions">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Statistics
                        <span tooltip="Tick this to grant access to view the Site statistics." class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canViewStatistics">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage THC
                        <span tooltip="Tick this to grant access to further THC options like accept/deny requests & manage voucher codes."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canManageTHC">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage IP's
                        <span tooltip="Tick this to grant access to view IP Addresses on pages throughout VX."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canSeeIps">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to merge Users
                        <span tooltip="This should only be granted to the Forum Admin." class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canMergeUsers">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to all User Logs?
                        <span tooltip="Tick this to grant access to User, Mod, Staff & SiteCP logs."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canSeeLogs">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Server Logs?
                        <span tooltip="Tick this to grant access to view Laravel & Cron logs." class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="sitecpPermissions.canReadServerLogs">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</app-content>

<app-title [title]="'Staff Permissions'">
</app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <label>Radio</label>
                <div>
                    <label class="checkbox-container">
                        Access to Radio (booking, radio info, requests etc)
                        <input type="checkbox" [(ngModel)]="staffPermissions.canRadio">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Book & Unbook other users on Radio Timetable
                        <input type="checkbox" [(ngModel)]="staffPermissions.canBookRadioForOthers">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to override DJ Says without being on air
                        <input type="checkbox" [(ngModel)]="staffPermissions.canOverrideDjSays">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Kick a DJ Off Air
                        <input type="checkbox" [(ngModel)]="staffPermissions.canKickDjOffAir">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Connection Information
                        <input type="checkbox" [(ngModel)]="staffPermissions.canEditRadioInfo">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <label>Events</label>
                <div>
                    <label class="checkbox-container">
                        Access to Events (booking, ban on sight)
                        <input type="checkbox" [(ngModel)]="staffPermissions.canEvent">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Book & Unbook other users on Events Timetable
                        <input type="checkbox" [(ngModel)]="staffPermissions.canBookEventForOthers">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Do Not Hire list
                        <input type="checkbox" [(ngModel)]="staffPermissions.canSeeDoNotHire">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="cell small-6">
                <label>Management Events & Radio</label>
                <div>
                    <label class="checkbox-container">
                        Access to Events & Radio bookings logs
                        <input type="checkbox" [(ngModel)]="staffPermissions.canSeeBookingLogs">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Permanent Shows for Events & Radio
                        <input type="checkbox" [(ngModel)]="staffPermissions.canManagePermShows">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to manage Ban on Sight List
                        <input type="checkbox" [(ngModel)]="staffPermissions.canManageBanOnSight">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Add & Remove Event Types
                        <input type="checkbox" [(ngModel)]="staffPermissions.canManageEvents">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Events stats
                        <span tooltip="Thick this to grant access to Events stats "
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="staffPermissions.canSeeEventStats">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <label>Administration Events & Radio</label>
                <div>
                    <label class="checkbox-container">
                        Access to manage Current Listeners
                        <span tooltip="Tick this to grant access to view IP & relative user information."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="staffPermissions.canSeeListeners">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to view IP and delete Radio Requests
                        <span tooltip="Can see IPs on requests AND delete radio requests when not current DJ"
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="staffPermissions.canSeeIpsAndDeleteRequests">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to always see Connection Information
                        <input type="checkbox" [(ngModel)]="staffPermissions.canAlwaysSeeConnectionInformation">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</app-content>

<app-title [title]="'Group Options'">
</app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <label class="checkbox-container">
                    Threads & Posts need approval? <br><em>If ticked, any user in this user group will be limited. They
                    will need a moderator to "approve" all their posts & threads before they are public.</em>
                    <input type="checkbox" [(ngModel)]="options.contentNeedApproval">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cell small-6">
                <label class="checkbox-container">
                    Usergroup can be tagged?<br> <em>If ticked, if somebody posts <strong>:usergroup:</strong> it
                    will tag
                    everyone within that user group. Useful for Sitecp groups - not useful for groups with tons of
                    people
                    as they will all be tagged and can be abused. Like @RegisteredUsers - that's a tag to 25,000+
                    people!</em>
                    <input type="checkbox" [(ngModel)]="options.canBeTagged">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
</app-content>

<app-title [title]="'Styling'"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <label>Name Color</label>
                <input [(ngModel)]="group.nameColor" type="text"/>

                <label>Preview</label>
                <div [style]="nicknameStyle | safeStyle">nickname</div>
            </div>
            <div class="cell small-6">
                <label>
                    Userbar Styling
                </label>
                <textarea autocomplete="off" autocapitalize="off" spellcheck="false" type="text"
                          [(ngModel)]="group.userBarStyling"></textarea>

                <label>Preview</label>
                <div [style]="userBarStyle | safeStyle"
                     [style.text-align]="'center'">{{group.nickname || group.name}}</div>
            </div>
        </div>
    </div>
</app-content>
