<app-title [title]="'Update Postbit Settings'" [tabs]="tabs" (onTabClick)="onSave()"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <label class="checkbox-container">
                    Hide Join Date
                    <input type="checkbox" [(ngModel)]="postBitOptions.hideJoinDate">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox-container">
                    Hide Post Count
                    <input type="checkbox" [(ngModel)]="postBitOptions.hidePostCount">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox-container">
                    Hide Likes Count
                    <input type="checkbox" [(ngModel)]="postBitOptions.hideLikesCount">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox-container">
                    Hide Socials
                    <input type="checkbox" [(ngModel)]="postBitOptions.hideSocials">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
</app-content>
