.container {
    padding: 7px;
    background: #f9f7f7;
    width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inner-image {
    background-image: url('/assets/images/placeholder-image.jpg');
    height: 9rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.22) 0 0 0 1px inset, rgba(255, 255, 255, 0.34) 0 0 0 2px inset, rgba(0, 0, 0, 0.07) 0 2px 0;
    position: relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    text-align: center;
    padding-top: 35px;

    color: #ffffff;
    font-size: 40px;
    cursor: pointer;
}

.inner-image:hover em {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 1s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
}

.title {
    color: #c16f6f !important;
    font-weight: bold;
    display: inline-block;
    font-size: 13px;
    padding-bottom: 3px;
}

.content {
    margin: 0 0 5px 0;
    width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 64px;
}

.wrapper {
    display: block;
    border: 1px solid #cacaca !important;
    width: 100%;
    background: #ffffff;
    margin-bottom: 18px;
    padding: 2px;
    box-shadow: 0 0 0 1px #0e0e0e00, 0 3px 0 0 rgba(0, 0, 0, 0.03);
    border-radius: 2px;
}

li {
    list-style-type: none;
    font-weight: bold;
}
