.stats-box {
    position: absolute;
    float: right;
    margin: -14px 0 0 1px;
}

.events-box {
    margin: 131px 0 0 -8px;
    position: absolute;
}

.event-buttons {
    width: 10.7%;
    float: right;
}

.icon-position-events {
    margin: 2px 0 0 0.2px;
}

.event-name {
    background: #f7f7f7;
    padding: 5px;
    margin-bottom: 1px;
    font-size: 11px;
    width: 49.8%;
    display: inline-block;
}

.event-position {
    margin: 0 0 0 1px;
}

.radio-box {
    margin: 0 0 0 -43px;
    position: absolute;
}

.radio-info {
    float: right;
    background: white;
    color: #7d7d7d;
    margin: 34px -429px 0 0;
    font-size: 13px;
    height: 89px;
    padding: 1px;
    width: 288px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0 3px 5px;
    border: 1px solid #fffbfb;
    border-radius: 2px;
}

.event-info {
    float: right;
    background: white;
    color: #7d7d7d;
    margin: 0 0 0 106px;
    font-size: 13px;
    height: 89px;
    padding: 1px;
    width: 288px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0 3px 5px;
    border: 1px solid #fffbfb;
    border-radius: 2px;
}

.next-dj {
    display: inline-block;
    width: 54.8%;
    margin: 0 0 0 1px;
}

.dj-position {
    background: #f7f7f7;
    padding: 5.6px;
    margin-bottom: 1px;
    font-size: 11px;
}

.likes {
    display: inline-block;
    margin: 0 0 1px 5px;
    color: #bb4c4c;
}

.listeners {
    display: inline-block;
    margin: 0 0 1px 5px;
    color: #7d7d7d;
}

.current-event {
    background: #f7f7f7;
    padding: 12.6px;
    margin-bottom: 1px;
    font-size: 11px;
}

.radio-button {
    color: white;
    display: inline-block;
    font-size: 13px;
    height: 41.1px;
    width: 31px;
    margin: 0 0 2px 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset, rgba(255, 255, 255, 0.18) 0 0 0 2px inset, rgba(0, 0, 0, 0.06) 0 1px 0;
}

.events-box-button {
    color: white;
    display: inline-block;
    font-size: 13px;
    height: 41.1px;
    width: 31px;
    margin: 0 0 2px -1px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset, rgba(255, 255, 255, 0.18) 0 0 0 2px inset, rgba(0, 0, 0, 0.06) 0 1px 0;
}

.icon-position {
    margin: 2px 0 0 -0.5px;
}

.song {
    width: 44.7%;
    display: inline-block;
}

.marquee-chat {
    margin: 0 0 0 5px;
    width: 76px;
    position: absolute;
}

.inner-box {
    display: inline-block;
    width: 88.4%;
}

.inner-box-radio {
    display: inline-block;
    width: 88.4%;
    float: right;
}


.marquee-chat-radio {
    margin: 0 0 0 5px;
    width: 219px;
    position: absolute;
}

.blue-button {
    cursor: pointer;
    background-image: url(/assets/images/bargradient.png) !important;
    background: #139bfb;
}

.green-button {
    background-image: url(/assets/images/bargradient.png) !important;
    background: #79b554;
}

.red-button {
    background-image: url(/assets/images/bargradient.png) !important;
    background-color: #c37070;
}