<div class="logo"></div>

<div class="stats-box">
    <div class="radio-box">
        <div class="album-art" [style.background]="'url(' + albumArt + ')' | safeStyle"></div>
        <div class="radio-info">
            <div class="inner-box-radio">
                <div class="dj-position"><i class="fas fa-user"></i> <b> {{nickname}}</b>
                    <div class="likes"><i class="fas fa-heart"></i> {{likes}}</div>
                </div>
                <div class="dj-position song"><i class="fas fa-headphones"></i>
                    <marquee class="marquee-chat" scrolldelay="150">{{song}}</marquee>
                </div>
                <div class="dj-position next-dj"><i class="fas fa-arrow-right"></i> <strong> {{nextDj}}</strong></div>
                <div class="dj-position"><i class="fas fa-comment"></i>
                    <marquee class="marquee-chat-radio" scrolldelay="150">{{djSays}}</marquee>
                </div>
            </div>
            <div>
                <button [disabled]="nickname === 'Loading...'" class="radio-button blue-button" (click)="openRequest()"><i
                        class="fas fa-comment icon-position"></i></button>
                <button [disabled]="nickname === 'Loading...'" class="radio-button red-button" (click)="likeDj()"><i class="fas fa-heart icon-position"></i></button>
            </div>
        </div>
    </div>

    <div class="events-box">
        <div class="event-info">
            <div class="event-buttons">
                <button [disabled]="!eventsLink" class="events-box-button green-button" (click)="visitEvent()"><i class="fas fa-arrow-up icon-position-events"></i></button>
                <button [disabled]="currentHost === 'Not Booked'" class="events-box-button red-button" (click)="likeHost()"><i class="fas fa-heart icon-position-events"></i></button>
            </div>
            <div class="inner-box">
                <div class="event-name"><i class="fas fa-user"></i> <strong> {{currentHost}}</strong><br/>
                    <i class="fas fa-users"></i> {{currentEvent}}
                </div>
                <div class="event-name event-position"><i class="fas fa-arrow-right"></i> <strong> {{nextHost}}</strong><br/>
                    <i class="fas fa-arrow-right"></i>
                    {{nextEvent}}
                </div>
                <div class="djInfo current-event"><i class="fas fa-comment"></i>
                    <marquee class="marquee-chat-radio" scrolldelay="150">{{eventsSay}}</marquee>
                </div>
            </div>
        </div>
    </div>
</div>
