<div class="logo"></div>

<div class="stats-box">
    <div class="radio-box">
        <div class="album-art" [style.background]="'url(' + albumArt + ')' | safeStyle"></div>
        <div class="radio-info">
            <div class="inner-box-radio">
                <div class="dj-position current truncate">
                    <em class="fas fa-user"></em> <strong> {{nickname}}</strong>
                </div>
                <div class="dj-position next-dj truncate"><em class="fas fa-arrow-right"></em>
                    <strong> {{nextDj}}</strong></div>
                <div class="dj-position says"><em class="fas fa-comment"></em>
                    {{djSays}}
                </div>
                <div class="dj-position stats">
                    <div class="likes float-right"><em class="fas fa-heart"></em> {{likes | number: '1.'}}</div>
                    <div class="listeners float-right"><em class="fas fa-users"></em> {{listeners | number: '1.'}}</div>
                </div>
                <div class="dj-position song"><em class="fas fa-headphones"></em>
                    {{song}}
                </div>
            </div>
            <div>
                <button class="radio-button blue-button" (click)="openRequest()" tooltip="Send a Request"><em
                        class="fas fa-comment icon-position"></em></button>
                <button [disabled]="radioOffline" class="radio-button red-button" (click)="likeDj()"
                        tooltip="Like the DJ"><em
                        class="fas fa-heart icon-position"></em></button>
            </div>
        </div>
    </div>

    <div class="events-box" *ngIf="!isMinimalistic">
        <div class="event-info">
            <div class="event-buttons">
                <button [disabled]="!eventsLink" class="events-box-button green-button" (click)="visitEvent()"
                        tooltip="Visit the Event"><em
                        class="fas fa-arrow-up icon-position-events"></em></button>
                <button [disabled]="noEvent" class="events-box-button red-button" (click)="likeHost()"
                        tooltip="Like the Host"><em
                        class="fas fa-heart icon-position-events"></em></button>
            </div>
            <div class="inner-box">
                <div class="event-name truncate"><em class="fas fa-user"></em> <strong> {{currentHost}}</strong><br/>
                    <em class="fas fa-users"></em> {{currentEvent}}
                </div>
                <div class="event-name truncate"><em class="fas fa-arrow-right"></em>
                    <strong> {{nextHost}}</strong><br/>
                    <em class="fas fa-arrow-right"></em> {{nextEvent}}
                </div>
            </div>
        </div>
    </div>
</div>
