.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    cursor: default;
    display: none;
    position: absolute;
    right: 0;
    top: 32px;
    padding: 2px 2px 2px 2px;
    min-width: 8rem;
    border-radius: 0 !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    background: -webkit-linear-gradient(top, #ffffff 0, #ffffff 100%) !important;
    z-index: 2;
    box-shadow: 0 0 0 1px #0000002b, 0 3px 0 0 rgba(0,0,0,0.08);
    margin: 0px 0px 0px 1px;
}

.dropdown-content:after, .dropdown-content:before {
    bottom: 100%;
    right: 5px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.dropdown-content:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #ffffff;
    border-width: 6px;
    margin-left: 0;
}

.dropdown-content:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ffffff;
    border-width: 3px;
    margin-left: 0;
}

.dropdown-content:before:hover .dropdown-content {
    display: block;
}

.dropdown-content:after:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    border: none;
    padding: 0.5rem;
    color: #86b7f0;
    font-size: 11px;
    float: left;
    width: 100%;
}

.dropdown-content a:hover {
    color: rgb(24, 144, 241) !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:focus .dropdown-content {
    display: block;
}