.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 7px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 17px;
    font-weight: normal;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: -9px 0 0 -28px !important;
}

.checkbox-align-with-input {
    margin-top: 30px;
}

.checkbox-info {
    margin-left: 7px;
    font-size: 11px;
    font-weight: normal;
}

.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 18px;
    width: 18px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(88, 85, 85, 0.18), inset 0 0 0 2px rgba(255, 255, 255, 0.33), 0 2px 0 rgba(156, 156, 156, 0.09);
    cursor: pointer;
    text-align: center;
    background: #f6f6f6;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #eee;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #2ea1f3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark-disabled {
    background-color: #d7d7d7 !important;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding-bottom: 0.3rem;
    outline: none;
}

label {
    display: block;
    font-size: .7rem;
    font-weight: 700;
    padding: 5px 0 5px 0;
}

label em {
    font-weight: normal;
}

input, select, textarea {
    border: 0;
    background: white;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgba(115, 115, 115, .23), inset 0 0 0 2px #fff, 0 2px 0 rgba(179, 179, 179, 0.14);
    color: gray;
    display: flex;
    font-size: 11px;
    height: 35px;
    line-height: 1.42857143;
    margin-bottom: 2px !important;
    padding: 5px 5px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 100%;
    outline: 0;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.input-container .icon {
    padding: 10px;
    background: rgba(115, 115, 115, .23);
    min-width: 50px;
    text-align: center;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    height: 35px;
    box-shadow: 0 2px 0 rgba(179, 179, 179, 0.14);
    color: #a2a2a2;
    font-size: 16px;
}

.input-container input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

textarea {
    display: block;
    width: 100%;
    border-color: #d0d0d0;
    height: auto;
}

input:disabled, select:disabled, textarea:disabled {
    background-color: rgba(220, 220, 220, 0.83);
    border: 1px solid #cecece;
}

button:disabled {
    text-shadow: rgba(78, 76, 76, 0.85) 1px 1px 0;
    background-image: url(/assets/images/bargradient.png) !important;
    background-color: #c37070;
    opacity: 0.7;
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}