<app-title [title]="title" [tabs]="tabs" (onTabClick)="onTabClick($event)"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6">
                <label>Title</label>
                <input name="category-text" type="text" [(ngModel)]="category.title"/>
            </div>
            <div class="cell small-12 medium-6">
                <label>Parent</label>
                <app-form-select [(value)]="selectedCategory" [items]="selectableCategories"></app-form-select>
            </div>
            <div class="cell small-12 medium-6">
                <label>Description</label>
                <input type="text" [(ngModel)]="category.description"/>
            </div>
            <div class="cell small-12 medium-6">
                <label>Display Order
                    <span tooltip="The lower the number, the higher up it will be placed." class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                </label>
                <input type="number" [(ngModel)]="category.displayOrder"/>
            </div>
            <div class="cell small-12 medium-6">
                <label>Is Hidden
                    <span tooltip="This will hide the forum, however if they have&#xa;permission to access it they can with a direct link to it."
                          class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                </label>
                <select [(ngModel)]="category.isHidden" name="isHidden">
                    <option [ngValue]="false">No</option>
                    <option [ngValue]="true">Yes</option>
                </select>
            </div>
            <div class="cell small-12 medium-6">
                <label>Is Open</label>
                <select [(ngModel)]="category.isOpen" name="isOpen">
                    <option [ngValue]="false">No</option>
                    <option [ngValue]="true">Yes</option>
                </select>
            </div>
            <div class="cell small-12 medium-6">
                <label>Link
                    <span tooltip="Clicking the category header will link&#xa;to whatever has been specified here."
                          class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                </label>
                <input type="text" [(ngModel)]="category.link"/>
            </div>
            <div class="cell small-12 medium-6">
                <label>Icon
                    <span tooltip="Font-Awesome is supported.&#xa;Enter the class if you have found one."
                          class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                </label>
                <input type="text" [(ngModel)]="category.icon">
            </div>
            <div class="cell small-12 medium-6 medium-offset-6">
                <label>Icon Preview</label>
                <em class="preview" [ngClass]="category.icon"></em>
            </div>
        </div>
    </div>
</app-content>

<app-title
        [title]="'Options'">
</app-title>
<app-content>
    <div class="grid-container content-margin">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6">
                <label>Credits
                    <span tooltip="Amount of THC gained per post&#xa; & thread creation." class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                </label>
                <input type="number" [(ngModel)]="category.credits">
            </div>
            <div class="cell small-12 medium-6">
                <label>XP
                    <span tooltip="Amount of XP gained per post&#xa; & thread creation." class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                </label>
                <input type="number" [(ngModel)]="category.xp">
            </div>
            <div class="cell small-12 medium-6">
                <label>Template</label>
                <select [(ngModel)]="template" name="template">
                    <option selected="selected" value="DEFAULT">Default</option>
                    <option value="QUEST">Quest</option>
                    <option value="MEDIA">Media</option>
                </select>
            </div>
            <div class="cell small-12 medium-6">
            </div>
            <div class="cell small-12 medium-6">
                <label class="checkbox-container">
                    Do Threads need approving before posting?
                    <span tooltip="If yes, threads need approving before being seen by users." class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                    <input type="checkbox" [(ngModel)]="options.threadsNeedApproval">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cell small-12 medium-6">
                <label class="checkbox-container">
                    Do Threads need a Prefix?
                    <span tooltip="If yes, a thread will require a prefix before being posted." class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                    <input type="checkbox" [(ngModel)]="options.prefixMandatory">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cell small-12 medium-6">
                <label class="checkbox-container">
                    Posts don't count in this forum
                    <span tooltip="If yes, posts won't count in this forum." class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                    <input type="checkbox" [(ngModel)]="options.postsDontCount">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cell small-12 medium-6">
                <label class="checkbox-container">
                    Can Threads can have polls?
                    <span tooltip="If yes, users will be able to add a poll to their threads." class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                    <input type="checkbox" [(ngModel)]="options.threadsCanHavePolls">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cell small-12 medium-6">
                <label class="checkbox-container">
                    Is this a landing place for reported posts?
                    <span tooltip="If yes, any reported post will be posted here." class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                    <input type="checkbox" [(ngModel)]="options.reportPostsGoHere">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cell small-12 medium-6">
                <label class="checkbox-container">
                    Is this a landing place for job applications?
                    <span tooltip="If yes, any job application will be posted here." class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                    <input type="checkbox" [(ngModel)]="options.jobApplicationsGoHere">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cell small-12 medium-6">
                <label class="checkbox-container">
                    Is this a landing place for contact us posts?
                    <span tooltip="If yes, any contact posts will be posted here." class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                    <input type="checkbox" [(ngModel)]="options.contactPostsGoHere">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cell small-12 medium-6">
                <label class="checkbox-container">
                    Do this category has it's own leaderboard?
                    <span tooltip="If yes, it will show up as a leaderboard section by itself" class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                    <input type="checkbox" [(ngModel)]="options.isStandaloneLeaderboard">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
</app-content>
