<app-title [title]="title" [tabs]="tabs" (onTabClick)="onTabClick($event)"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6">
                <label>Title</label>
                <input name="category-text" type="text" [(ngModel)]="category.title"/>
            </div>
            <div class="cell small-12 medium-6">
                <label>Parent</label>
                <select [(ngModel)]="parentId" name="parent">
                    <option selected="selected" value="-1">None</option>
                    <option *ngFor="let item of categories" value="{{item.categoryId}}">{{item.title}}</option>
                </select>
            </div>
            <div class="cell small-12 medium-6">
                <label>Description</label>
                <input type="text" [(ngModel)]="category.description"/>
            </div>
            <div class="cell small-12 medium-6">
                <label>Display Order <em>(Lower = higher up)</em></label>
                <input type="number" [(ngModel)]="category.displayOrder"/>
            </div>
            <div class="cell small-12 medium-6">
                <label>Template</label>
                <select [(ngModel)]="template" name="template">
                    <option selected="selected" value="DEFAULT">Default</option>
                    <option value="QUEST">Quest</option>
                    <option value="MEDIA">Media</option>
                </select>
            </div>
            <div class="cell small-12 medium-6">
                <label>Is Hidden</label>
                <select [(ngModel)]="category.isHidden" name="isHidden">
                    <option [ngValue]="false">No</option>
                    <option [ngValue]="true">Yes</option>
                </select>
            </div>
            <div class="cell small-12 medium-6">
                <label>Is Open</label>
                <select [(ngModel)]="category.isOpen" name="isOpen">
                    <option [ngValue]="false">No</option>
                    <option [ngValue]="true">Yes</option>
                </select>
            </div>
            <div class="cell small-12 medium-6">
                <label>Link <em>(Clicking the category header leads here)</em></label>
                <input type="text" [(ngModel)]="category.link"/>
            </div>
            <div class="cell small-12 medium-6">
                <label>Credits <em>(Amount of credits per thread/post)</em></label>
                <input type="number" [(ngModel)]="category.credits">
            </div>
            <div class="cell small-12 medium-6">
                <label>XP <em>(Amount of XP per thread/post)</em></label>
                <input type="number" [(ngModel)]="category.xp">
            </div>
            <div class="cell small-12 medium-6">
                <label>Icon <em>(Font-awesome icon class)</em></label>
                <input type="text" [(ngModel)]="category.icon">
            </div>
            <div class="cell small-12 medium-6">
                <label>Icon Preview</label>
                <em class="preview" [ngClass]="category.icon"></em>
            </div>
        </div>
    </div>
</app-content>

<app-title
        [title]="'Options'">
</app-title>
<app-content>
    <div class="grid-container content-margin">
        <div class="grid-x">
            <div class="cell small-12 medium-6">
                <label class="checkbox-container">
                    Threads need approval? <em>(Tick if yes)</em>
                    <input type="checkbox" [(ngModel)]="options.threadsNeedApproval">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cell small-12 medium-6">
                <label class="checkbox-container">
                    Threads need a prefix? <em>(Tick if yes)</em>
                    <input type="checkbox" [(ngModel)]="options.prefixMandatory">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cell small-12 medium-6">
                <label class="checkbox-container">
                    Posts don't count <em>(Tick if yes)</em>
                    <input type="checkbox" [(ngModel)]="options.postsDontCount">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cell small-12 medium-6">
                <label class="checkbox-container">
                    Threads can have polls <em>(Tick if yes)</em>
                    <input type="checkbox" [(ngModel)]="options.threadsCanHavePolls">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cell small-12 medium-6">
                <label class="checkbox-container">
                    Is landing place for report posts <em>(Tick if yes)</em>
                    <input type="checkbox" [(ngModel)]="options.reportPostsGoHere">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cell small-12 medium-6">
                <label class="checkbox-container">
                    Is landing place for job applications? <em>(Tick if yes)</em>
                    <input type="checkbox" [(ngModel)]="options.jobApplicationsGoHere">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cell small-12 medium-6">
                <label class="checkbox-container">
                    Is landing place for contact posts? <em>(Tick if yes)</em>
                    <input type="checkbox" [(ngModel)]="options.contactPostsGoHere">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
</app-content>
