:host {
    display: block;
    width: 100% !important;
}

* >>> .bar {
    fill: #139af9;
}

* >>> .bar:hover {
    fill: #2c91d8;
}

* >>> .axis {
    font: 10px sans-serif;
}

* >>> .axis path, * >>> .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

* >>> .tick text {
    transform: rotate(30deg);
}
