<div class="grid-container margin-bottom forum-home" [ngClass]="isApproved ? '' : 'opacity'">
    <div class="grid-x grid-margin-x">
        <div class="cell small-7 medium-8">
            <span *ngIf="isClosed" class="closed">Closed</span>
            <span *ngIf="!isApproved" class="unapproved">Unapproved</span>
            <span *ngIf="isSticky" class="sticky">Sticky</span>
            <em class="icon"
                [ngClass]="icon + (haveRead ? ' read-icon' : '') + (thread.isSticky ? ' red-text' : '')"></em>
            <a class="title" [routerLink]="[threadUrl]" [queryParams]="{scrollTo: 'post-' + lastPostViewed.postId}" title="{{title}}"
               [ngClass]="(haveRead ? 'read' : '') + (thread.isSticky ? ' red-text' : '')">
                <span *ngIf="thread.prefix" [style]="thread.prefix.style | safeStyle">
                    {{thread.prefix.text}} &#xbb;
                </span>
                {{title}}
            </a>
            <div class="time-ago">{{timeAgo(thread.createdAt)}}</div>
            <div class="nickname">by
                <app-user-link [user]="thread.user"></app-user-link>
            </div>
        </div>
        <img class="mobile-hidden" appUserProfile [info]="lastPostInfo"/>
        <div class="cell small-4 medium-2">
            <div class="latest-post" (click)="goToLastPost()" [ngClass]="thread.isSticky ? 'red-text' : ''">Latest
                Post
            </div>
            <div class="nickname">
                <app-user-link [user]="thread.lastPost.user"></app-user-link>
            </div>
            <div class="time-ago">{{timeAgo(thread.lastPost.createdAt)}}</div>
        </div>
        <div class="cell small-1" *ngIf="canSelectThreads">
            <label class="checkbox-container">
                <input type="checkbox" [checked]="isChecked" (change)="onCheck()"/>
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
</div>
