:host {
    margin-bottom: 0;
}

.title {
    font-weight: bold;
    color: #0591ff;
    font-size: 11px;
    outline: none;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
}

.icon {
    font-size: 32px;
    height: 100%;
    float: left;
    padding: 3px 13px 0 0;
    color: #be6d6d;

    min-width: 60px;
    text-align: center;
}

.read-icon {
    color: #e2e2e2;
}

.read {
    font-weight: normal !important;
}

.closed, .unapproved, .sticky {
    position: relative;
    top: -0.3rem;
    margin-right: 0.5rem;
    padding: 0.3rem 0.5rem;
    background-color: rgb(216, 106, 106);
    color: #fff;
    border-radius: 3px;
    font-size: 10px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.18), inset 0 0 0 2px rgba(255, 255, 255, 0.18), 0 2px 0 0 rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.24);
    background-image: url(/assets/images/bargradient.png) !important;
}

.sticky {
    background-color: rgb(63, 187, 115);
}

.title:hover {
    cursor: pointer;
}

.views, .posts {
    text-align: center;
    display: inline-block;
    padding: 0.8rem 0;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .18), inset 0 0 0 2px rgba(255, 255, 255, .18), 0 2px 0 0 rgba(0, 0, 0, 0.1);
    margin-right: 1.5rem;
    line-height: 1rem;
    width: 5rem;
}

.time-ago, .nickname {
    text-align: left;
    margin: 0px 0px 0px 8px;
}

.nickname a {
    display: inline-block;
}

.latest-post {
    font-weight: bold;
    color: #0591ff;
    margin: 0px 0px 0px 8px;
}

.latest-post:hover {
    cursor: pointer;
}

a {
    display: block;
    text-decoration: none;
}

.opacity {
    opacity: 0.4;
}

.forum-home {
    padding: 10px;
    width: 100%;
    background: #fbfbfb;
    box-shadow: inset 0 1px 2px rgba(197, 197, 197, 0.09);
    margin-bottom: 2px;
}

@media screen and (max-width: 600px) {
    .icon {
        display: none;
    }

    .title {
        max-width: 100%;
    }
}
