<app-title [title]="'Updating Member of the Month'" [tabs]="tabs" (onTabClick)="onSave()"></app-title>
<app-content>
    <label>Month (e.g. January)</label>
    <select name="info-month" [(ngModel)]="model.month">
        <option *ngFor="let month of months" [value]="month">
            {{ month }}
        </option>
    </select>

    <label>Year</label>
    <input name="info-year" type="number" [(ngModel)]="model.year"/>

    <label>Member of the Month</label>
    <input name="info-member" type="text" [(ngModel)]="model.member"/>

    <label>Photo Comp Winner</label>
    <input name="info-staff" type="text" [(ngModel)]="model.photo"/>
</app-content>