<app-title [title]="'Update Postbit Settings'" [tabs]="tabs" (onTabClick)="onAction($event)"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <strong>Information Shown</strong>
                <div>
                    <label class="checkbox-container">
                        Hide Join Date
                        <input type="checkbox" [(ngModel)]="postBitOptions.hideJoinDate">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Hide Post Count
                        <input type="checkbox" [(ngModel)]="postBitOptions.hidePostCount">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Hide Likes Count
                        <input type="checkbox" [(ngModel)]="postBitOptions.hideLikesCount">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Hide Socials
                        <input type="checkbox" [(ngModel)]="postBitOptions.hideSocials">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="cell small-6">
                <strong>Badges Shown</strong><br/>
                <em>You can have maximum of 3 selected badges</em>
                <br/>
                <br/>
                <div *ngIf="badges.length === 0">
                    ¯\_(ツ)_/¯ you have no badges selected right now, click the tab to add a badge
                </div>
                <div *ngIf="badges.length > 0">
                    <div class="grid-container">
                        <div class="grid-x grid-margin-x">
                            <div class="cell small-4 medium-2" *ngFor="let badge of badges">
                                <img [src]="'/rest/resources/images/badges/' + badge.badgeId + '.gif?' + badge.updatedAt"
                                     />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-content>
