<app-title [title]="'Update Postbit Settings'" [tabs]="tabs" (onTabClick)="onAction($event)"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <label>
                    Information Shown
                    <span tooltip="When posting a post, on the left hand side your&#xa;user profile is displayed with the following things below.&#xa;Tick those you wish to hide!"
                          class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                    </span>
                </label>
                <div>
                    <label class="checkbox-container">
                        Hide Join Date
                        <input type="checkbox" [(ngModel)]="postBitOptions.hideJoinDate">
                        <span class="checkmark"></span>
                        <span tooltip="This will hide your join date&#xa;from your postbit for all users."
                              class="checkbox-info">
                                <em class="fas fa-question-circle"></em>
                        </span>

                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Hide Post Count
                        <input type="checkbox" [(ngModel)]="postBitOptions.hidePostCount">
                        <span class="checkmark"></span>

                        <span tooltip="This will hide your post count from&#xa;your postbit for all users."
                              class="checkbox-info">
                                <em class="fas fa-question-circle"></em>
                        </span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Hide Likes Count
                        <input type="checkbox" [(ngModel)]="postBitOptions.hideLikesCount">
                        <span class="checkmark"></span>

                        <span tooltip="This will hide your likes count from&#xa;your postbit for all users."
                              class="checkbox-info">
                                <em class="fas fa-question-circle"></em>
                        </span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Hide Habbo
                        <input type="checkbox" [(ngModel)]="postBitOptions.hideHabbo">
                        <span class="checkmark"></span>

                        <span tooltip="This will hide your habbo from&#xa;your postbit for all users."
                              class="checkbox-info">
                                <em class="fas fa-question-circle"></em>
                        </span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Hide Socials
                        <input type="checkbox" [(ngModel)]="postBitOptions.hideSocials">
                        <span class="checkmark"></span>


                        <span tooltip="This will hide your social networking from&#xa;your postbit for all users."
                              class="checkbox-info">
                                <em class="fas fa-question-circle"></em>
                        </span>
                    </label>
                </div>
            </div>
            <div class="cell small-6">
                <label>Badges Shown</label>
                <em>You can have maximum of 3 selected badges</em>
                <br/>
                <br/>
                <div *ngIf="badges.length === 0">
                    ¯\_(ツ)_/¯ you have no badges selected right now, click the tab to add a badge
                </div>
                <div *ngIf="badges.length > 0">
                    <div class="grid-container">
                        <div class="grid-x grid-margin-x">
                            <div class="cell small-4 medium-2" *ngFor="let badge of badges">
                                <img [src]="'/resources/images/badges/' + badge.badgeId + '.gif?' + badge.updatedAt"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell small-6" *ngIf="namePosition.isAvailable">
                <label>Name Position</label>
                <div *ngFor="let position of namePositions">
                    <label class="checkbox-container">
                        {{position.label}}
                        <input type="checkbox" [checked]="namePosition.position === position.value"
                               (change)="namePosition.position = position.value">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="cell small-6" *ngIf="userBar.isAvailable">
                <label>
                    Custom Userbar
                    <span tooltip="Format is: #000000,#ffffff etc" class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                </label>
                <input type="text" [(ngModel)]="userBarColors" (ngModelChange)="onBarColorChange($event)">
                <br/>
                <label>Preview:</label>
                <div *ngIf="userBarColors" class="custom-user-bar-template" [ngStyle]="getBarColors()">Donator</div>
                <div *ngIf="!userBarColors">No userbar</div>
            </div>
        </div>
    </div>
</app-content>
