<div *ngIf="isSet">
    <app-title
        [title]="title"
        [tabs]="tabs"
        [top]="topBorder"
        (onTabClick)="tabClick($event)">
    </app-title>
    <app-content [isContracted]="isContracted">
        <div class="grid-container full position-relative filter" *ngIf="filterConfigs.length > 0">
            <div class="grid-x grid-margin-x">
                <div class="cell" [ngClass]="filterConfigs.length > 1 ? 'small-6' : 'small-12'" *ngFor="let filterConfig of filterConfigs">
                    <div class="label" *ngIf="filterConfig.title">{{filterConfig.title}}</div>
                    <input type="text" name="filter" placeholder="{{filterConfig.placeholder}}"
                           [(ngModel)]="filterConfig.value"
                           (input)="onFilterChange()"/>
                </div>
            </div>
        </div>
        <table>
            <tr>
                <th *ngFor="let header of headers" [ngStyle]="{'width': header.width || 'auto'}">{{header.title}}</th>
                <th *ngIf="haveActions" style="min-width: 150px;">Actions</th>
            </tr>
            <tr *ngFor="let row of rows">
                <td *ngFor="let cell of row.cells">
                    <div *ngIf="cell.statusBox">
                        <span [ngClass]="cell.status ? 'status-good' : 'status-bad'">
                            {{cell.title}}
                        </span>
                    </div>
                    <div *ngIf="cell.isEditable">
                        <input class="editable" [(ngModel)]="cell.value">
                    </div>
                    <div *ngIf="!cell.statusBox && !cell.isEditable">
                        <div *ngIf="cell.innerHTML" [innerHTML]="cell.title | safeHtml"></div>
                        <div *ngIf="!cell.innerHTML">
                            {{cell.title}}
                        </div>
                    </div>
                </td>
                <td *ngIf="haveActions" [ngClass]="row.actions.length === 1 ? 'button-column' : ''">
                    <select (change)="onChange(row, $event)" *ngIf="row.actions.length > 1">
                        <option [value]="null" disabled="disabled">{{ row.actionsPlaceholder || 'Choose' }}</option>
                        <option *ngFor="let item of row.actions" [value]="item.value">{{item.title}}</option>
                    </select>
                    <button appButton *ngIf="row.actions.length === 1" [disabled]="row.actions[0].isDisabled" (click)="onActionClick(row.id, row.actions[0].value)">
                        {{row.actions[0].title}}
                    </button>
                </td>
            </tr>
        </table>
    </app-content>
</div>