.status-good {
    padding: 0.3rem 0.5rem;
    background-color: rgb(55, 165, 55);
    color: #ffffff;
    border-radius: 3px;
}

.status-bad {
    padding: 0.3rem 0.5rem;
    background-color: rgb(165, 55, 55);
    color: #ffffff;
    border-radius: 3px;
}

.header {
    background: #ffffff;
    padding: 0.5rem;
    box-shadow: 0 1px #ffffff30, 0 1px 5px #a5a5a591;
    border: 1px solid #fffbfb;
    text-transform: uppercase;
    font-weight: bold;
}

.row {
    padding: 0.5rem;
}

.cell-content {
    padding-top: 10px;
}

.editable {
    width: 2rem !important;
    margin-bottom: 0;
}

button {
    margin-left: 0.5rem;
    margin-top: 0;
}

.filter {
    margin-bottom: 1rem;
}

.button-column {
    width: 50px;
}
