<div *ngIf="isSet">
    <app-title *ngIf="!isSlim"
               [title]="title"
               [tabs]="tabs"
               [top]="topBorder"
               (onTabClick)="tabClick($event)">
    </app-title>
    <app-content [isContracted]="isContracted">
        <div class="grid-container full position-relative">
            <div class="grid-x grid-margin-x filter" *ngIf="filterConfigs.length > 0">
                <div class="cell" [ngClass]="filterConfigs.length > 1 ? 'small-6 medium-12' : 'small-12'"
                     *ngFor="let filterConfig of filterConfigs">
                    <div *ngIf="!filterConfig.isSelect()">
                        <label *ngIf="filterConfig.title">{{filterConfig.title}}</label>
                        <input type="text" name="filter" placeholder="{{filterConfig.placeholder}}"
                               [(ngModel)]="filterConfig.value"
                               (input)="onFilterChange()"/>
                    </div>
                    <div *ngIf="filterConfig.isSelect()">
                        <label *ngIf="filterConfig.title">{{filterConfig.title}}</label>
                        <select [(ngModel)]="filterConfig.value" (change)="onFilterChange()">
                            <option [ngValue]="undefined">All</option>
                            <option *ngFor="let item of filterConfig.items"
                                    [ngValue]="item.value">{{item.label}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <table>
            <tr>
                <th *ngFor="let header of headers">{{header.title}}</th>
                <th *ngIf="haveActions"></th>
            </tr>
            <tbody>
            <tr *ngFor="let row of rows">
                <td *ngFor="let cell of row.cells">
                        <span *ngIf="cell.statusBox" [ngClass]="cell.status ? 'status-good' : 'status-bad'">
                            {{cell.title}}
                        </span>
                    <input *ngIf="cell.isEditable" class="editable" [(ngModel)]="cell.value">

                    <span *ngIf="!cell.statusBox && !cell.isEditable">
                        <span *ngIf="cell.innerHTML" [innerHTML]="cell.title | safeHtml"></span>
                        <span *ngIf="!cell.innerHTML">
                            {{cell.title}}
                        </span>
                    </span>
                </td>
                <td class="action">
                    <div *ngIf="row.actions.length > 0">
                        <em class="fas fa-ellipsis-v" tabindex="1"></em>
                        <div class="actions">
                            <div *ngFor="let action of row.actions"
                                 (click)="onActionClick(row.id, action.value)">{{action.title}}</div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div *ngIf="rows.length === 0" class="align-center">
            There no data! ¯\_(ツ)_/¯
        </div>
    </app-content>
</div>
