.status-good {
    padding: 0.3rem 0.5rem;
    background-color: rgb(55, 165, 55);
    color: #ffffff;
    border-radius: 3px;
}

.status-bad {
    padding: 0.3rem 0.5rem;
    background-color: rgb(165, 55, 55);
    color: #ffffff;
    border-radius: 3px;
}

.editable {
    width: 2rem !important;
    margin-bottom: 0;
}

.filter {
    margin-bottom: 1rem;
}

table {
    width: 100%;
    padding: 0px;
    border-spacing: 0px;
}

tr:nth-child(even) {
    background: #f7f7f7;
}

th {
    text-align: left;
}

.action {
    color: #ababab;
    font-size: 16px;
    text-align: right;
    position: relative;
}

.action em {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 100%;
    transition: 0.3s;
    outline: none;
}

.action em:hover {
    background: #f1f1f1;
}

.actions {
    display: none;
    background: #ffffff;
    box-shadow: 0 1px white, 0 1px 4px #6d6d6d42;
    text-align: left;
    font-size: 11px;
    width: auto;
    position: absolute;
    top: 17px;
    right: 17px;
    z-index: 10;
    min-width: 161px;
}

.actions:hover {
    display: block;
}

.actions div {
    cursor: pointer;
    padding: 5px;
    transition: 0.3s;
}

.actions div:hover {
    background: #f7f7f7;
}

em:focus ~ .actions {
    display: block;
}