<img *ngIf="!isAvatarFailing" class="picture" [src]="imagePath" (error)="isAvatarFailing = true;"/>
<div class="picture fallback" *ngIf="isAvatarFailing">
    <em class="fa fa-user"></em>
</div>
<div class="description">
    <div *ngIf="isApproved">
        New Follower! <br />
        {{user.nickname}} just followed you!
    </div>
    <div *ngIf="!isApproved">
        New Follower Request! <br />
        {{user.nickname}} wanna follow you! Visit UserCP to approve/deny
    </div>
    <div class="time">
        <i class="fas fa-clock"></i> about {{getTime()}}
    </div>
</div>