<em class="fas fa-times readOnly"></em>

<div class="picture" [style.background-image]="'url(' + imagePath + ')'"></div>
<div class="description">
    <div *ngIf="isDjLike">
        New Like! <br/>
        {{user.nickname}} likes you on the radio!
    </div>
    <div *ngIf="isHostLike">
        New Like! <br/>
        {{user.nickname}} likes you hosting!
    </div>
    <div *ngIf="isRadioRequest">
        New request! <br/>
        {{user ? user.nickname : 'anonymous'}} sent a request!
    </div>
    <div class="time">
        <em class="fas fa-clock"></em> {{getTime()}}
    </div>
</div>
