<em class="fas fa-times readOnly"></em>

<div class="picture" [style.background-image]="'url(' + imagePath + ')'"></div>
<div class="description">
    <div *ngIf="isDjLike">
        New Like! <br/>
        <app-user-link [user]="user" [isMiniProfileDisabled]="true"></app-user-link>
        likes you on the radio!
    </div>
    <div *ngIf="isHostLike">
        New Like! <br/>
        <app-user-link [user]="user" [isMiniProfileDisabled]="true"></app-user-link>
        likes you hosting!
    </div>
    <div *ngIf="isRadioRequest">
        New request! <br/>
        <app-user-link [user]="user" [isMiniProfileDisabled]="true"></app-user-link>
        sent a request!
    </div>
    <div *ngIf="isReferral">
        New referral! <br/>
        <app-user-link [user]="user" [isMiniProfileDisabled]="true"></app-user-link>
        referred you when joining!
    </div>
    <div *ngIf="isSentThc">
        You got THC! <br/>
        <app-user-link [user]="user" [isMiniProfileDisabled]="true"></app-user-link>
        sent you {{customData}} thc!
    </div>
    <div class="time">
        <em class="fas fa-clock"></em> {{getTime()}}
    </div>
</div>
