<div *ngFor="let block of blocks">
    <app-title
            [title]="block.title"
            [tabs]="toggleTab"
            [top]="block.top"
            (onTabClick)="toggleMenuItem((block.title))">
    </app-title>
    <app-content [isContracted]="isMenuItemContracted(block.title)">
        <a *ngFor="let item of block.items" [routerLink]="[item.link]" [style.color]="block.color">
            <em class="fa fa-columns"></em>
            <span>{{item.title}}</span>
        </a>
    </app-content>
</div>
