<app-title [title]="title" [tabs]="tabs" (onTabClick)="onTabClick($event)"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12">
                <select [ngModel]="model.group ? model.group.groupId : -1" (ngModelChange)="onGroupChange($event)">
                    <option *ngFor="let grp of groups" value="{{grp.groupId}}">{{grp.name}}</option>
                </select>
            </div>

            <div class="cell small-6 permission-container">
                <div *ngFor="let group of leftHalf">
                    <label class="checkbox-container">
                        {{group.name}}
                        <input type="checkbox" [(ngModel)]="group.isChecked">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="cell small-6 permission-container">
                <div *ngFor="let group of rightHalf">
                    <label class="checkbox-container">
                        {{group.name}}
                        <input type="checkbox" [(ngModel)]="group.isChecked">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</app-content>

<app-title [title]="groupTitle"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <label>General Permissions</label>
                <div>
                    <label class="checkbox-container">
                        Do you need to be logged in?
                        <span tooltip="Is this category only for people that are logged in? If so, check this!"
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="model.isAuthOnly">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to this Category?
                        <input type="checkbox" [(ngModel)]="permissions.canRead">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Post in this Category?
                        <input type="checkbox" [(ngModel)]="permissions.canPost">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to View Thread Content?
                        <input type="checkbox" [(ngModel)]="permissions.canViewThreadContent">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to View Other Users Threads?
                        <input type="checkbox" [(ngModel)]="permissions.canViewOthersThreads">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Post in Other Users Threads?
                        <input type="checkbox" [(ngModel)]="permissions.canPostInOthersThreads">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Create Threads in this Category?
                        <input type="checkbox" [(ngModel)]="permissions.canCreateThreads">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Open / Close Own Threads?
                        <input type="checkbox" [(ngModel)]="permissions.canOpenCloseOwnThread">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="cell small-6">
                <div>
                    <label>Moderation Permissions</label>
                    <label class="checkbox-container">
                        Access to Edit Other Users Posts & Threads?
                        <input type="checkbox" [(ngModel)]="permissions.canEditOthersPosts">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Move Threads?
                        <input type="checkbox" [(ngModel)]="permissions.canMoveThreads">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Close / Open Threads?
                        <input type="checkbox" [(ngModel)]="permissions.canCloseOpenThread">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Approve / Unapprove Threads?
                        <input type="checkbox" [(ngModel)]="permissions.canApproveThreads">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Approve / Unapprove Posts?
                        <input type="checkbox" [(ngModel)]="permissions.canApprovePosts">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Merge Threads & Posts?
                        <input type="checkbox" [(ngModel)]="permissions.canMergeThreadsAndPosts">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Change Owner of Threads and Posts?
                        <input type="checkbox" [(ngModel)]="permissions.canChangeOwner">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Sticky Threads?
                        <input type="checkbox" [(ngModel)]="permissions.canStickyThread">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Delete Posts & Threads? <em>(Permanently)</em>
                        <span tooltip="Only FA/Ownership should have this. Others can unapprove posts."
                              class="checkbox-info">
                            <em class="fas fa-question-circle"></em>
                        </span>
                        <input type="checkbox" [(ngModel)]="permissions.canDeletePosts">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <label class="checkbox-container">
                        Access to Manage Polls? <em>(View & Delete Votes)</em>
                        <input type="checkbox" [(ngModel)]="permissions.canManagePolls">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</app-content>