<app-title [title]="'Updating Staff of the Week'" [tabs]="tabs" (onTabClick)="onTabClick($event)"></app-title>
<app-content>
    <label>Start Date (e.g. 8th)</label>
    <input name="info-startDay" type="text" [(ngModel)]="model.startDay"/>

    <label>End Date (e.g. 8th)</label>
    <input name="info-endDay" type="text" [(ngModel)]="model.endDay"/>

    <label>Month (e.g. January)</label>
    <select name="info-month" [(ngModel)]="model.month">
        <option *ngFor="let month of months" [value]="month">
            {{ month }}
        </option>
    </select>

    <br/>

    <label>EU Management</label>
    <input name="info-eu-management" type="text" [(ngModel)]="model.europeManagement"/>

    <label>EU Radio</label>
    <input name="info-eu-radio" type="text" [(ngModel)]="model.europeRadio"/>

    <label>EU Events</label>
    <input name="info-eu-events" type="text" [(ngModel)]="model.europeEvents"/>

    <br/>

    <label>OC Management</label>
    <input name="info-oc-management" type="text" [(ngModel)]="model.oceaniaManagement"/>

    <label>OC Radio</label>
    <input name="info-oc-radio" type="text" [(ngModel)]="model.oceaniaRadio"/>

    <label>OC Events</label>
    <input name="info-oc-events" type="text" [(ngModel)]="model.oceaniaEvents"/>

    <br/>

    <label>NA Management</label>
    <input name="info-na-management" type="text" [(ngModel)]="model.northAmericanManagement"/>

    <label>NA Radio</label>
    <input name="info-na-radio" type="text" [(ngModel)]="model.northAmericanRadio"/>

    <label>NA Events</label>
    <input name="info-na-events" type="text" [(ngModel)]="model.northAmericanEvents"/>

    <br/>

    <label>Global Management</label>
    <input name="info-glob-management" type="text" [(ngModel)]="model.globalManagement"/>

    <label>Moderation</label>
    <input name="info-moderation" type="text" [(ngModel)]="model.moderation"/>

    <label>Media</label>
    <input name="info-media" type="text" [(ngModel)]="model.media"/>

    <label>Quests</label>
    <input name="info-quests" type="text" [(ngModel)]="model.quests"/>

    <label>Graphics</label>
    <input name="info-graphics" type="text" [(ngModel)]="model.graphics"/>

    <label>Community Events</label>
    <input name="info-audio-producer" type="text" [(ngModel)]="model.communityEvents"/>

    <label>Builders</label>
    <input name="info-audio-producer" type="text" [(ngModel)]="model.builder"/>
</app-content>
