<div class="grid-container full">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12">
            <div *ngFor="let category of categories">
                <app-title [title]="category.title" [titlePointer]="true" [tabs]="[toggleTab]"
                           (onTabClick)="toggleCategory(category)" (onTitleClick)="onTitleClick(category)">
                </app-title>
                <app-content [isContracted]="isCategoryContracted(category)">
                    <app-forum-slim-category *ngFor="let child of category.childs.sort(sortCategories)"
                                             [category]="child"></app-forum-slim-category>
                </app-content>
            </div>
            <div *ngIf="categories.length === 0">
                <app-title [title]="'No categories available'"></app-title>
                <app-content>
                    You don't have access to see any categories on the forum. <br/>
                    If you are logged in and seeing this error message, please contact an Sitecpistrator. If you aren't
                    logged in, please do so!
                </app-content>
            </div>

            <app-title [title]="'Forum Stats'" [top]="latestPostersTop" [tabs]="statTabs"
                       (onTabClick)="onStatsTabClick($event)"></app-title>
            <app-content>
                <div class="grid-container full">
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-3">
                            <label>Top Posters</label>
                            <div *ngIf="!topPosters">
                                Loading...
                            </div>
                            <div *ngIf="topPosters && topPosters.length === 0">
                                No top posters as of now...
                            </div>
                            <div class="gray-content-wrapper" *ngFor="let topPoster of topPosters; let i = index;">
                                {{i + 1}}.
                                <app-user-link [user]="topPoster.user"></app-user-link>

                                <span class="float-right">({{topPoster.posts | number: '1.'}})</span>
                            </div>
                        </div>
                        <div class="cell small-3">
                            <label>Top Posters Today</label>
                            <div *ngIf="!topPostersToday">
                                Loading...
                            </div>
                            <div *ngIf="topPostersToday && topPostersToday.length === 0">
                                No top posters today as of now...
                            </div>
                            <div class="gray-content-wrapper" *ngFor="let topPoster of topPostersToday; let i = index;">
                                {{i + 1}}.
                                <app-user-link [user]="topPoster.user"></app-user-link>

                                <span class="float-right">({{topPoster.posts | number: '1.'}})</span>
                            </div>
                        </div>
                        <div class="cell small-6">
                            <label>Latest Posts</label>
                            <div *ngIf="!latestPosts">
                                Loading...
                            </div>
                            <div *ngIf="latestPosts && latestPosts.length === 0">
                                No posts as of now...
                            </div>
                            <div *ngFor="let latestPost of latestPosts;" class="latest-post-row">
                                <span class="data">
                                    <a class="title"
                                       [routerLink]="['/forum', 'thread', latestPost.threadId, 'page', latestPost.page]"
                                       [queryParams]="{ scrollTo: 'post-' + latestPost.postId}">
                                        <span *ngIf="latestPost.text" [style]="latestPost.style | safeStyle">
                                            {{latestPost.text}} &#xbb;
                                        </span>
                                        {{latestPost.title}}
                                    </a>
                                    - {{latestPost.time}}
                                    <div class="latest-right"><app-user-link
                                            [user]="latestPost.user"></app-user-link></div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </app-content>

            <app-title [title]="currentlyActiveTitle" [top]="latestPostersTop"></app-title>
            <app-content>
                <span *ngFor="let user of currentlyActive; let last = last;" >
                    <app-user-link [user]="user"></app-user-link><span *ngIf="!last">, </span><span *ngIf="last">.</span>
                </span>
            </app-content>

            <app-title [title]="activeTodayTitle" [top]="latestPostersTop"></app-title>
            <app-content>
                <span *ngFor="let user of activeToday; let last = last;" >
                    <app-user-link [user]="user"></app-user-link><span *ngIf="!last">, </span><span *ngIf="last">.</span>
                </span>
            </app-content>
        </div>
    </div>
</div>