<app-title [title]="title" [tabs]="tabs" (onTabClick)="onTabClick($event)"></app-title>
<app-content>
    <div class="label">Name:</div>
    <input name="perm-name" type="text" [(ngModel)]="perm.name" />
    <div class="label">Description:</div>
    <input name="perm-desc" type="text" [(ngModel)]="perm.description" />

    <div class="label">Nickname:</div>
    <input name="perm-user" type="text" [(ngModel)]="perm.nickname" />
    <div class="label">Day:</div>
    <select name="perm-day" [(ngModel)]="perm.day">
        <option *ngFor="let day of days" [value]="day.number">{{ day.label }}</option>
    </select>

    <div class="label">Hour:</div>
    <select name="perm-hour" [(ngModel)]="perm.hour">
        <option *ngFor="let hour of hours" [value]="hour.number">
            {{ hour.label }}
        </option>
    </select>
</app-content>