<app-title
        [title]="'Thread Statistics'">
</app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x margin-x">
            <div class="cell small-6">
                <select (change)="onDateChange()" [(ngModel)]="model.month">
                    <option *ngFor="let month of months" [value]="month.number">{{month.name}}</option>
                </select>
            </div>
            <div class="small-6">
                <select (change)="onDateChange()" [(ngModel)]="model.year">
                    <option *ngFor="let year of years" [value]="year">{{year}}</option>
                </select>
            </div>
        </div>
    </div>
    <hr />
    <app-graph-bar-chart [data]="barChartData"></app-graph-bar-chart>
</app-content>
