.hour {
    text-align: center;
    transition: 0.5s;
    padding: 1rem;
}

.hour:hover {
    background: #f7f7f7;
    cursor: pointer;
}

.current-slot {
    font-weight: bold;
}

.NA, .OC, .EU {
    font-weight: bold;;
}

.OC {
    color: rgb(238, 162, 154);
}

.NA {
    color: rgb(171, 145, 189);
}

.EU {
    color: rgb(126, 168, 218);
}