.hour {
    text-align: center;
    transition: 0.5s;
    padding: 1rem;
}

.hour:hover {
    background: #f7f7f7;
    cursor: pointer;
}

.current-slot {
    font-weight: bold;
}

.NA, .OC, .EU, .NONE {
    font-weight: bold;
}

.OC {
    color: #eea29a;
}

.NA {
    color: #ab91bd;
}

.EU {
    color: #a3c2f1;
}

.NONE {
    color: #6b6a6a
}
