<div class="user-link">
    <div class="mini-profile">
        <div class="mini-cover" [style]="coverUrl | safeStyle">
            <div class="mini-username">
                <span [style]="nameStyling | safeStyle">{{ user.nickname }}</span>
            </div>
        </div>
        <div [style]="avatarUrl | safeStyle" class="mini-av"></div>
        <div class="mini-info">
            <div class="grid-x">
                <div class="cell small-12 mini-links">
                    <b>Join Date:</b> {{ joinDate }}<br />
                    <b>Posts:</b> {{ posts }} - <b>Likes:</b> {{ likes }} <br />
                    <a [routerLink]="['/home/search/threads/page/1']" [queryParams]="{ byUser: user.nickname, order: 'desc'}">Search posts by user &raquo;</a> <br />
                </div>
            </div>
        </div>
    </div>
    <a [routerLink]="['/user/profile/', user.nickname]" [style.background]="effect">
        <img *ngIf="iconImage" [ngClass]="iconPosition + '-icon'" [src]="iconImage" alt="Icon"/>
        <span [style]="nameStyling | safeStyle">{{ user.nickname }}</span>
    </a>
</div>
