<app-title
    [tabs]="tabs"
    [title]="'Request THC'"
    (onTabClick)="onTabClick($event)">
</app-title>
<app-content>
    Here you can request THC for a specific user which won a forum, events or radio competition.
    <br />
    <br />
    You can add multiple at one time, just click "Add row" above to add another line to fill in
    <br />
    <br />

    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y" *ngFor="let item of rows">
            <div class="cell small-2">
                <div class="label"><strong>Nickname:</strong></div>
                <input type="text" [(ngModel)]="item.nickname" />
            </div>
            <div class="cell small-2">
                    <div class="label"><strong>Amount:</strong></div>
                <input type="number" [(ngModel)]="item.amount" />
            </div>
            <div class="cell small-7">
                    <div class="label"><strong>Reason</strong></div>
                <input type="text" [(ngModel)]="item.reason" />
            </div>
            <div class="cell small-1">
                <i class="fas fa-trash" (click)="remove(item.id)"></i>
            </div>
        </div>
    </div>
</app-content>
