<label *ngIf="canBookForOther"><strong>User</strong> <em> (Leave empty for yourself)</em></label>
<input type="text" placeholder="Search for Nickname..." [(ngModel)]="nickname" *ngIf="canBookForOther"/>
<div *ngIf="canSelectEvent" class="event-type">
    <strong>Select event</strong>
    <select [(ngModel)]="eventId">
        <option *ngFor="let item of events" [value]="item.eventId">{{item.name}}</option>
    </select>

    <label>Room Link <em>(Can be empty, but should be filled before event!)</em></label>
    <input name="username" [(ngModel)]="link" type="text" placeholder="">
</div>
