<div>
    <app-title [title]="'Request Line'" [tabs]="tabs" (onTabClick)="onAction($event);"></app-title>
    <app-content>
        Below are all the current requests to the current Radio DJ. <br/>
        You can either choose to delete the requests that you have fulfilled to keep it clear you can let them <br/>
        be as they are. Only the requests within 2 hours time are shown and older will automatically not be shown!.
    </app-content>

    <div *ngFor="let item of requests; let first = first">
        <app-content>
            <em class="fas fa-trash delete" *ngIf="canDeleteRequests" (click)="onDelete(item)"></em>
            <div class="quotepost">
                {{item.nickname}} - {{item.createdAt}}
                <br/>
                <br/>
                {{item.content}}
            </div>
            <em *ngIf="item.ip">IP: {{item.ip}}</em>
        </app-content>
    </div>
</div>
