<div class="menu-overlay" [ngClass]="showMenu ? 'menu-overlay-show' : ''" (click)="showMenu = false"></div>
<div class="menu" [ngClass]="showMenu ? 'menu-show' : ''">
    <span class="close" (click)="showMenu = false"><i class="fas fa-times"></i> Close</span>
    <div class="user" *ngIf="isLoggedIn">
        <img class="avatar" [style.backgroundImage]="'url(' + avatar + ')'" />
        <span class="mobile-nickname">{{username}}</span>
        <div class="quick-links">
            <a *ngIf="isAdmin" [routerLink]="['/admin/dashboard']" (click)="showMenu = false">SiteCP</a>
            <a *ngIf="isStaff" [routerLink]="['/staff/dashboard']" (click)="showMenu = false">StaffCP</a>
            <a [routerLink]="['/user/usercp']" (click)="showMenu = false">UserCP</a>
        </div>
    </div>
    <div class="menu-item" *ngFor="let item of routes">
        <a *ngIf="!item.isLogout" [routerLink]="[item.url]" (click)="showMenu = false"><i [ngClass]="item.icon"></i> {{item.label}}</a>
        <a *ngIf="item.isLogout" (click)="showMenu = false; logout()"><i [ngClass]="item.icon"></i> {{item.label}}</a>
        <i *ngIf="item.haveChildren" nicknameclass="fas fa-plus-square expand" (click)="item.isExpanded = !item.isExpanded"></i>
        <div *ngIf="item.isExpanded" class="children">
            <div *ngFor="let child of item.children" class="child">
                <a *ngIf="!child.isDivider" [routerLink]="[child.url]" (click)="showMenu = false"><i [ngClass]="child.icon"></i> {{child.label}}</a>
                <div *ngIf="child.isDivider" class="divider"></div>
            </div>
        </div>
    </div>
</div>
<div class="search-bar" [ngClass]="isFixed ? 'fixed-menu' : ''">
    <div class="logo-bar">
        <div class="grid-container">
            <div class="top-bar pc">
                <app-navigation></app-navigation>
                <div class="welcome">
                    <div class="experience" *ngIf="isLoggedIn">
                        <div class="experience-level">Level 99 (4%)</div>
                        <div class="experience-percentage"></div>
                    </div>
                    <div class="logged-in" *ngIf="isLoggedIn; else unregistered">
                        <div class="dropdown nickname-wrapper">
                            Hello, <span class="nickname">{{nickname}}</span>
                            <div class="dropdown-content">
                                <a *ngIf="isAdmin" [routerLink]="['/admin/dashboard']">SiteCP</a>
                                <a *ngIf="isStaff" [routerLink]="['/staff/dashboard']">StaffCP</a>
                                <a [routerLink]="['/user/usercp']">UserCP</a>
                                <div class="divider"></div>
                                <a (click)="logout()">Logout</a>
                            </div>
                            <div><i class="fas fa-coins"></i> 4,300 - <i class="fas fa-gem"></i> 3</div>
                        </div>
                    </div>
                    <ng-template #unregistered>
                        <div class="unregistered">
                            Hello, <b>unregistered</b>!<br>
                            Click <a [routerLink]="['/auth/register']" class="register-link">here</a> to register for
                            free!!
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="radio-controls mobile">
                <i class="fas fa-bars" (click)="showMenu = !showMenu"></i>
                <app-radio-controls></app-radio-controls>
            </div>
        </div>
    </div>
</div>