<div class="menu-overlay" [ngClass]="showMenu ? 'menu-overlay-show' : ''" (click)="closeMenu()"></div>
<div class="menu" [ngClass]="menuClasses">
    <span class="close" (click)="closeMenu()"><em class="fas fa-times"></em> Close</span>
    <div class="user" *ngIf="isLoggedIn">
        <div (click)="goToProfile()">
            <img class="avatar" [style.backgroundImage]="'url(' + avatar + ')'"/>
            <span class="mobile-nickname">{{username}}</span>
        </div>
        <div class="quick-links">
            <a *ngIf="isSitecp" [routerLink]="['/sitecp/dashboard']" (click)="closeMenu()">SiteCP</a>
            <a *ngIf="isStaff" [routerLink]="['/staff/dashboard']" (click)="closeMenu()">StaffCP</a>
            <a [routerLink]="['/user/usercp']" (click)="closeMenu()">UserCP</a>
        </div>
    </div>
    <div class="menu-item" *ngFor="let item of routes">
        <a *ngIf="!item.isLogout" [routerLink]="[(item.isHomePage ? homePage : item.url)]" (click)="closeMenu()"><em
                [ngClass]="item.icon"></em>
            {{item.label}}</a>
        <a *ngIf="item.isLogout" (click)="closeMenu(); logout()"><em [ngClass]="item.icon"></em> {{item.label}}</a>
        <em *ngIf="item.haveChildren" class="fas expand"
            [ngClass]="item.isExpanded ? 'fa-minus-square' : 'fa-plus-square'"
            (click)="item.isExpanded = !item.isExpanded"></em>
        <div *ngIf="item.isExpanded" class="children">
            <div *ngFor="let child of item.children" class="child">
                <a *ngIf="!child.isDivider" [routerLink]="[child.url]" (click)="closeMenu()">{{child.label}}</a>
                <div *ngIf="child.isDivider" class="divider"></div>
            </div>
        </div>
    </div>
</div>
<div class="search-bar" [ngClass]="isFixed ? 'fixed-menu' : ''">
    <div class="logo-bar">
        <div class="grid-container">
            <div class="top-bar pc">
                <app-navigation></app-navigation>
                <div class="welcome">
                    <div class="experience" *ngIf="isLoggedIn">
                        <div class="experience-level">Level {{level}} ({{percentage}}%)</div>
                        <div class="experience-percentage" [style.width]="percentage + '%'"></div>
                    </div>
                    <div class="logged-in" *ngIf="isLoggedIn; else unregistered">
                        <div class="dropdown nickname-wrapper">
                            Hello, <span class="nickname" (click)="goToProfile()">{{nickname}}</span>
                            <div class="dropdown-content">
                                <a (click)="goToProfile()">My Profile</a>
                                <div class="divider"></div>
                                <a *ngIf="isSitecp" [routerLink]="['/sitecp/dashboard']">SiteCP</a>
                                <a *ngIf="isStaff" [routerLink]="['/staff/dashboard']">StaffCP</a>
                                <a [routerLink]="['/user/usercp']">UserCP</a>
                                <div class="divider"></div>
                                <a (click)="logout()">Logout</a>
                            </div>
                            <div><em class="fas fa-coins"></em> {{credits | number: '1.'}}</div>
                        </div>
                    </div>
                    <ng-template #unregistered>
                        <div class="unregistered">
                            Hello, <strong>unregistered</strong>!<br>
                            Click <a [routerLink]="['/auth/register']" class="register-link">here</a> to register for
                            free!!
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="radio-controls mobile">
                <em class="fas fa-bars" (click)="showMenu = !showMenu"></em>
                <app-radio-controls></app-radio-controls>
            </div>
        </div>
    </div>
</div>

<div class="grid-container content-margin">
    <div class="plain-content-box mobile-breadcrumb">
        <app-breadcrumb></app-breadcrumb>
    </div>
</div>