<app-title [title]="'Edit Name Settings'" [tabs]="tabs" (onTabClick)="onSave()"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6">
                <label>Name Color (Hex Code):<br>For gradients, enter a list of hex codes (separated by commas)</label>
                <div *ngIf="canUpdateSettings">
                    <input [(ngModel)]="colors" type="text" (ngModelChange)="onDataChange()"/>
                </div>
                <app-info-box [model]="colorInfoModel" *ngIf="!canUpdateSettings"></app-info-box>
                <label>Name Icon:</label>
            </div>
            <div class="cell small-12 medium-6">
                Preview:<br>
                <app-user-link [user]="tempUser"></app-user-link>
            </div>
            <div class="cell small-12 medium-6">
                <div *ngIf="availableNameIcons.length > 0">
                    <div class="cell small-4 medium-2" *ngFor="let nameIcon of availableNameIcons"
                         [ngClass]="isCurrentIcon(nameIcon) ? 'selected' : ''">
                        <div class="container" (click)="onNameIconToggle(nameIcon)">
                            <img [src]="'/resources/images/shop/' + nameIcon.shopItemId + '.gif'"/>
                            <div class="overlay"></div>
                        </div>
                    </div>
                    <label>Icon Position</label>
                    <select [(ngModel)]="iconPosition" (ngModelChange)="onDataChange()">
                        <option value="left">Left</option>
                        <option value="right">Right</option>
                    </select>
                </div>
                <br/>
                <app-info-box [model]="iconInfoModel" *ngIf="availableNameIcons.length === 0"></app-info-box>
                <div *ngIf="availableNameEffects.length > 0">
                    <label>Name Effect:</label>
                    <span *ngFor="let nameEffect of availableNameEffects">
                        <label class="checkbox-container">
                            <span class="name-effect"
                                  [style.background]="nameEffectStyle(nameEffect)">{{ nameEffect.title }}</span>
                            <input type="checkbox" [checked]="effectId === nameEffect.shopItemId"
                                   (change)="effectId = $event.target.checked ? nameEffect.shopItemId : 0; this.onDataChange()">
                            <span class="checkmark"></span>
                        </label>
                    </span>
                </div>
                <app-info-box [model]="effectInfoModel" *ngIf="availableNameEffects.length === 0"></app-info-box>
            </div>
        </div>
    </div>
</app-content>
