<app-title [title]="'Updating Staff of the Week'" [tabs]="tabs" (onTabClick)="onSave()"></app-title>
<app-content>
    <div class="label">Start Date (e.g. 8th)</div>
    <input name="info-startDay" type="text" [(ngModel)]="model.startDay" />

    <div class="label">End Date (e.g. 8th)</div>
    <input name="info-endDay" type="text" [(ngModel)]="model.endDay" />

    <div class="label">Month (e.g. January)</div>
    <select name="info-month" [(ngModel)]="model.month">
        <option *ngFor="let month of months" [value]="month">
            {{ month }}
        </option>
    </select>

    <div class="label">Global Management</div>
    <input name="info-glob-management" type="text" [(ngModel)]="model.globalManagement" />

    <br /><br />

    <div class="label">EU Management</div>
    <input name="info-eu-management" type="text" [(ngModel)]="model.europeManagement" />

    <div class="label">EU Radio</div>
    <input name="info-eu-radio" type="text" [(ngModel)]="model.europeRadio" />

    <div class="label">EU Events</div>
    <input name="info-eu-events" type="text" [(ngModel)]="model.europeEvents" />

    <br /><br />

    <div class="label">OC Management</div>
    <input name="info-oc-management" type="text" [(ngModel)]="model.oceaniaManagement" />

    <div class="label">OC Radio</div>
    <input name="info-oc-radio" type="text" [(ngModel)]="model.oceaniaRadio" />

    <div class="label">OC Events</div>
    <input name="info-oc-events" type="text" [(ngModel)]="model.oceaniaEvents" />

    <br /><br />

    <div class="label">NA Management</div>
    <input name="info-na-management" type="text" [(ngModel)]="model.northAmericanManagement" />

    <div class="label">NA Radio</div>
    <input name="info-na-radio" type="text" [(ngModel)]="model.northAmericanRadio" />

    <div class="label">NA Events</div>
    <input name="info-na-events" type="text" [(ngModel)]="model.northAmericanEvents" />

    <br /><br />

    <div class="label">Moderation</div>
    <input name="info-moderation" type="text" [(ngModel)]="model.moderation" />

    <div class="label">Media</div>
    <input name="info-media" type="text" [(ngModel)]="model.media" />

    <div class="label">Quests</div>
    <input name="info-quests" type="text" [(ngModel)]="model.quests" />

    <div class="label">Graphics</div>
    <input name="info-graphics" type="text" [(ngModel)]="model.graphics" />

    <div class="label">Audio Producers</div>
    <input name="info-audio-producer" type="text" [(ngModel)]="model.audioProducer" />
</app-content>