.latest-post-info {
    float: left;
    margin-top: 10px;
    margin-left: 12px;
}

.latest-post-page {
    padding: 10px;
    background: #fbfbfb;
    box-shadow: inset 0 1px 2px rgba(197, 197, 197, 0.18);
    margin-bottom: 2px;
}

.latest-post {
    padding: 10px;
    background: #fbfbfb;
    box-shadow: inset 0 1px 2px rgba(197, 197, 197, 0.18);
    margin-bottom: 2px;
    margin-right: 2px;
}