<app-title [title]="'Theme Manager'" [tabs]="tabs" (onTabClick)="onSave()"></app-title>
<app-content>
    Select the Theme below which you wish to use on the website.<br/><br/> When selecting a Theme it will automatically change your CSS styling. Don't worry, if you don't want to keep the Theme just don't press save! If you wish to keep it then please press save before leaving the page.
    <br><br>
    <label>Select Theme</label>
    <select [(ngModel)]="themeId" (ngModelChange)="applyTheme()">
        <option [value]="0">Default</option>
        <option *ngFor="let theme of themes" [value]="theme.themeId">
            {{theme.title}}
        </option>
    </select>
</app-content>