<app-title [title]="title" [tabs]="tabs" (onTabClick)="createBan()"></app-title>
<app-content>
    On this page you can see all the current and previous bans this user have related with this account. <br />
    Each ban is it's own card and will contain information if the ban is still in effect. The effect of a ban can have been <br />
    removed because of the following reasons: <br />
    <ul>
        <li>The users ban got lifted</li>
        <li>The users ban have expired</li>
    </ul>
</app-content>

<div class="grid-container full">
    <div class="grid-x grid-margin-y margin-x">
        <div class="cell small-6" *ngFor="let ban of bans">
            <app-title [title]="'Ban'" [tabs]="canLift(ban) ? banTabs : []" (onTabClick)="liftBan(ban.banId)"></app-title>
            <app-content>
                <div class="ban">
                    <strong>User that made ban:</strong> {{ban.banner.nickname}} <br />
                    <strong>Reason:</strong> {{ban.reason}} <br />
                    <strong>Expires at:</strong> {{ban.isLifted ? 'Lifted' : getTime(ban.expiresAt)}} <br />
                </div>
                <div *ngIf="ban.isLifted">
                    <strong>Lifted by:</strong> {{ban.lifter.nickname}} <br />
                    <strong>Lift reason:</strong> {{ban.liftReason}} <br />
                    <strong>Ban lifted at:</strong> {{getTime(ban.updatedAt)}} <br />
                </div>
            </app-content>
        </div>
    </div>
</div>
