<app-stats-boxes [stats]="stats"></app-stats-boxes>

<app-content [top]="rouletteBorder">
    <div #wheel class="wheel">
        <div class="line"></div>
        <div #wrapper class="wrapper">
            <div *ngFor="let number of numbers" class="number" [ngClass]="number.color">
                {{number.number}}
            </div>
        </div>
    </div>
</app-content>

<app-content [top]="betBorder">
    <div class="grid-container full">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell small-12">
                <label>
                    Maximum bet: 2,500
                    <span tooltip="If the color wheel shows wrong, make sure you got your cache cleaned!&#xa;The wheel is just a representation, the actual calculation of color etc is done on the server"
                          class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                </label>
                <input type="number" [(ngModel)]="amount"/>
            </div>
            <div [ngClass]="isSpinning ? 'disabled' : ''" class="cell small-4 bet bet-black" (click)="spin('black')">
                Black
            </div>
            <div [ngClass]="isSpinning ? 'disabled' : ''" class="cell small-4 bet bet-green" (click)="spin('green')">
                Green
            </div>
            <div [ngClass]="isSpinning ? 'disabled' : ''" class="cell small-4 bet bet-red" (click)="spin('red')">
                Red
            </div>
        </div>
    </div>
</app-content>
