<app-title [title]="title" [tabs]="tabs" (onTabClick)="onTabClick($event)"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x margin-x">
            <div class="cell small-6">
                <label>Title:</label>
                <input name="title" [(ngModel)]="model.title" type="text" placeholder="">
            </div>
            <div class="cell small-6">
                <label>Points:</label>
                <input name="ponts" [(ngModel)]="model.points" type="number" placeholder="">
            </div>
            <div class="cell small-6">
                <label>Life Time: <em>(days)</em></label>
                <input name="password" [(ngModel)]="model.lifeTime" type="number" [disabled]="isPersisted">
            </div>
            <div class="cell small-6">
                <br />
                <br />
                <label class="checkbox-container">
                    Is Persisted <em>(One year)</em>:
                    <input type="checkbox" [ngModel]="isPersisted" (ngModelChange)="onIsPersistedToggle()">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
</app-content>