<div *ngIf="data.isBanning">
    <strong>Length of ban:</strong>
    <select [(ngModel)]="data.length">
        <option [value]="3600">1 hour</option>
        <option [value]="43200">12 hours</option>
        <option [value]="86400">1 day</option>
        <option [value]="172800">2 days</option>
        <option [value]="604800">1 week</option>
        <option [value]="2419200">1 month</option>
        <option [value]="0">Permanent</option>
    </select>
</div>
<strong>Reason:</strong>
<input type="text" [(ngModel)]="data.reason"/>
