<app-title [title]="'Habbo'" [tabs]="tabs" (onTabClick)="onSave()"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x margin-x">
            <div class="cell small-12 position-relative">
                <strong>You current set habbo is:</strong> <br />
                <span class="habbo">{{habbo}}</span>
                <hr />
                Update your habbo, to update your habbo you have to prepare with this: <br />
                <li>Your habbo needs to be one month or older</li>
                <li>Your habbo motto most be <strong>{{motto}}</strong> and nothing else</li>
                <br />
                Type in your habbo name below which you wanna update to, and then click save up to the right <br />
                <input type="test" name="habbo" [(ngModel)]="newHabbo" />
            </div>
        </div>
    </div>
</app-content>
