<div class="grid-container full">
    <div class="grid-x margin-x">
        <div class="cell small-3 ng-star-inserted">
            <div class="content-wrapper green-top">
                <div class="content2">
                    <div class=""><em class="fas fa-user"></em>
                    </div>
                    <div class="title1">Current Season</div>
                    <div class="title2">Season Viewing</div>
                </div>
            </div>
        </div>
        <div class="cell small-3 ng-star-inserted">
            <div class="content-wrapper green-top">
                <div class="content2">
                    <div class=""><em class="fas fa-calendar-alt"></em></div>
                    <div class="title1">01/01/2019</div>
                    <div class="title2">Season Started</div>
                </div>
            </div>
        </div>
        <div class="cell small-3 ng-star-inserted">
            <div class="content-wrapper green-top">
                <div class="content2">
                    <div class=""><em class="fas fa-calendar-alt"></em></div>
                    <div class="title1">01/03/2019</div>
                    <div class="title2">Season Ended</div>
                </div>
            </div>
        </div>
        <div class="cell small-3 ng-star-inserted">
            <div class="content-wrapper green-top">
                <div class="content2">
                    <div class=""><em class="fas fa-user"></em>
                    </div>
                    <div class="title1">Dez</div>
                    <div class="title2">Season Champion (1,600)</div>
                </div>
            </div>
        </div>

        <div class="cell small-12 medium-3">
            <app-title [title]="'Leaderboard & Seasons Page'"></app-title>
            <app-content>
                Content here dez
            </app-content>
        </div>
        <div class="cell small-12 medium-6">
            <app-title [title]="'Leaderboard & Seasons Page'"></app-title>
            <app-content>
                Content here dez
            </app-content>
        </div>
        <div class="cell small-12 medium-3">
            <app-title [title]="'Season'"></app-title>
            <app-content>
                <select id="job-form-job" class="login-form-input">
                    <option value="Any" selected="">Current Season</option>
                    <option value="Events Host">Season 21</option>
                    <option value="Graphics Artist">Season 20</option>
                    <option value="Media Reporter">Season 19</option>
                    <option value="Quests &amp; Tutorials">Season 18</option>
                    <option value="Radio DJ">Season 17</option>
                </select>
            </app-content>
        </div>
    </div>
</div>
