<app-title [title]="'Notifications'"></app-title>
<app-content>
    <div class="notification-view" *ngFor="let notification of notifications" [ngSwitch]="notification.type">
        <app-top-bar-thread-view *ngSwitchCase="1" [notification]="notification"></app-top-bar-thread-view>
        <app-top-bar-thread-view *ngSwitchCase="2" [notification]="notification"></app-top-bar-thread-view>
        <app-top-bar-thread-view *ngSwitchCase="4" [notification]="notification"></app-top-bar-thread-view>

        <app-top-bar-badge-view *ngSwitchCase="3" [notification]="notification"></app-top-bar-badge-view>
        <app-top-bar-category-view *ngSwitchCase="5" [notification]="notification"></app-top-bar-category-view>
        <app-top-bar-infraction-view *ngSwitchCase="6" [notification]="notification"></app-top-bar-infraction-view>
        <app-top-bar-infraction-view *ngSwitchCase="7" [notification]="notification"></app-top-bar-infraction-view>
        <app-top-bar-follower-view *ngSwitchCase="8" [notification]="notification"></app-top-bar-follower-view>
        <app-top-bar-visitor-message-view *ngSwitchCase="9"
                                          [notification]="notification"></app-top-bar-visitor-message-view>
    </div>
</app-content>

<app-pagination [paginationModel]="pagination"></app-pagination>