.post-bit {
    color: #7d7d7d;
}

.post-bit-row {
    background: rgba(165, 161, 161, .02);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .02);
    color: #8c8a8a;
    padding: 0.4rem;
    text-shadow: #fff 1px 1px 0;
}