<div *ngIf="isPrivate" class="align-center">
    <app-title [title]="'Private Profile'" [tabs]="followerTabs" (onTabClick)="onFollowerTabClick($event)"></app-title>
    <app-content>
        This profile is private! You are not allowed to visit this profile, if you wanna be able to see<br/>
        this profile you need to be an approved follower, so let's get following!
    </app-content>
</div>

<div *ngIf="!isPrivate">
    <div class="grid-container">
        <div class="grid-x margin-x">
            <div class="cell small-12">
                <app-cover-photo-with-avatar [hideAvatar]="true" [userId]="coverPhotoData.userId"
                                             [version]="coverPhotoData.version"
                                             [isVisible]="true"></app-cover-photo-with-avatar>
            </div>
            <div class="cell small-12 medium-3">
                <app-title [title]="'User Profile : Public'"></app-title>
                <app-content>
                    <div class="profile-name">
                        <app-user-link [user]="user"></app-user-link>
                    </div>

                    <div class="profile-avatar">
                        <img [src]="avatar" alt="Avatar">
                    </div>

                    <div class="post-bit">
                        <div class="post-bit-row">
                            <strong>ThisHabbo ID:</strong>
                            <div class="float-right">
                                #{{stats.userId}}
                            </div>
                        </div>
                        <div class="post-bit-row">
                            <strong>Last Active:</strong>
                            <div class="float-right">
                                {{stats.lastActivity}}
                            </div>
                        </div>
                        <div class="post-bit-row">
                            <strong>Registered:</strong>
                            <div class="float-right">
                                {{stats.createdAt}}
                            </div>
                        </div>
                        <div class="post-bit-row">
                            <strong>Likes:</strong>
                            <div class="float-right">
                                {{stats.likes | number: '1.'}}
                            </div>
                        </div>
                        <div class="post-bit-row">
                            <strong>Threads Created:</strong>
                            <div class="float-right">
                                {{stats.threads | number: '1.'}}
                            </div>
                        </div>
                        <div class="post-bit-row">
                            <strong>Posts Created:</strong>
                            <div class="float-right">
                                {{stats.posts | number: '1.'}}
                            </div>
                        </div>
                    </div>
                </app-content>
                <div *ngIf="accolades.length > 0">
                    <app-title [title]="'Accolades'"></app-title>
                    <app-content>
                        <div *ngFor="let accolade of accolades">
                            <span [style.color]="accolade.color"><i [ngClass]="accolade.icon"></i> {{accolade.role}}
                                »</span>
                            {{accolade.getStartLabel()}} - {{accolade.getEndLabel()}}
                        </div>
                    </app-content>
                </div>

                <app-title [title]="'All Time Stats'"></app-title>
                <app-content>
                    <div class="latest-post"><i class="fas fa-trophy gold-trophy"></i><b> Best Season:</b> 3rd (Season
                        11)
                    </div>
                    <div class="latest-post"><i class="fas fa-trophy gold-trophy"></i><b> Participated in:</b> 8 Seasons
                    </div>
                    <div class="latest-post"><i class="fas fa-trophy gold-trophy"></i><b> Most Events:</b> 20 (Season
                        11)
                    </div>
                    <div class="latest-post"><i class="fas fa-trophy gold-trophy"></i><b> Most Radio Slots:</b> 20
                        (Season 8)
                    </div>
                    <div class="latest-post"><i class="fas fa-trophy gold-trophy"></i><b> Most Radio Slots:</b> 20
                        (Season 8)
                    </div>
                    <div class="latest-post"><i class="fas fa-trophy gold-trophy"></i><b> Most Posts in Season:</b> 9
                        (203)
                    </div>
                    <div class="latest-post"><i class="fas fa-trophy gold-trophy"></i><b> Most Threads in Season:</b> 3
                        (23)
                    </div>
                </app-content>
            </div>
            <div class="cell small-12 medium-6">
                <app-editor #editor [title]="'Visitor Messages'" [slim]="true" [buttons]="sendButton"
                            (onTabClick)="onPost()"></app-editor>
                <div *ngIf="visitorMessages">
                    <app-user-profile-visitor-message *ngFor="let visitorMessage of visitorMessages"
                                                      [hostId]="user.userId"
                                                      [visitorMessage]="visitorMessage"
                                                      (onRemove)="onRemove(visitorMessage)">
                    </app-user-profile-visitor-message>
                    <app-pagination [paginationModel]="pagination"></app-pagination>
                </div>
            </div>

            <div class="cell small-12 medium-3">
                <app-title [title]="'Followers (' + followers.total + ')'" [tabs]="followerTabs"
                           (onTabClick)="onFollowerTabClick($event)"></app-title>
                <app-content>
                    <div class="followers" *ngFor="let follower of followers.followers">
                        <img appUserProfile [isSmall]="true" [info]="follower">
                        <div class="follower">
                            <b>Follower</b><br/>
                            <app-user-link [user]="follower"></app-user-link>
                        </div>
                    </div>
                    <div *ngIf="followers.followers.length === 0" class="align-center">
                        ¯\_(ツ)_/¯
                    </div>
                </app-content>

                <app-user-profile-activities *ngIf="activities.length > 0"
                                             [activities]="activities"></app-user-profile-activities>

                <div *ngIf="relations.love || relations.like || relations.hate">
                    <app-title [title]="'Relations'"></app-title>
                    <app-content>
                        <div class="relation" *ngIf="relations.love">
                            <img src="/assets/images/heart.png"/>
                            <app-user-link [user]="relations.love"></app-user-link>
                        </div>
                        <div class="relation" *ngIf="relations.like">
                            <img src="/assets/images/smile.png"/>
                            <app-user-link [user]="relations.like"></app-user-link>
                        </div>
                        <div class="relation" *ngIf="relations.hate">
                            <img src="/assets/images/skull.png"/>
                            <app-user-link [user]="relations.hate"></app-user-link>
                        </div>
                    </app-content>
                </div>

                <div *ngIf="youtube">
                    <app-title [title]="'YouTube'"></app-title>
                    <app-content>
                        <iframe width="274" height="400" [src]="youtube" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </app-content>
                </div>
            </div>
        </div>
    </div>
</div>