<div *ngIf="mainCategories.length > 0">
    <app-table *ngFor="let item of mainCategories; let first = first;"
               [config]="getTableConfigFor(item)"
               [tabs]="first ? mainTabs : contractTabs"
               [isContracted]="isCategoryContracted(item.categoryId)"
               (onTabClick)="onTabClick($event, item.categoryId)"
               (onAction)="onAction($event)">
    </app-table>
</div>
<div *ngIf="mainCategories.length === 0">
    <app-title [title]="'Categories'" [tabs]="mainTabs"></app-title>
</div>
