<div class="grid-container full">
    <div class="grid-x grid-margin-x">
        <div class="cell small-8">
            <app-title
                    [title]="'Snake - Score: ' + score"
                    [tabs]="tabs"
                    (onTabClick)="start()">
            </app-title>
            <app-content>
                <canvas style="width: 100%;" #game></canvas>
            </app-content>
        </div>
        <div class="cell small-1"></div>
        <div class="cell small-3">
            <app-title [title]="'Highscore'"></app-title>
            <app-content>
                <div class="highscore-row" *ngFor="let highscore of highscoreList; let i = index;">
                    {{i + 1}}.
                    <app-user-link [user]="highscore.user"></app-user-link>

                    <span class="float-right">{{highscore.score}} candies</span>
                </div>
            </app-content>
        </div>
    </div>
</div>