<app-title [title]="'Latest Threads'"></app-title>

<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 latest-thread-page" *ngFor="let item of items"
                 [ngClass]="!isSingleRow ? 'medium-6' : ''">
                <img appUserProfile appLazyLoad [float]="'left'"
                     [image]="'/rest/resources/images/users/' + item.user.userId + '.gif'"/>
                <div class="latest-thread-info truncate">
                    <a [routerLink]="['/forum', 'thread', item.threadId, 'page', 1]"
                       [ngClass]="item.isRead ? '' : 'bold'">
                        <span *ngIf="item.text" [style]="item.style | safeStyle">{{item.text}} »</span> {{item.title}}
                    </a>
                    <br/>
                    By
                    <app-user-link [user]="item.user"></app-user-link>
                    <br/>
                    {{item.time}}
                </div>
            </div>
        </div>
    </div>
</app-content>

<app-pagination [paginationModel]="pagination"></app-pagination>
