.latest-thread-info {
    float: left;
    margin-top: 10px;
    margin-left: 1rem;
}

.latest-thread {
    padding: 10px;
    width: 100%;
    background: #fbfbfb;
    box-shadow: inset 0 1px 2px rgba(197, 197, 197, 0.09);
    margin-bottom: 2px;
    margin-top: 1px;
}