<div class="grid-container content-margin">
    <div class="grid-x margin-x">
        <div class="cell small-12 medium-9">
            <app-title [title]="'Job Form'" [tabs]="isLoggedIn ? tabs : []" (onTabClick)="onApply()"></app-title>
            <app-content>
                <div class="grid-container content-margin" *ngIf="isLoggedIn">
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-12 medium-6">
                            <label>Habbo Name</label>
                            <input [(ngModel)]="data.habbo"/>
                        </div>
                        <div class="cell small-12 medium-6">
                            <label>Discord</label>
                            <input [(ngModel)]="data.discord"/>
                        </div>
                        <div class="cell small-12 medium-6">
                            <label>Country</label>
                            <input [(ngModel)]="data.country"/>
                        </div>
                        <div class="cell small-12 medium-6">
                            <label>I'm interested in...</label>
                            <select [(ngModel)]="data.job">
                                <option [value]="'Not sure / not listed'">Not sure / not listed</option>
                                <option [value]="'Events'">Events</option>
                                <option [value]="'Radio'">Radio</option>
                                <option [value]="'Graphics'">Graphics</option>
                                <option [value]="'Media'">Media</option>
                                <option [value]="'Quest/tutorial reporter'">Quest/tutorial reporter</option>
                            </select>
                        </div>
                        <div class="cell small-12">
                            <label>About myself</label>
                            <textarea [(ngModel)]="data.content"></textarea>
                        </div>
                    </div>
                </div>
                <app-info-box *ngIf="!isLoggedIn" [model]="notLoggedIn"></app-info-box>
            </app-content>
        </div>
        <div class="cell small-12 medium-3">
            <app-title [title]="'Information'"></app-title>
            <app-content>
                If you just wanna contact TH and apply for any position you can <a
                    [routerLink]="['/page/contact']">Here</a> <br/>
                <br/>
                If you are looking for a position which are not available or are not sure then select "other" and type a
                bit about
                yourself and what you are interested in and we will try to find a good fit for you!
            </app-content>
        </div>
    </div>
</div>