<div class="grid-container content-margin">
    <div class="grid-x grid-margin-x">
        <div class="cell small-9">
            <app-title [title]="'Job Form'" [tabs]="isLoggedIn ? tabs : []" (onTabClick)="onApply()"></app-title>
            <app-content>

                <b>ThisHabbo</b> has remained strong and stable for the last 9 years, but, to continue we'll need <b>your</b>
                help! Have a look at what we have available below and see what you want to apply for. Remember, you can
                apply for multiple roles, so don't feel as if you should only apply for one, the more - the merrier!
                <br/><br/>
                ThisHabbo has moved to Discord because it's smarter and safer for our users & Staff, which is always our
                priority. Don't worry, we can help you if you're having problems setting one up. You can sign up to
                Discord by clicking <a href="https://discordapp.com/" target="_blank">here</a> if you don't have an
                account already.
                <br/><br/>
                <div class="grid-container content-margin" *ngIf="isLoggedIn">
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-12 medium-6">
                            <label>Habbo Name</label>
                            <input [(ngModel)]="data.habbo"/>
                        </div>
                        <div class="cell small-12 medium-6">
                            <label>Discord (e.g. Bob#4578)</label>
                            <input [(ngModel)]="data.discord"/>
                        </div>
                        <div class="cell small-12 medium-6">
                            <label>Country</label>
                            <input [(ngModel)]="data.country"/>
                        </div>
                        <div class="cell small-12">
                            <label>I'm interested in...</label>
                            <label class="checkbox-container" *ngFor="let job of jobs">
                                {{job.label}}
                                <input type="checkbox" [(ngModel)]="job.checked"/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="cell small-12">
                            <label>Tell us about yourself</label>
                            <textarea [(ngModel)]="data.content"></textarea>
                        </div>
                    </div>
                </div>
                <app-info-box *ngIf="!isLoggedIn" [model]="notLoggedIn"></app-info-box>
            </app-content>
        </div>
        <div class="cell small-12 medium-3">
            <app-title [title]="'Information'"></app-title>
            <app-content>
                If you are trying to contact ThisHabbo that isn't in relation to a job position, then this is not the
                form for you. Click <a
                    [routerLink]="['/page/contact']">here</a> and we'll take you to a different form which goes to our
                hardworking Administrators!
                <br/><br/>
                If you are looking for a position which isn't available or are not sure then select "Other". We'll then
                need to know a little more about you to then decide where we can best place you!
            </app-content>
        </div>
    </div>
</div>