.old-avatar {
    cursor: pointer;
    margin: 1.5rem 3rem;
    background: no-repeat center;
    background-size: cover;
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 10rem;
    height: 10rem !important;
}

.nickname {
    font-size: 15px;
    margin: 0 0 5px 0;
}

.nickname-top-inside {
    font-size: 15px;
    margin: 5px 0 0 0;
}

.nickname-bottom-inside {
    font-size: 15px;
    margin: 5px 0 0 0;
}