<app-title [title]="'Avatar'" [tabs]="tabs" (onTabClick)="onSave()"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x margin-x">
            <div class="cell small-12 medium-6 position-relative">
                <div>
                    <strong>Max Width:</strong> {{model.width}}
                    <strong>Max Height:</strong> {{model.height}}
                </div>
                <div>
                    <label>Upload Avatar:</label>
                    <input #avatar accept="image/*" type="file" (change)="readURL($event)"/>
                </div>
            </div>
            <div class="cell small-12 medium-offset-2 medium-4 position-relative">
                <label>Preview:</label>
                <app-user-post-bit [user]="user" [avatarSize]="model" [previewAvatar]="preview"></app-user-post-bit>
            </div>
        </div>
    </div>
</app-content>

<app-title [title]="'Previous avatars'"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell small-6 medium-4 align-center-middle old-avatar" *ngFor="let id of model.oldAvatarIds"
                 (click)="onOldAvatar(id)"
                 [style]="getOldAvatarUrl(id) | safeStyle">
            </div>
        </div>
    </div>
</app-content>
