<div [style]="miniProfilePosition | safeStyle" class="mini-profile">
    <div class="mini-cover" [style]="coverUrl | safeStyle">
        <div class="mini-username">
            <span [style]="nameStyling | safeStyle">{{ data.user.nickname }}</span>
        </div>
    </div>
    <div [style]="avatarUrl | safeStyle" class="mini-av"></div>
    <div class="mini-info">
        <div class="grid-x">
            <div class="cell small-6 mini-stat">
                <em class="fa fa-comment-alt"></em><br />
                {{ posts }} Posts
            </div>
            <div class="cell small-6 mini-stat">
                <em class="fa fa-thumbs-up"></em><br />
                {{ likes }} Likes
            </div>
            <div class="cell small-12 mini-links">
                <a [routerLink]="['/user/profile/', data.user.nickname]">Visit full profile &raquo;</a> <br />
                <a [routerLink]="['/home/search/threads/page/1']" [queryParams]="{ byUser: data.user.nickname, order: 'desc'}">Search threads by user &raquo;</a>

            </div>
        </div>
    </div>

</div>