<app-title [title]="title" [tabs]="tabs" (onTabClick)="onTabClick($event)"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell small-12 medium-6">
                <label>Title:</label>
                <input [(ngModel)]="model.title" type="text">
            </div>
            <div class="cell small-12 medium-6">
                <label>Display Order:</label>
                <input [(ngModel)]="model.displayOrder" type="number">
            </div>
            <div class="cell small-12">
                <label>Description:</label>
                <textarea [(ngModel)]="model.description"></textarea>
            </div>
        </div>
    </div>
</app-content>