<div class="grid-container full">
    <div class="grid-x margin-x">
        <div class="small-12 medium-9">
            <div class="games">
                <div class="grid-container full">
                    <div class="grid-x margin-x">
                        <div class="cell small-12">
                            <app-stats-boxes [stats]="stats"></app-stats-boxes>
                        </div>
                        <div class="cell small-6 medium-4">
                            <div class="article-container">
                                <div class="inner-image"></div>
                                <div class="container">
                                    <div class="author">
                                        <a class="title" (click)="game('fast-typer')"><em class="fas fa-gamepad"></em>
                                            Fastest Typer</a>
                                        <div class="content">
                                            How fast do YOU type?! Copy the paragraph given word by word to win! Any
                                            mistakes and you'll be penalised though... so focus up!
                                            The faster you type, the more you win!
                                        </div>
                                        <div class="information">
                                            <div class="highscore">
                                                <em class="fas fa-pencil-alt"></em> Created by <strong>Eric</strong>
                                                <br/>
                                                <em class="fas fa-trophy gold-trophy"></em> <strong> Dez</strong> <em>
                                                (54 wpm)</em><br/>
                                                <em class="fas fa-trophy silver-trophy"></em> <strong> Eric</strong>
                                                <em> (52 wpm)</em><br/>
                                                <em class="fas fa-trophy bronze-trophy"></em> <strong> Jesse</strong>
                                                <em> (51 wpm)</em><br/>
                                            </div>
                                        </div>
                                        <div class="information">
                                            <div class="highscore">
                                                <em class="fas fa-trophy gold-trophy"></em><strong> Dez</strong> has
                                                been <strong>champion</strong> since <strong>12/03/2019</strong> <br>
                                                <em class="fas fa-gamepad"></em> <strong> 14,000</strong> total plays
                                                <br>
                                                <em class="fas fa-gamepad"></em> <strong> 53</strong> this season Plays
                                            </div>
                                        </div>
                                        <div class="information">
                                            <em class="fas fa-ticket-alt"></em> <strong> 20 THC</strong> Per Play<br/>
                                            <em class="fas fa-trophy gold-trophy"></em> Win up to <strong>1,000
                                            THC</strong> based on your words per minute score!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell small-6 medium-4">
                            <div class="article-container">
                                <div class="image">
                                    <div class="inner-image"></div>
                                </div>
                                <div class="container">
                                    <div class="author">
                                        <a class="title" (click)="game('snake')"><em class="fas fa-gamepad"></em>
                                            "Erico"
                                            the Spannish Snake</a>
                                        <div class="content">
                                            Control Erico, the deadly poisonous snake, through various obstacles.
                                            The more you dodge and eat the apple, the higher your score, and the more
                                            you win!
                                        </div>
                                        <div class="information">
                                            <div class="highscore">
                                                <em class="fas fa-pencil-alt"></em> Created by <strong>Eric</strong>
                                                <br/>
                                                <em class="fas fa-trophy gold-trophy"></em> <strong> Dez</strong> <em>
                                                (54 pts)</em><br/>
                                                <em class="fas fa-trophy silver-trophy"></em> <strong> Eric</strong>
                                                <em> (52
                                                    pts)</em><br/>
                                                <em class="fas fa-trophy bronze-trophy"></em> <strong> Jesse</strong>
                                                <em> (51
                                                    pts)</em><br/>
                                            </div>
                                        </div>
                                        <div class="information">
                                            <div class="highscore">
                                                <em class="fas fa-trophy gold-trophy"></em><strong> Dez</strong> has
                                                been <strong>champion</strong>
                                                since <strong>12/03/2019</strong> <br>
                                                <em class="fas fa-gamepad"></em> <strong> 14,000</strong> total plays
                                                <br>
                                                <em class="fas fa-gamepad"></em> <strong> 53</strong> this season Plays
                                            </div>
                                        </div>
                                        <div class="information">
                                            <em class="fas fa-ticket-alt"></em> <strong> 20 THC</strong> Per Play<br/>
                                            <em class="fas fa-trophy gold-trophy"></em> Win up to <strong>1,000
                                            THC</strong> based
                                            on your in-game snake score!<br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cell small-6 medium-4">
                            <div class="article-container">
                                <div class="image">
                                    <div class="inner-image"></div>
                                </div>
                                <div class="container">
                                    <div class="author">
                                        <a class="title" [routerLink]="['/betting/roulette']"><em
                                                class="fas fa-gamepad"></em> Roulette</a>
                                        <div class="content">
                                            Stake your THC on either black, green or red. If the roulette lands on your
                                            chosen color you will win!
                                            550 Numbers. 250 Red. 250 Black. 10 Green. 100% Random!
                                        </div>
                                        <div class="information">
                                            <div class="highscore">
                                                <em class="fas fa-pencil-alt"></em> Created by <strong>Eric</strong>
                                                <br/>
                                                <em class="fas fa-trophy gold-trophy"></em> <strong> Dez</strong> <em>
                                                (won 1,400
                                                THC)</em><br/>
                                                <em class="fas fa-trophy silver-trophy"></em> <strong> Eric</strong>
                                                <em> (won
                                                    1,300 THC)</em><br/>
                                                <em class="fas fa-trophy bronze-trophy"></em> <strong> Jesse</strong>
                                                <em> (won
                                                    1,200 THC))</em><br/>
                                            </div>
                                        </div>
                                        <div class="information">
                                            <div class="highscore">
                                                <em class="fas fa-trophy gold-trophy"></em><strong> Dez</strong> has
                                                been <strong>champion</strong>
                                                since <strong>12/03/2019</strong> <br>
                                                <em class="fas fa-gamepad"></em> <strong> 14,000</strong> total plays
                                                <br>
                                                <em class="fas fa-gamepad"></em> <strong> 53</strong> this season Plays
                                            </div>
                                        </div>
                                        <div class="information">
                                            <em class="fas fa-ticket-alt"></em> <strong> 20 THC</strong> Per Play<br/>
                                            <em class="fas fa-trophy gold-trophy"></em> Correctly picking Black or Red
                                            is Double THC and picking Green is quintuple (x5) THC.<br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell small-12 medium-3">
            <app-title [top]="highscoreTop" [title]="'My Arcade Profile'"></app-title>
            <app-content>
                speak to dez
            </app-content>

            <app-title [top]="highscoreTop" [title]="'Season 23 Highscores'"></app-title>
            <app-content>
                speak to dez
            </app-content>
        </div>
    </div>
</div>
