<app-stats-boxes [stats]="stats"></app-stats-boxes>

<app-title
    [title]="'Dashboard'"
    [tabs]="tabs"
    (onTabClick)="onTabClick($event)">
</app-title>
<app-content>
        Welcome to the brand new ThisHabbo VX Staff Panel. Everything you have access to has been in development for over a year and has been completely recoded and has no connection to the previous version. You may see things that that certain things have been removed, while other things have been added. We hope you enjoy the new look panel. This is a permission ran panel and therefore, if you don't have access to the forums, you don't have access to the panel!<br />
        <br>
        If you're new - Welcome!<br>
        <br>
        <b>ThisHabbo Admins</b>
</app-content>