<app-title [title]="title" [tabs]="tabs" (onTabClick)="onTabClick($event)"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell small-12 medium-4">
                <label>Title</label>
                <input name="title" [(ngModel)]="model.title" type="text">
            </div>
            <div class="cell small-12 medium-4">
                <label>Description</label>
                <input name="title" [(ngModel)]="model.description" type="text">
            </div>
            <div class="cell small-12 medium-4">
                <label>Rarity</label>
                <select [(ngModel)]="model.rarity">
                    <option *ngFor="let rarity of rarities" [ngValue]="rarity.value">{{rarity.label}}</option>
                </select>
            </div>

            <div class="cell small-12">
                <label>Type</label>
                <span class="item-typ" *ngFor="let type of types">
                    <label class="checkbox-container">
                        {{type.label}}
                        <input type="checkbox" [checked]="model.type === type.value" (change)="model.type = type.value">
                        <span class="checkmark"></span>
                    </label>
                </span>
            </div>
        </div>
    </div>
</app-content>

<div *ngIf="model.type">
    <app-title [title]="'Configuration'"></app-title>
    <app-content>
        <div *ngIf="model.isNameIcon">
            <div class="grid-container">
                <div class="grid-x grid-margin-x grid-margin-y">
                    <div class="cell small-12 medium-6">
                        <label>Icon 16x16px</label>
                        <input #icon accept="image/*" type="file"/>
                    </div>
                    <div class="cell smell-12 medium-6" *ngIf="model.createdAt">
                        <label>Current Icon</label>
                        <img [src]="currentImage"/>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="model.isNameEffect">
            <div class="grid-container">
                <div class="grid-x grid-margin-x grid-margin-y">
                    <div class="cell small-12 medium-6">
                        <label>Effect 32x32px</label>
                        <input #effect accept="image/*" type="file"/>
                    </div>
                    <div class="cell smell-12 medium-6" *ngIf="model.createdAt">
                        <label>Current Effect</label>
                        <img [src]="currentImage"/>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="model.isSubscription">
            <div class="grid-container">
                <div class="grid-x grid-margin-x grid-margin-y">
                    <div class="cell small-12 medium-6">
                        <label>Subscription</label>
                        <select [(ngModel)]="model.data.subscriptionId">
                            <option *ngFor="let subscription of subscriptions" [ngValue]="subscription.subscriptionId">
                                {{subscription.title}}
                            </option>
                        </select>
                    </div>
                    <div class="cell small-12 medium-6">
                        <label>Duration of subscription</label>
                        <select [(ngModel)]="model.data.subscriptionTime">
                            <option [ngValue]="3600">One Hour</option>
                            <option [ngValue]="86400">One Day</option>
                            <option [ngValue]="604800">One Week</option>
                            <option [ngValue]="2419200">One Month</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </app-content>
</div>