<app-title [title]="title" [tabs]="tabs" (onTabClick)="onTabClick($event)"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <label>Text</label>
                <input name="prefix-text" type="text" [(ngModel)]="prefix.text" />
            </div>
            <div class="cell small-6">
                <label>Style</label>
                <textarea name="prefix-style" type="text" [(ngModel)]="prefix.style"></textarea>
            </div>
            <div class="cell small-6">
                <label>Preview of Prefix:</label>
                <div [innerHTML]="preview | safeHtml"></div>
            </div>
        </div>
    </div>
</app-content>

<app-title [title]="'Categories'"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x margin-x">
            <div class="cell small-12">
                <div *ngFor="let category of categories"
                    class="category"
                    (click)="toggle(category.categoryId)"
                    [ngClass]="isSelected(category.categoryId) ? 'selected' : ''">
                    {{category.title}}
                </div>
            </div>
        </div>
    </div>
</app-content>