<app-title [title]="'Profile Settings'" [tabs]="tabs" (onTabClick)="onSave()"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6">
                <label>Youtube Video <em>(Leave empty for non)</em></label>
                <input [(ngModel)]="model.youtube" placeholder="Full Youtube Link"/>
            </div>
            <div class="cell small-12 medium-6">
                <label>Do you want your profile to be private?</label>
                <label class="checkbox-container">
                    Private Profile <em>(Only approved followers can see it)</em>
                    <input type="checkbox" [(ngModel)]="model.isPrivate">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cell small-12 medium-6">
                <label>Relations</label>
                <div class="relation input-container">
                    <i class="fab fa-youtube-square icon"></i>
                    <input [(ngModel)]="relations.love" placeholder="Love"/>
                </div>
                <div class="relation input-container">
                    <i class="fab fa-youtube-square icon"></i>
                    <input [(ngModel)]="relations.like" placeholder="Like"/>
                </div>
                <div class="relation input-container">
                    <i class="fab fa-youtube-square icon"></i>
                    <input [(ngModel)]="relations.hate" placeholder="Hate"/>
                </div>
            </div>
        </div>
    </div>
</app-content>
