<app-title [title]="'Community Polls'"></app-title>
<app-content>
    If you haven't noticed, we've recieved a makeover! What do you think of ThisHabbo VX?
    <div class="poll-choices">
        <div class="bad">
            I don't like it! <br>
            <i class="fas fa-heart"></i>
        </div>

        <div class="good">
            I really like it! <br>
            <i class="fas fa-heart red"></i>
        </div>
    </div>
    <button appButton [float]="'right'">Vote</button>
    <i class="fas fa-user"></i> <b> 14</b> guests have voted<br>
    <i class="fas fa-users"></i> <b> 26</b> members have voted
</app-content>