.poll-choices {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.bad , .good {
    display: inline-block;
    padding: 16px;
    text-align: center;
    border-radius: 3px;
}

.bad {
    background: #ffffff;
    margin-right: 10px;
}

.good {
    border: 1px solid #0591ff !important;
}

.red {
    color: #bb4c4c;
}
