<app-title [title]="'Badges'"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x">
            <div *ngFor="let badge of badges" class="cell" [ngClass]="size">
                <div class="badge"
                     [attr.tooltip]="badge.description + '&#xa;' + badge.habboBadgeId + '&#xa;' + badge.createdAt">
                    <div class="new" *ngIf="badge.isNew">New</div>
                    <img appHabboBadge [code]="badge.habboBadgeId"/>
                </div>
            </div>
        </div>
    </div>
</app-content>
