:host {
    position: relative;
    display: block;
}

.input {
    position: relative;
    border: 0;
    background: white;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgba(115, 115, 115, .23), inset 0 0 0 2px #fff, 0 2px 0 rgba(179, 179, 179, 0.14);
    color: gray;
    display: block;
    font-size: 11px;
    height: 35px;
    line-height: 1.42857143;
    margin-bottom: 2px !important;
    padding: 10px 12px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 100%;
    outline: 0;
    cursor: pointer;
}

.values {
    display: none;
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
    border: 0;
    background: white;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgba(115, 115, 115, .23), inset 0 0 0 2px #fff, 0 2px 0 rgba(179, 179, 179, 0.14);
    color: gray;
    font-size: 11px;
    line-height: 1.42857143;
    margin-bottom: 2px !important;
    padding: 8px 7px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    outline: 0;
    z-index: 9;
    max-height: 341px;
    overflow-y: scroll;
}

.values div {
    cursor: pointer;
}

.open {
    display: block;
}

.item {
    padding: 5px;
}

.item:hover {
    background-color: #efefef;
}
