<div class="grid-container full">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12">
            <app-title [title]="'Login'" [tabs]="tabs" (onTabClick)="onAction($event)">
            </app-title>
            <app-content>
                <div class="cell small-12" *ngIf="showError">
                    <span class="error">Incorrect Username/Habbo Name and/or Password. Please try again!</span>
                </div>
                <form (ngSubmit)="doLogin()">
                    <div class="cell small-12">
                        <label>Username or Habbo Name:</label>
                        <input [(ngModel)]="loginName" type="text" name="loginName">
                    </div>
                    <div class="cell small-12">
                        <label>Password:</label>
                        <input [(ngModel)]="password" type="password" name="password">
                    </div>
                </form>
            </app-content>
        </div>
    </div>
</div>