<div class="grid-container full">
    <div class="grid-x margin-x">
        <div class="cell small-12">
            <app-title
                [title]="'Login'">
            </app-title>
            <app-content>
                <div class="small-12 cell">
                    <label>Username or Habbo:</label>
                    <input (keydown)="keyDownFunction($event)" [(ngModel)]="loginName" type="text" name="loginName">
                </div>
                <div class="small-12 cell">
                    <label>Password:</label>
                    <input (keydown)="keyDownFunction($event)" [(ngModel)]="password" type="password" name="password">
                </div>
                <div class="small-12 cell" *ngIf="showError">
                    <br />
                    <span class="error">Incorrect username/habbo and/or password</span>
                </div>
                <div class="small-12 cell align-right">
                    <button appButton [float]="'right'" (click)="doLogin()">Login</button>
                    <button appButton [float]="'right'" [color]="registerButton" [routerLink]="['/auth/register']">Register</button>
                    <button appButton [float]="'right'" [color]="registerButton" [routerLink]="['/auth/forgot-password']">Forgot Password?</button>
                </div>
            </app-content>
        </div>
    </div>
</div>
