<app-title
        [title]="'Listener Statistics'">
</app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-4">
                <label>Year</label>
                <select [(ngModel)]="selectedYear" (ngModelChange)="onDateChange()">
                    <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
                </select>
            </div>
            <div class="cell small-4">
                <label>Week</label>
                <select [(ngModel)]="selectedWeek" (ngModelChange)="onDateChange()">
                    <option *ngFor="let week of weeks" [ngValue]="week">{{week}}</option>
                </select>
            </div>
            <div class="cell small-4">
                <label>Region</label>
                <select [(ngModel)]="selectedRegion" (ngModelChange)="onRegionChange()">
                    <option [ngValue]="'EU'">EU</option>
                    <option [ngValue]="'OC'">OC</option>
                    <option [ngValue]="'NA'">NA</option>
                </select>
            </div>
        </div>
    </div>
    <hr/>
    <app-graph-bar-chart [data]="barChartData"></app-graph-bar-chart>
</app-content>
