<div class="nickname nickname-top-outside" *ngIf="isTopOutside || isMobile">
    <app-user-link [user]="user"></app-user-link>
</div>
<div class="avatar" *ngIf="!isMobile">
    <div class="nickname nickname-top-inside" *ngIf="isTopInside">
        <app-user-link [user]="user"></app-user-link>
    </div>
    <img *ngIf="useAvatarImage" class="mobile-hidden" [src]="userAvatarUrl"
         (error)="onAvatarError()" [style.width]="width" [style.height]="height"/>
    <div class="nickname nickname-bottom-inside" *ngIf="isBottomInside">
        <app-user-link [user]="user"></app-user-link>
    </div>
</div>
<div class="nickname nickname-bottom-outside" *ngIf="isBottomOutside">
    <app-user-link [user]="user"></app-user-link>
</div>
<div class="default" *ngIf="!useAvatarImage && !isMobile">
    <em class="fa fa-user"></em>
</div>
<div class="userbars">
    <div *ngIf="user.barColor">
        <div class="custom-user-bar-template" [style]="getBarColors() | safeStyle">Donator</div>
    </div>
    <div class="custom-user-bar-template" *ngFor="let userBar of user.userBars" [style]="userBar.styling | safeStyle">
        {{userBar.name}}
    </div>
</div>
<div class="post-bit badges" *ngIf="user.badgeIds && user.badgeIds.length > 0">
    <img *ngFor="let badgeId of user.badgeIds" [src]="'/rest/resources/images/badges/' + badgeId + '.gif'"/>
</div>
<div class="post-bit" *ngIf="user.createdAt">
    <div class="gray-content-wrapper">
        <strong>Joined:</strong>
        <div class="float-right">
            {{longDay(user.createdAt)}}
        </div>
    </div>
</div>
<div class="post-bit" *ngIf="user.posts">
    <div class="gray-content-wrapper">
        <strong>Posts:</strong>
        <div class="float-right">
            {{user.posts | number: '1.'}}
        </div>
    </div>
</div>
<div class="post-bit" *ngIf="user.likes">
    <div class="gray-content-wrapper">
        <strong>Likes:</strong>
        <div class="float-right">
            {{user.likes | number: '1.'}}
        </div>
    </div>
</div>
<div class="post-bit" *ngFor="let item of socials">
    <div class="gray-content-wrapper">
        <strong>{{item.label}}:</strong>
        <div class="float-right">
            {{item.value}}
        </div>
    </div>
</div>

<span *ngFor="let badge of user.badges" [attr.tooltip]="badgeTooltip(badge)" class="post-badge">
    <img [src]="'/rest/resources/images/badges/' + badge.badgeId + '.gif?' + badge.updatedAt"/>
</span>
