<div class="nickname nickname-top-outside for-mobile">
    <app-user-link [user]="user"></app-user-link>
</div>
<div class="nickname nickname-top-outside for-desktop" *ngIf="isTopOutside">
    <app-user-link [user]="user"></app-user-link>
</div>
<div class="avatar for-desktop">
    <div class="nickname nickname-top-inside" *ngIf="isTopInside">
        <app-user-link [user]="user"></app-user-link>
    </div>
    <img *ngIf="useAvatarImage" class="mobile-hidden" [src]="userAvatarUrl"
         (error)="onAvatarError()" [style.width]="width" [style.height]="height"/>
    <div class="nickname nickname-bottom-inside" *ngIf="isBottomInside">
        <app-user-link [user]="user"></app-user-link>
    </div>
</div>
<div class="nickname nickname-bottom-outside for-desktop" *ngIf="isBottomOutside">
    <app-user-link [user]="user"></app-user-link>
</div>
<div class="default for-desktop" *ngIf="!useAvatarImage">
    <em class="fa fa-user"></em>
</div>
<div class="userbars">
    <div *ngIf="user.barColor">
        <div class="custom-user-bar-template" [style]="getBarColors() | safeStyle">Donator</div>
    </div>
    <div class="custom-user-bar-template" *ngFor="let userBar of user.userBars" [style]="userBar.styling | safeStyle">
        {{userBar.name}}
    </div>
</div>
<div class="post-bit" *ngIf="!user.postBitSettings.hideJoinDate">
    <div class="gray-content-wrapper">
        <strong>Joined:</strong>
        <div class="float-right">
            {{user.createdAt}}
        </div>
    </div>
</div>
<div class="post-bit" *ngIf="!user.postBitSettings.hidePostCount">
    <div class="gray-content-wrapper">
        <strong>Posts:</strong>
        <div class="float-right">
            {{user.posts | number: '1.'}}
        </div>
    </div>
</div>
<div class="post-bit" *ngIf="!user.postBitSettings.hideLikesCount">
    <div class="gray-content-wrapper">
        <strong>Likes:</strong>
        <div class="float-right">
            {{user.likes | number: '1.'}}
        </div>
    </div>
</div>
<div class="post-bit" *ngIf="!user.postBitSettings.hideHabbo">
    <div class="gray-content-wrapper">
        <strong>Habbo:</strong>
        <div class="float-right">
            {{user.habbo}}
        </div>
    </div>
</div>
<div class="post-bit" *ngFor="let item of socials">
    <div class="gray-content-wrapper">
        <strong>{{item.label}}:</strong>
        <div class="float-right">
            {{item.value}}
        </div>
    </div>
</div>
<div class="badges" *ngIf="user.badges && user.badges.length > 0">
    <span *ngFor="let badge of user.badges" [attr.tooltip]="badge.name">
        <img [src]="'/rest/resources/images/badges/' + badge.badgeId + '.gif'"/>
    </span>
</div>
