<app-title [title]="title" [tabs]="tabs" (onTabClick)="onTabClick($event)"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <label>Name</label>
                <input type="text" name="name" [(ngModel)]="model.name"/>
            </div>
            <div class="cell small-6">
                <label>Display Order</label>
                <input type="text" name="displayOrder" [(ngModel)]="model.displayOrder"/>
            </div>
        </div>
    </div>
</app-content>
