<app-title [title]="'Staff Spotlight'"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x container">
            <div class="cell small-12 medium-offset-4 medium-4">
                <div class="name">
                    Dez
                </div>
            </div>
            <div class="spacing"></div>
            <div class="cell small-2">
                <em class="fas fa-angle-left"></em>
            </div>
            <div class="cell small-8 habbo">
                <img src="https://www.habbo.com/habbo-imaging/avatarimage?user=irDez&direction=4&head_direction=3&action=0&gesture=sml&size=m"
                     alt="habbo">
            </div>
            <div class="cell small-2">
                <em class="fas fa-angle-right"></em>
            </div>
        </div>
    </div>
</app-content>
