<app-title [title]="'Staff Spotlight'"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x container">
            <div class="cell small-12 medium-offset-4 medium-4">
                <div class="name">
                    {{nickname}}
                </div>
            </div>
            <div class="spacing"></div>
            <div class="cell small-2">
                <em class="fas fa-angle-left" (click)="previous()"></em>
            </div>
            <div class="cell small-8 habbo">
                <img [ngClass]="imageClass" [src]="habbo">
            </div>
            <div class="cell small-2">
                <em class="fas fa-angle-right" (click)="next()"></em>
            </div>
        </div>
    </div>
</app-content>
