<div class="grid-container full">
    <div class="grid-x margin-x">
        <div class="cell small-12">
            <app-title
                [title]="'Register'">
            </app-title>
            <app-content>
                <div class="grid-x margin-x">
                    <div class="cell small-6">
                        <label>Username: <em>(What you login with)</em></label>
                        <input name="username" [(ngModel)]="registerModel.username" type="text" placeholder="">
                    </div>
                    <div class="cell small-6">
                        <label>Nickname: <em>(Display name shown to other users)</em></label>
                        <input name="nickname" [(ngModel)]="registerModel.nickname" type="text">
                    </div>
                    <div class="cell small-6">
                        <label>Password:</label>
                        <input name="password" [(ngModel)]="registerModel.password" type="password">
                    </div>
                    <div class="cell small-6">
                        <label>Password again:</label>
                        <input name="repassword" [(ngModel)]="registerModel.repassword" type="password">
                    </div>
                    <div class="cell small-6">
                        <label>Habbo: <em>(Your motto needs to be "thishabbo-register" while doing this)</em></label>
                        <input name="habbo" [(ngModel)]="registerModel.habbo" type="text">
                    </div>
                    <div class="cell small-6">
                        <label>Referred by:</label>
                        <input name="referred" [(ngModel)]="registerModel.referredBy" type="text">
                    </div>
                    <div class="cell small-6">
                        <br />
                        <label class="checkbox-container">
                            I Accept the private policy of Thishabbo & GDPR
                            <input type="checkbox" [(ngModel)]="registerModel.gdpr">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="cell small-12">
                        <button appButton (click)="register()" [color]="registerButton" [float]="'right'">Register
                        </button>
                    </div>
                </div>
            </app-content>
        </div>
    </div>
</div>
