<app-title [title]="'Update Password'" [tabs]="tabs" (onTabClick)="update()"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x margin-x">
            <div class="small-12">
                <div class="label">Current Password:</div>
                <input type="password" [(ngModel)]="currentPassword" name="currentPassword"/>
            </div>
            <div class="small-12">
                <div class="label">Password:</div>
                <input type="password" [(ngModel)]="password" name="password"/>
            </div>
            <div class="small-12">
                <div class="label">Re-type Password:</div>
                <input type="password" [(ngModel)]="repassword" name="repassword"/>
            </div>
        </div>
    </div>
</app-content>
