<app-title [title]="'Change Nickname'" [tabs]="tabs" (onTabClick)="onSave()"></app-title>
<app-content>
    <em>
        VX does things differently. You will have two usernames - one will be your nickname that is displayed & visible to other users on the website and a username that is soley used to login. While your nickname may change freely if you don't hit the minimum requirements to keep it, your username will never be changed so you'll never lose access to the website. 
        <br/><br/>
        On our new version, 
        we made the decision to have 2 usernames to change names freely without worrying about locking users out. On previous versions, names would be changed and it would lock users out and became very inconvienent. Having a name that never changes will ensure users won't be locked out when strict requirements are implemented to keep your nickname. <br />
    </em>
    <br />
    <strong>Information:</strong>
    <li>It costs 300 THC to change your nickname</li>
    <li>Once changed, you won't be able to change your nickname again for 7 days</li>
    <li>Your login username will never change</li>
    <div class="label">New Nickname</div>
    <input name="nickname" [(ngModel)]="nickname" type="text">
</app-content>
