<app-title [title]="'Habbo'" [tabs]="tabs" (onTabClick)="onSave()"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 position-relative">
                <strong>Your current Habbo name is:</strong> <br/>
                <span class="habbo">{{habbo}}</span>

                <span tooltip="Your Habbo name is binded to your forum account, without it you will be unable to access certain parts of the website." class="checkbox-info">
                    <em class="fas fa-question-circle"></em>
                </span>

                <br/><br/>
                If you're needing to update your Habbo, please read the rules below for this to work: <br/>
                <ul>
                    <li>Your Habbo needs to be <strong>three days old or older</strong>.</li>
                    <li>Your Habbo motto most be <strong>{{motto}}</strong> and nothing else included or this process will fail.
                    </li>
                </ul>
                Please enter your Habbo Name below and press save in the top right. It may take a few minutes for Habbo to update the motto to the world wide web so we can see it, so please be patient!

                <label>Habbo Name</label>
                <input type="test" name="habbo" [(ngModel)]="newHabbo" placeholder="Type your Habbo name here..."/>
            </div>
        </div>
    </div>
</app-content>
