.post-content {
    width: 99.1%;
    margin: 5px 0 0 10px;
}

.signature {
    margin: 10px 10px 0 10px;
    position: relative;
    width: 99%;
    padding: 7px 0 10px 0;
    border-top: 1px solid #eaeaea;
}

.inner-content {
    min-height: 0;
}

.tools {
    margin-top: 2px;
    padding: 9px;
    width: 100%;
    background: #fbfbfb;
    box-shadow: inset 0 1px 2px rgba(197, 197, 197, 0.19);
}

.user-tools {
    float: left;
}

.post-tools {
    float: right;
}

.post-tools em {
    font-size: 0.8rem;
    margin: 0 0.5rem;
}

.user-tools em {
    font-size: 0.8rem;
    margin: 0 0.5rem;
}

.post-likers {
    background: #fbfbfb;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(197, 197, 197, 0.19);
    margin-left: 10%;
    margin-top: 1rem;
    min-height: 2rem;
    padding: 0.8rem;
    text-align: center;
}

.post-avatar {
    width: 19%;
    background: #fbfbfb;
}

.post-content-container {
    width: 81%;
}

@media screen and (max-width: 1200px) {
    .post-avatar {
        width: 100%;
    }

    .post-content-container {
        width: 98%;
    }
}

.post-badge {
    margin: 5px 5px;
}
