<div class="grid-container full position-relative">
    <div class="grid-x">
        <div class="post-avatar">
            <div class="post-nickname">
                <app-user-link [user]="user"></app-user-link>
            </div>
            <div class="avatar">
                <img *ngIf="useAvatarImage" class="mobile-hidden" appLazyLoad [image]="userAvatarUrl" (error)="onAvatarError()"/>
            </div>
            <div class="default" *ngIf="!useAvatarImage">
                <em class="fa fa-user"></em>
            </div>
            <div class="post-userbars">
                <div *ngFor="let userBar of user.userBars" [style]="userBar.styling | safeStyle">
                    {{userBar.name}}
                </div>
            </div>
            <div class="post-bit" *ngIf="user.createdAt">
                <div class="post-bit-row">
                    <strong>Joined:</strong>
                    <div class="float-right">
                        {{longDay(user.createdAt)}}
                    </div>
                </div>
            </div>
            <div class="post-bit" *ngIf="user.posts">
                <div class="post-bit-row">
                    <strong>Posts:</strong>
                    <div class="float-right">
                        {{user.posts | number: '1.'}}
                    </div>
                </div>
            </div>
            <div class="post-bit" *ngIf="user.likes">
                <div class="post-bit-row">
                    <strong>Likes:</strong>
                    <div class="float-right">
                        {{user.likes | number: '1.'}}
                    </div>
                </div>
            </div>
            <div class="post-bit" *ngFor="let item of socials">
                <div class="post-bit-row">
                    <strong>{{item.label}}:</strong>
                    <div class="float-right">
                        {{item.value}}
                    </div>
                </div>
            </div>

            <span *ngFor="let badge of user.badges" attr.tooltip="{{badge.description}}" class="post-badge">
                <img [src]="'/rest/resources/images/badges/' + badge.badgeId + '.gif?' + badge.updatedAt" />
            </span>
        </div>
        <div class="post-content-container">
            <div *ngIf="isInEditMode" class="post-content">
                <app-editor #editor
                            [buttons]="editorButtons"
                            [content]="content"
                            (onTabClick)="onButtonClick($event)">
                </app-editor>
            </div>
            <div *ngIf="!isInEditMode" class="post-content" [innerHTML]="parsedContent | safeHtml"></div>
            <div class="post-likers" *ngIf="haveLikers">
                <span *ngFor="let item of visibleLikers; let first = first;"><span *ngIf="!first">, </span>{{item.nickname}}</span>
                <span *ngIf="moreLikerNames.length">
                    and {{moreLikerNames.length}} more like this post!
                </span>
                <span *ngIf="!moreLikerNames.length">
                    like this post!
                </span>
            </div>
            <div class="signature" *ngIf="!ignoreSignatures && signature" [innerHTML]="signature | safeHtml"></div>
        </div>
        <div class="tools">
            <div class="user-tools">
                <div *ngIf="canInteractWithPost" (click)="reportPost()" tooltip="Report">
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
                <div *ngIf="canInteractWithPost" tooltip="Message">
                    <i class="fa fa-envelope"></i>
                </div>
                <div *ngIf="canInfractUser" (click)="infract()" tooltip="Warn / Infract">
                    <i class="fa fa-bell"></i>
                </div>
            </div>
            <div class="post-tools">
                <div *ngIf="canInteractWithPost && !haveLiked" (click)="likePost()" tooltip="Like">
                    <i class="fa fa-thumbs-up"></i>
                </div>
                <div *ngIf="canInteractWithPost && haveLiked" (click)="unlikePost()" tooltip="Unlike">
                    <i class="fa fa-thumbs-down"></i>
                </div>
                <div *ngIf="canEditPost" (click)="editPost()" tooltip="Edit">
                    <i class="fas fa-edit"></i>
                </div>
                <div *ngIf="canPost" (click)="quotePost()" tooltip="Quote">
                    <i class="fa fa-quote-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
