<div class="grid-container full position-relative">
    <div class="grid-x">
        <div class="post-avatar">
            <app-user-post-bit [user]="post.user"></app-user-post-bit>
        </div>
        <div class="post-content-container">
            <div class="post-content" [style.display]="isInEditMode ? 'block' : 'none'">
                <app-editor *ngIf="isInEditMode" #editor
                            [buttons]="editorButtons"
                            [content]="post.content"
                            (onKeyUp)="onKeyUp($event)"
                            (onTabClick)="onButtonClick($event)">
                </app-editor>
            </div>
            <div [style.display]="!isInEditMode ? 'block' : 'none'" class="post-content"
                 [innerHTML]="post.parsedContent | safeHtml"></div>
            <div class="post-likers" *ngIf="haveLikers">
                <span *ngFor="let item of visibleLikers; let first = first;">
                    <span *ngIf="!first">, </span>
                    <app-user-link [user]="item"></app-user-link>
                </span>
                <span *ngIf="moreLikerNames.length" [attr.tooltip]="moreLikerNames">
                   &nbsp;and {{moreLikers.length}} more like this post!
                </span>
                <span *ngIf="!moreLikerNames.length">
                    like this post!
                </span>
            </div>
            <div class="signature" *ngIf="!ignoreSignatures && post.user.signature"
                 [innerHTML]="post.user.signature | safeHtml"></div>
        </div>
        <div class="tools">
            <div class="user-tools">
                <div *ngIf="canInteractWithPost" (click)="reportPost()" tooltip="Report">
                    <em class="fas fa-exclamation-triangle"></em>
                </div>
                <div *ngIf="canGiveInfraction" (click)="infract()" tooltip="Warn / Infract">
                    <em class="fa fa-bell"></em>
                </div>
            </div>
            <div class="post-tools">
                <div tooltip="See posts by User" (click)="filterPosts()">
                    <em class="fas fa-comment-dots"></em>
                </div>
                <div *ngIf="canInteractWithPost && !haveLiked" (click)="likePost()" tooltip="Like">
                    <em class="fa fa-thumbs-up"></em>
                </div>
                <div *ngIf="canInteractWithPost && haveLiked" (click)="unlikePost()" tooltip="Unlike">
                    <em class="fa fa-thumbs-down"></em>
                </div>
                <div *ngIf="canEditPost" (click)="editPost()" tooltip="Edit">
                    <em class="fas fa-edit"></em>
                </div>
                <div *ngIf="canPost" (click)="quotePost()" tooltip="Quote">
                    <em class="fa fa-quote-right"></em>
                </div>
                <div *ngIf="canPost" tooltip="Multi Quote">
                    <em (click)="unMultiQuotePost()" *ngIf="isMultiQuoted" class="fas fa-comment-alt"></em>
                    <em (click)="multiQuotePost()" *ngIf="!isMultiQuoted" class="far fa-comment-alt"></em>
                </div>
            </div>
        </div>
    </div>
</div>
