<!--suppress ALL -->
<nav>
    <div class="grid-container pc">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 breadcrum">
                <div class="nav-link">
                    <li class="nav-first-item" *ngFor="let item of routes">
                        <span [ngClass]="item.children.length > 0 ? 'dropdown' : ''">
                            <a [routerLink]="[(item.isHomePage ? homePage : item.url)]" class="main"><i [ngClass]="item.icon"></i> {{item.label}}</a>
                            <div class="dropdown-content">
                                <div *ngFor="let child of item.children">
                                    <a *ngIf="!child.isDivider" [routerLink]="[(child.isHomePage ? homePage : child.url)]">
                                        {{child.label}}
                                    </a>
                                    <div *ngIf="child.isDivider" class="divider"></div>
                                </div>
                            </div>
                        </span>
                    </li>
                </div>
            </div>
        </div>
    </div>
</nav>
