<app-title [title]="'Forgot Password'"></app-title>
<app-content>
    Fill in your habbo name that you have connected to your account below. <br />
    If you don't have a habbo account connected to your account, scroll down to the bottom and click "Contact Us"
    and get in touch with an sitecp to restore your account. <br />
    <br />
    <div class="grid-container content-margin">
        <div class="grid-x">
            <div class="cell small-12 medium-8">
                <input type="text" [(ngModel)]="habbo" placeholder="Habbo Name" />
            </div>
            <div class="cell small-12 medium-4">
                <button appButton (onClick)="onClick()">Change Password</button>
            </div>
        </div>
    </div>
</app-content>