<app-title [title]="'Forgot Password'" [tabs]="tabs" (onTabClick)="onClick()"></app-title>
<app-content>
    Fill in your Habbo Name that is connected to your account below. <br />
    <br />
    If you don't have a Habbo account connected to your account, then simply scroll down to the bottom of our page and
    click "Contact Us"
    and get in touch with an Administrator to restore your account. Simples!<br />
    <div class="grid-container content-margin">
        <div class="grid-x">
            <form (ngSubmit)="onClick()">
                <div class="cell small-12">
                    <label>Habbo Name</label>
                    <input type="text" name="habbo" [(ngModel)]="habbo" placeholder="Enter connected Habbo name..." />
                </div>
            </form>
        </div>
    </div>
</app-content>