<div class="wrapper">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-7 medium-8">
                <div *ngIf="!isMobile" class="breadcrumb">
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div *ngIf="isMobile" class="mobile-search">
                    <app-search-bar></app-search-bar>
                </div>
            </div>
            <div class="cell small-4 medium-4 login-pc" *ngIf="!loggedIn">
                <div class="login-wrapper">
                    <input type="text" class="top-login" (keydown)="keyDownFunction($event)" [(ngModel)]="loginName"
                           placeholder="Username/Habbo"
                           name="loginName"/>
                    <input type="password" class="top-login" (keydown)="keyDownFunction($event)" [(ngModel)]="password"
                           placeholder="Password"
                           name="password"/>
                    <button appButton [float]="'right'" class="top-login-button" (onClick)="login()">Login</button>
                </div>
            </div>
            <div class="cell small-5 medium-4 login-phone" *ngIf="!loggedIn">
                <div class="login-wrapper">
                    <a [routerLink]="['/auth/login']">Login</a> or <a [routerLink]="['/auth/register']">Register</a>
                </div>
            </div>
            <div class="cell small-5 medium-offset-1 medium-3" *ngIf="loggedIn">
                <div class="notification dropdown">
                    <div class="notification-counter" *ngIf="notifications.length">{{ notifications.length }}</div>
                    <em class="fa fa-bell" [ngClass]="notifications.length ? 'new' : ''"></em>
                    <div class="dropdown-content notification-size">
                        <div class="notification-top">
                            <strong>Notifications</strong>
                            <div class="pull-right">
                                <a class="notification-tool"
                                   [routerLink]="['/user/usercp/account/notifications/page/1']">See All</a>
                                <a class="notification-tool not-clickable">-</a>
                                <a class="notification-tool" (click)="readAllNotifications()"
                                   *ngIf="notifications.length > 0">Read
                                    All
                                </a>
                                <a class="notification-tool not-clickable" *ngIf="notifications.length > 0">-</a>
                                <a class="notification-tool"
                                   [routerLink]="['/user/usercp/subscriptions/notification-settings']">Settings</a>
                            </div>
                        </div>
                        <div class="notification-overflow">
                            <div *ngIf="notifications.length === 0" class="notification-view">
                                You do not have any notifications currently!
                            </div>
                            <div class="notification-view" *ngFor="let notification of notifications"
                                 (click)="notificationClick(notification.notificationId)"
                                 [ngSwitch]="notification.type">
                                <app-top-bar-thread-view *ngSwitchCase="1" [notification]="notification"
                                                         (onClick)="notificationClick($event)"></app-top-bar-thread-view>
                                <app-top-bar-thread-view *ngSwitchCase="2" [notification]="notification"
                                                         (onClick)="notificationClick($event)"></app-top-bar-thread-view>
                                <app-top-bar-thread-view *ngSwitchCase="4" [notification]="notification"
                                                         (onClick)="notificationClick($event)"></app-top-bar-thread-view>
                                <app-top-bar-thread-view *ngSwitchCase="10" [notification]="notification"
                                                         (onClick)="notificationClick($event)"></app-top-bar-thread-view>

                                <app-top-bar-badge-view *ngSwitchCase="3" [notification]="notification"
                                                        (onClick)="notificationClick($event)"></app-top-bar-badge-view>
                                <app-top-bar-category-view *ngSwitchCase="5" [notification]="notification"
                                                           (onClick)="notificationClick($event)"></app-top-bar-category-view>
                                <app-top-bar-infraction-view *ngSwitchCase="6" [notification]="notification"
                                                             (onClick)="notificationClick($event)"></app-top-bar-infraction-view>
                                <app-top-bar-infraction-view *ngSwitchCase="7" [notification]="notification"
                                                             (onClick)="notificationClick($event)"></app-top-bar-infraction-view>
                                <app-top-bar-follower-view *ngSwitchCase="8" [notification]="notification"
                                                           (onClick)="notificationClick($event)"></app-top-bar-follower-view>
                                <app-top-bar-visitor-message-view *ngSwitchCase="9"
                                                                  [notification]="notification"
                                                                  (onClick)="notificationClick($event)"></app-top-bar-visitor-message-view>
                                <app-top-bar-user-view *ngSwitchCase="11" [notification]="notification"
                                                       (onClick)="notificationClick($event)"></app-top-bar-user-view>
                                <app-top-bar-user-view *ngSwitchCase="12" [notification]="notification"
                                                       (onClick)="notificationClick($event)"></app-top-bar-user-view>
                                <app-top-bar-user-view *ngSwitchCase="13" [notification]="notification"
                                                       (onClick)="notificationClick($event)"></app-top-bar-user-view>
                                <app-top-bar-user-view *ngSwitchCase="14" [notification]="notification"
                                                       (onClick)="notificationClick($event)"></app-top-bar-user-view>
                                <app-top-bar-user-view *ngSwitchCase="15" [notification]="notification"
                                                       (onClick)="notificationClick($event)"></app-top-bar-user-view>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="notification dropdown">
                    <div class="notification-counter" *ngIf="messages.length">{{ messages.length }}</div>
                    <em class="fa fa-comment" [ngClass]="messages.length ? 'new' : ''"></em>
                    <div class="dropdown-content notification-size">
                        <div class="notification-top">
                            <strong>Inbox</strong>
                            <div class="pull-right">
                                <a class="notification-tool"
                                   [routerLink]="['/user/usercp/account/notifications/page/1']">See All</a>
                                <a class="notification-tool not-clickable">-</a>
                                <a class="notification-tool" (click)="readAllMessages()"
                                   *ngIf="messages.length > 0">Read
                                    All
                                </a>
                                <a class="notification-tool not-clickable" *ngIf="messages.length > 0">-</a>
                                <a class="notification-tool"
                                   [routerLink]="['/user/usercp/subscriptions/notification-settings']">Settings</a>
                            </div>
                        </div>

                        <div *ngIf="messages.length === 0" class="notification-view">
                            You do not have any messages currently!
                        </div>
                        <div class="notification-view" *ngFor="let message of messages"
                             (click)="notificationClick(message.notificationId)"
                             [ngSwitch]="message.type">
                            <app-top-bar-visitor-message-view *ngSwitchCase="9" [notification]="message"
                                                              (onClick)="notificationClick($event)"></app-top-bar-visitor-message-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
