.wrapper {
    background: -webkit-linear-gradient(top, #fefefe 0, #ececec 100%);
    color: #6b6b6b;
    box-shadow: 0 1px white, 0 1px 3px #0000006b;
    z-index: 10;
    top: 0;
    position: fixed;
    width: 100%;
    height: 2.2rem;
}

.breadcrum {
    padding-top: 11px;
    height: 34px;
}

.notification {
    float: right;
    padding: 10px 7px 10px 10px;
    font-size: 0.7rem;
    height: 100%;
    cursor: pointer;
}

.new {
    color: #cc6363;
}

em::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .7em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

a {
    color: #cc6363;
    font-weight: bold;
}

.notif-top {
    border-bottom: 1px solid #eaeaea;
    color: #4a4848;
    font-size: 11px;
    padding: 5px 8px 5px 10px;
    width: 100%;
}

.notif-view {
    margin: 0;
    padding: 5px 7px 12px 5px;
    color: #4c4949;
    min-height: 82px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
}

.notif-unread {
    background-color: #f4f4fd;
}

.notif-view:hover {
    background: #f9f9f9;
}

.notif-size {
    width: 350px;
    margin-right: 1px;
}

.notif-desc {
    width: 74%;
    display: inline-block;
}

.notif-overflow {
    max-height: 350px;
    overflow-y: scroll;
}

.pull-right {
    float: right;
}

.notification-wrapper {
}

input {
    width: 150px;
    display: inline-block;
    height: 15px;
    float: left;
    margin-right: 5px;
}

.login-pc {
    padding: 5px 0;
}

.login-phone {
    margin-top: 10px;
    padding-right: 10px;
    text-align: right;
    display: none;
}

@media screen and (max-width: 1091px) {
    .notification-wrapper {
        margin-left: 0px !important;
    }
}

@media screen and (max-width: 800px) {
    .login-pc {
        display: none;
    }
    .login-phone {
        display: block;
    }
}

@media screen and (max-width: 1210px) {
    .breadcrum {
        padding-left: 8px;
    }
}

.login-wrapper {
    float: right;
}

.top-login {
    height: 25px;
    width: 145px;
}

.top-login-button {
    height: 25px !important;
    padding-top: 6.5px !important;
}

button {
    margin-top: 0 !important;
}
