<app-title [title]="'My Groups'" [tabs]="tabs" (onTabClick)="updateDisplayGroup()"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12">
                <strong>Display Group</strong> <span tooltip="This will be your primary group and use that groups default colour." class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                <br/> <br/>
                <select [(ngModel)]="displayGroupId">
                    <option [value]="0">No Display Group</option>
                    <option *ngFor="let group of memberGroups" [value]="group.groupId">{{group.name}}</option>
                </select>
            </div>
            <div class="cell small-6 medium-4 position-relative groups" *ngFor="let group of memberGroups">
                <div><br/>
                    <strong>Usergroup:</strong> {{group.name}}
                </div>
                <div>
                    <strong>Type: </strong> <span>{{group.isPublic ? 'Public' : 'Non-public'}}</span>
                </div>
                <div>
                    <strong>Status: </strong>
                    <span *ngIf="group.isMember">Is member <span class="apply" *ngIf="group.isPublic"
                                                                 (click)="leave(group.groupId)">(Leave)</span></span>
                </div>
            </div>
        </div>
    </div>
</app-content>

<app-title [title]="'Public Groups'"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6 position-relative groups" *ngFor="let group of nonMemberPublicGroups">
                <label>Public Usergroups

                    <span tooltip="A public usergroup is a usergroup that can be joined by any user. Being accepted into one will most likely give you extra forums tailored for that group." class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                </label>
                <div>
                    <strong>Usergroup:</strong> {{group.name}}
                </div>
                <div>
                    <strong>Status: </strong>
                    <span *ngIf="!group.isMember && !group.haveApplied" class="apply" (click)="apply(group.groupId)">Apply</span>
                    <span *ngIf="!group.isMember && group.haveApplied">Waiting approval or denial</span>
                </div>
            </div>
        </div>
    </div>
</app-content>