<app-title [title]="'Home Page Threads'" [tabs]="tabs" (onTabClick)="onAction($event)"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x">
            <div class="cell small-12">
                Select from which category ID's to fetch threads from to be presented on the home page. <br/>
                Do not forget to click the save button on the table when it contains what you want! <br/>
                Remember users also need permission to read the categories below, otherwise not visible for them <br/>
            </div>
            <div class="cell small-6">
                <app-form-select [items]="items" [(value)]="value"></app-form-select>
            </div>
        </div>
    </div>
</app-content>

<app-table [config]="tableConfig" (onAction)="onRemove($event)"></app-table>