<app-title [title]="'Member Login'" [top]="titleTop" [tabs]="tabs" (onTabClick)="doLogin()"></app-title>

<app-content>
    <app-info-box [model]="infoModel"></app-info-box>
    <div class="cell small-6">
        <label>Nickname:</label>
        <input (keydown)="keyDownFunction($event)" [(ngModel)]="loginName" type="text" name="loginName">
    </div>
    <div class="cell small-6">
        <label>Password:</label>
        <input (keydown)="keyDownFunction($event)" [(ngModel)]="password" type="password" name="password">
    </div>
</app-content>
