:host {
    display: block;
    width: 100%;
}

.wrapper {
    width: 100%;
    color: #ffffff;
    text-shadow: 1px 1px #747474;
    font-weight: bold;
    font-size: 11px;
    position: relative;
    margin-bottom: -1px;
    height: 43px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .18), inset 0 0 0 2px rgba(255, 255, 255, .18), 0 2px 0 0 rgba(0, 0, 0, .11);
    background: url(/assets/images/bargradient2.png) #be6d6d;
    border: none !important;
}

.standalone {
    border-radius: 3px;
    margin-bottom: 10px;
    border: 1px solid #cacaca;
}

.title {
    margin: 14px;
    float: left;
}

.sub-title::before {
    content: ' (';
}

.sub-title::after {
    content: ')';
}

.sub-title {
    font-size: .7rem;
    font-weight: 400;
    font-style: italic;
    float: left;
    margin-top: 14px;
}

a {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.7rem;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    background-color: #03355f7a;
    opacity: 0.6;
    transition: 0.5s;
    max-width: 13rem;
}

a:hover {
    opacity: 1;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.tab {
    border-left: 1px solid #e5e5e5;
    height: 100%;
    font-size: 11px;
    float: right;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #00000008;

    border-left: 1px solid #ba8181;
    color: #e4e4e4;
    padding: 14px;
}

.tab:hover {
    cursor: pointer;
    background-color: #0000000f;
}

.checkbox {
    float: right;
    margin: 5px;
}

.active {
    background-color: #0000001a;
}

.mobile {
    display: none;
}

.desktop {
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .mobile {
        display: inline-block;
    }

    .desktop {
        display: none;
    }
}

select {
    float: right;
    width: 135px;
    margin-top: 7px;
    margin-right: 4px;
    height: 28px;
    border-bottom: none;
    box-shadow: none;

    position: absolute;
    top: 0;
    right: 1px;
}

