<div class="wrapper" [ngClass]="topBorder">
    <span class="title" (click)="titleClick()" [ngClass]="titlePointer ? 'pointer' : ''">{{title}}</span>

    <span class="sub-title" *ngIf="subTitle">{{subTitle}}</span>

    <select *ngIf="tabs.length > 1" class="mobile" [(ngModel)]="selectValue" (ngModelChange)="onTabSelect()">
        <option [ngValue]="null">Select Action..</option>
        <option *ngFor="let item of tabs" [ngValue]="item">{{item.title}}</option>
    </select>
    <span *ngIf="tabs.length === 1" class="tab mobile" (click)="tabClick(tabs[0])">
        {{ tabs[0].title }}
    </span>

    <span *ngFor="let item of tabs" class="tab desktop"(click)="tabClick(item)"
          [ngClass]="item.isActive ? 'active' : ''">
        {{item.title}}
    </span>

    <div class="checkbox" *ngIf="checkbox">
        <label class="checkbox-container">
            <input type="checkbox" [checked]="checkboxValue" (change)="onSelectToggle($event)">
            <span class="checkmark" [ngClass]="checkboxDisabled ? 'checkmark-disabled' : ''"></span>
        </label>
    </div>
</div>
