The label is the name of your tab, this is what you will see. The url must not include the ThisHabbo domain, an example would be:
<b>/forum/thread/30/page/1</b><br/>
To remove tabs that you don't want anymore, navigate yourself to the UserCP and remove them. <br/><br/>
<em>Tabs are device locked, they are not shared over other devices you may use!</em>
<br/><br/>
<div>
    <label>Label:</label>
    <input [(ngModel)]="tab.label" type="text" name="label">
</div>
<div>
    <label>URL:</label>
    <input [(ngModel)]="tab.url" type="text" name="label">
</div>
