<app-title [title]="question" [tabs]="tabs" (onTabClick)="onBack()"></app-title>
<app-content>
    All answers given on the poll {{question}} is below, users listed in each answer
</app-content>

<div *ngFor="let answer of answers">
    <app-title [title]="answer.answer" [subTitle]="answer.users.length + ' vote(s)'"></app-title>
    <app-content>
        <div class="grid-container content-margin">
            <div class="grid-x height-100">
                <div class="cell small-2" *ngFor="let user of answer.users">
                    {{user.nickname}}
                </div>
            </div>
        </div>
    </app-content>
</div>