<app-stats-boxes [stats]="stats"></app-stats-boxes>

<app-title [title]="'Device Settings'" [tabs]="saveTab" (onTabClick)="onSave()"></app-title>
<app-content>
    These are settings which are bound to the current device you are using. <br/><br/>
    <em>If you visit ThisHabbo on another device these settings will be default until changed. You can save your changes
        in the top right when you have decided what you settings you prefer. These can be changed at any time.</em>
    <br/><br/>
    <div>
        <label class="checkbox-container">
            Default BBCode Mode in Posting Editor
            <input type="checkbox" [(ngModel)]="isEditorSourceMode">
            <span class="checkmark"></span>

            <span tooltip="Turning this setting on will ensure everytime you load the Posting Editor BBCode is automatically turned on."
                  class="checkbox-info">
                <em class="fas fa-question-circle"></em>
            </span>
        </label>
    </div>
    <div>
        <label class="checkbox-container">
            Ignore Signatures
            <input type="checkbox" [(ngModel)]="doIgnoreSignatures">
            <span class="checkmark"></span>
            <span tooltip="Turning this on will ensure all users signatures are hidden." class="checkbox-info">
                    <em class="fas fa-question-circle"></em>
            </span>
        </label>
    </div>

    <div>
        <label class="checkbox-container">
            Fixed Menu <em>(Please reload after ticking this!)</em>
            <input type="checkbox" [(ngModel)]="haveFixedMenu">
            <span class="checkmark"></span>
            <span tooltip="Turning this setting on will ensure the menu & page navigation follows you as you scroll down the page."
                  class="checkbox-info">
                <em class="fas fa-question-circle"></em>
            </span>
        </label>
    </div>

    <div>
        <label class="checkbox-container">
            Forum Tools
            <input type="checkbox" [(ngModel)]="showThreadTools">
            <span class="checkmark"></span>
            <span tooltip="The Forum Tools are the 2 buttons which appear on threads you own or can moderate at the bottom left. Turning this on will ensure they are always visible by default."
                  class="checkbox-info">
                <em class="fas fa-question-circle"></em>
            </span>
        </label>
    </div>

    <div>
        <label class="checkbox-container">
            Minimalistic Header
            <input type="checkbox" [(ngModel)]="minimalisticHeader">
            <span class="checkmark"></span>
            <span tooltip="A style aimed for those who prefer smaller headers. You will lose extra features for this."
                  class="checkbox-info">
                <em class="fas fa-question-circle"></em>
            </span>
        </label>
    </div>
</app-content>

<app-table [config]="tableConfig" (onAction)="onAction($event)"></app-table>