<app-stats-boxes [stats]="stats"></app-stats-boxes>

<app-title [title]="'Device Settings'"></app-title>
<app-content>
        <em>These are settings which are bound to the current device you are using. <br />
        If you visit ThisHabbo on another device these settings will be default until changed. Once ticked, the page will automatically save your changes.</em>
        <br /><br />
    <div>
        <label class="checkbox-container">
            Default BBcode mode in editor
            <input type="checkbox" [(ngModel)]="editorSourceMode">
            <span class="checkmark"></span>
        </label>
    </div>
    <div>
        <label class="checkbox-container">
            Ignore Signatures
            <input type="checkbox" [(ngModel)]="ignoreSignatures">
            <span class="checkmark"></span>
        </label>
    </div>

    <div>
        <label class="checkbox-container">
            Fixed menu <em>- Should the menu follow you when you scroll? (needs reload after checking this)</em>
            <input type="checkbox" [(ngModel)]="fixedMenu">
            <span class="checkmark"></span>
        </label>
    </div>

    <div>
        <label class="checkbox-container">
            Thread Pools <em>- Should tools be default visible? (default tools are hidden until toggled)</em>
            <input type="checkbox" [(ngModel)]="threadTools">
            <span class="checkmark"></span>
        </label>
    </div>
</app-content>

<app-title [title]="'Device Tabs'"></app-title>
<app-content>
    <em>These are the device locked tabs in the header, you can only remove them from here. If you wanna add a new one you need to click in the header</em>
    <br /><br />
    <div *ngIf="tabs.length > 0">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell small-5">
                    <strong>Label</strong>
                </div>
                <div class="cell small-5">
                    <strong>URL</strong>
                </div>
                <div class="cell small-2">
                    <strong>Remove</strong>
                </div>
            </div>
        </div>

        <div class="grid-container" *ngFor="let tab of tabs">
            <div class="grid-x grid-margin-y">
                <div class="cell small-5">
                    {{tab.label}}
                </div>
                <div class="cell small-5">
                    {{tab.url}}
                </div>
                <div class="cell small-2">
                    <button appButton (onClick)="onRemove(tab)">Remove</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="tabs.length === 0" style="text-align: center;">
        You don't have any tabs created! ¯\_(ツ)_/¯
    </div>
</app-content>