<div class="grid-container content-margin">
    <div class="grid-x grid-margin-y grid-margin-x">
        <div class="cell small-12">
            <strong>Subscription: </strong>
            <select [(ngModel)]="model.subscriptionId" [disabled]="model.createdAt">
                <option [value]="0" [disabled]="true">Select..</option>
                <option *ngFor="let subscription of subscriptions" [value]="subscription.subscriptionId">
                    {{subscription.title}}
                </option>
            </select>
        </div>
        <div class="cell small-12 medium-4">
            <strong>Year: </strong>
            <input type="number" [(ngModel)]="year"/>
        </div>
        <div class="cell small-12 medium-4">
            <strong>Month: </strong>
            <select [(ngModel)]="month">
                <option [value]="" [disabled]="true">Select..</option>
                <option *ngFor="let month of months" [value]="month.value">
                    {{month.label}}
                </option>
            </select>
        </div>
        <div class="cell small-12 medium-4">
            <strong>Day: </strong>
            <input type="number" [(ngModel)]="day"/>
        </div>
    </div>
</div>