<app-title [title]="'Editing ' + nickname + ' Usergroup'" [tabs]="tabs" (onTabClick)="onSave()"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12">
                <label>Display Group</label>
                <select [(ngModel)]="displayGroup">
                    <option *ngFor="let item of availableGroups" [value]="item.groupId">
                        {{ item.name }}
                    </option>
                </select>
                <br/>
            </div>
            <div class="cell small-6">
                <div *ngFor="let item of getHalfOfPossibleGroups(true)">
                    <label class="checkbox-container">
                        {{item.name}}
                        <input type="checkbox" [checked]="haveUserGroup(item)" (click)="toggleGroup(item)"
                               [disabled]="!haveUserGroup(item) && item.isPublic"/>
                        <span class="checkmark"
                              [ngClass]="!haveUserGroup(item) && item.isPublic ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
            </div>
            <div class="cell small-6">
                <div *ngFor="let item of getHalfOfPossibleGroups(false)">
                    <label class="checkbox-container">
                        {{item.name}}
                        <input type="checkbox" [checked]="haveUserGroup(item)" (click)="toggleGroup(item)"
                               [disabled]="!haveUserGroup(item) && item.isPublic"/>
                        <span class="checkmark"
                              [ngClass]="!haveUserGroup(item) && item.isPublic ? 'checkmark-disabled' : ''"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</app-content>
