<app-title [title]="title"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <select [ngModel]="group ? group.groupId : -1" (ngModelChange)="onGroupChange($event)">
                    <option *ngFor="let grp of groups" value="{{grp.groupId}}">{{grp.name}}</option>
                </select>
            </div>
            <div class="cell small-12">
                <button appButton (click)="save(false)">Save Permissions</button>
                <button appButton (click)="save(true)">Save Permissions & Cascade to Child Categories</button>
                <button appButton (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</app-content>

<app-title [title]="groupTitle"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <b>General Permissions</b> <br/><br/>
                <label class="checkbox-container">
                    Access to this Category?
                    <input type="checkbox" [(ngModel)]="permissions.canRead">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox-container">
                    Can Post in this Category?
                    <input type="checkbox" [(ngModel)]="permissions.canPost">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox-container">
                    Can Create Threads in this Category?
                    <input type="checkbox" [(ngModel)]="permissions.canCreateThreads">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox-container">
                    Can View Thread Content?
                    <input type="checkbox" [(ngModel)]="permissions.canViewThreadContent">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox-container">
                    Can View Others Threads?
                    <input type="checkbox" [(ngModel)]="permissions.canViewOthersThreads">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox-container">
                    Can close and open own Threads?
                    <input type="checkbox" [(ngModel)]="permissions.canOpenCloseOwnThread">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cell small-6">
                <b>Moderation Permissions</b> <br/><br/>
                <label class="checkbox-container">
                    Can Edit Others Posts & Threads?
                    <input type="checkbox" [(ngModel)]="permissions.canEditOthersPosts">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox-container">
                    Can Delete Posts & Threads? <em>(permanently)</em>
                    <input type="checkbox" [(ngModel)]="permissions.canDeletePosts">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox-container">
                    Can Sticky Threads?
                    <input type="checkbox" [(ngModel)]="permissions.canStickyThread">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox-container">
                    Can manage polls? <em>(Delete & View votes)</em>
                    <input type="checkbox" [(ngModel)]="permissions.canManagePolls">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox-container">
                    Can Close / Open Threads?
                    <input type="checkbox" [(ngModel)]="permissions.canCloseOpenThread">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox-container">
                    Can Approve / Unapprove Threads?
                    <input type="checkbox" [(ngModel)]="permissions.canApproveThreads">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox-container">
                    Can Approve / Unapprove Posts?
                    <input type="checkbox" [(ngModel)]="permissions.canApprovePosts">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox-container">
                    Can change owner of thread?
                    <input type="checkbox" [(ngModel)]="permissions.canChangeThreadOwner">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox-container">
                    Can merge posts in a thread?
                    <input type="checkbox" [(ngModel)]="permissions.canMergePosts">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox-container">
                    Can move threads?
                    <input type="checkbox" [(ngModel)]="permissions.canMoveThreads">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
</app-content>

<app-title [title]="additionalGroupsTitle"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <label class="checkbox-container" *ngFor="let group of leftHalf">
                    {{group.name}}
                    <input type="checkbox" [(ngModel)]="group.isChecked">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="cell small-6">
                <label class="checkbox-container" *ngFor="let group of rightHalf">
                    {{group.name}}
                    <input type="checkbox" [(ngModel)]="group.isChecked">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
</app-content>