<app-title [title]="'Change Password'"></app-title>
<app-content>
    <ol>
        <li>Change your habbo motto to: <strong>thishabbo-{{code}}</strong></li>
        <li>Wait between 30sec and 2min for it to update</li>
        <li>While waiting, fill in your new password below</li>
        <li>Click <strong>Change Password</strong></li>
        <li>Login with your new password using your username or your habbo name</li>
    </ol>
    <div class="grid-container content-margin">
        <div class="grid-x grid-margin-x grid-margin-y">
            <form (ngSubmit)="onClick()">
                <div class="cell small-12 medium-6">
                    <label>Password</label>
                    <input type="password" name="password" [(ngModel)]="password" placeholder="Password"/>
                </div>
                <div class="cell small-12 medium-6">
                    <label>Password again</label>
                    <input type="password" name="repassword" [(ngModel)]="repassword" placeholder="Password again"/>
                </div>
                <div class="cell small-12">
                    <button appButton [float]="'right'">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</app-content>
