<app-title [title]="'Update your Social Networking'" [tabs]="tabs" (onTabClick)="update()"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12">
                <label>Twitter:</label>
                <input type="text" [(ngModel)]="model.twitter" name="twitter"/>
            </div>
            <div class="cell small-12">
                <label>Discord:</label>
                <input type="text" [(ngModel)]="model.discord" name="discord"/>
            </div>
        </div>
    </div>
</app-content>
