<app-title [title]="title" [tabs]="tabs" (onTabClick)="onTabClick($event)"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12">
                <label>Name</label>
                <input name="thread-template-name" type="text" [(ngModel)]="threadTemplate.name"/>
            </div>
            <div class="cell small-12">
                <label>Template</label>
                <app-editor [content]="threadTemplate.content"></app-editor>
            </div>
        </div>
    </div>
</app-content>

<app-title [title]="'Categories'"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12">
                <div *ngFor="let category of categories"
                     class="category"
                     (click)="toggle(category.categoryId)"
                     [ngClass]="isSelected(category.categoryId) ? 'selected' : ''">
                    {{category.title}}
                </div>
            </div>
        </div>
    </div>
</app-content>