<div class="big-header">
    <div class="grid-container height-100">
        <div class="grid-x margin-x">
            <div class="cell small-4">
                <div class="bulletin-details">
                    <div class="bulletin-board"><i class="fas fa-comment"></i> <strong> Dez</strong> has posted a new thread: <strong>Do
                        you
                        think
                        VX is...</strong>
                    </div>
                    <div class="bulletin-board"><i class="fas fa-headphones"></i> <strong>RADIO: Stevey</strong> is live on
                        air.
                    </div>
                    <div class="bulletin-board"><i class="fas fa-comment"></i> <strong> Con</strong> has liked a post in <strong>Do you
                        think
                        VX
                        is...</strong>
                    </div>
                    <div class="bulletin-board"><i class="fas fa-users"></i> <strong> EVENT: irDez</strong> is hosting - click
                        <b>here</b>!
                    </div>
                    <div class="bulletin-board"><i class="fas fa-comment"></i> <strong> ANNOUNCEMENT:</strong> A new Staff member: <strong>Chan
                        is
                        no...</strong>
                    </div>
                </div>
            </div>
            <div class="cell small-4 align-center">
                <a class="logo" [routerLink]="[homePage]">
                    <h3>Welcome to</h3>
                    <h2>THISHABBO</h2>
                </a>
            </div>
            <div class="cell small-5">
                <app-radio [stats]="radioStats"></app-radio>
            </div>
        </div>
    </div>
</div>

<div class="grid-container tabs">
    <div class="tab-content">
        <div class="tab">
            Home
        </div>
        <div class="no-tab">
            <i class="fas fa-plus"></i> Add new tab
        </div>
    </div>
</div>

<div class="bottom-bar">
    <div class="grid-container">
        <div class="grid-x grid-x margin-x">
            <div class="cell medium-9 tabs">
                <div class="inner-search-bar">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Looking for something?">
                        <div class="generic-radio-button generic-blue-button search-button">
                            <i class="fas fa-search ng-star-inserted"></i>
                        </div>
                        <div class="generic-radio-button generic-red-button search-button">
                            <i class="fas fa-search-plus ng-star-inserted"></i>
                        </div>
                    </div>
                </div>
                <div class="stats">
                    <div class="generic-radio-button generic-green-button search-button">
                        <i class="fas fa-users ng-star-inserted"></i> 389
                    </div>
                    <div class="generic-radio-button generic-pink-button search-button">
                        <i class="fas fa-users ng-star-inserted"></i> 89
                    </div>
                </div>
            </div>
            <div class="cell small-10 medium-3">
                <div class="radio-controls">
                    <app-radio-controls></app-radio-controls>
                </div>
            </div>
        </div>
    </div>
</div>
