<div class="big-header"
     [ngClass]="(isMenuFixed ? 'header-margin' : '') + ' ' + (isMinimalistic ? 'minimalistic-header' : '')">
    <div class="grid-container height-100">
        <div class="grid-x grid-margin-x">
            <div class="cell small-4">
                <app-header-activities [activities]="activities"></app-header-activities>
            </div>
            <div class="cell small-4 align-center">
                <a class="logo" [ngClass]="isMinimalistic ? 'minimalistic-logo' : ''" [routerLink]="[homePage]">
                    <h2>Welcome to</h2>
                    <h1>THISHABBO</h1>
                </a>
            </div>
            <div class="cell small-4">
                <app-radio [stats]="radioStats" [eventStats]="eventStats"></app-radio>
            </div>
        </div>
    </div>
</div>

<app-header-tabs *ngIf="!isMinimalistic && isLoggedIn"></app-header-tabs>

<div class="bottom-bar">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-9 tabs">
                <div class="inner-search-bar">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Looking for something?"
                               (keyup)="onKeyUp($event)" [(ngModel)]="text">
                        <div class="generic-radio-button generic-blue-button search-button" (click)="goToSearch()"
                             tooltip="Search">
                            <em class="fas fa-search ng-star-inserted"></em>
                        </div>
                        <div class="generic-radio-button generic-red-button search-button"
                             (click)="goToAdvancedSearch()" tooltip="Advanced Search">
                            <em class="fas fa-search-plus ng-star-inserted"></em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell small-10 medium-3 radio">
                <div class="radio-controls">
                    <app-radio-controls></app-radio-controls>
                </div>
            </div>
        </div>
    </div>
</div>
