:host {
    width: 100%;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    font-size: 10px !important;
    -ms-flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.big-header {
    width: 100%;
    max-width: 100%;
    height: 13.9rem;
    position: relative;
    background: #3682b9 url(/assets/images/skyline.png) repeat-x bottom;
    overflow: hidden;
}

.minimalistic-header {
    height: 7.9rem;
}

.bottom-bar {
    background: -webkit-linear-gradient(top, #fefefe 0, #ececec 100%);
    color: white;
    box-shadow: 0 1px white, 0 1px 7px #00000042;
    height: 49px;
    position: relative;
    width: 100%;
}

.inner-search-bar {
    margin-top: 10px;
    width: 30%;
    float: left;
}

.search-button {
    padding: 7px !important;
    margin: 0 2px 0 3px !important;
}

.align-center {
    text-align: center;
}

.logo:before {
    pointer-events: none;
    background-image: url(/assets/images/flare.png);
    content: "";
    height: 640px;
    width: 640px;
    position: absolute;
    display: inline-block;
    -webkit-animation: flare 20s linear infinite;
    -moz-animation: flare 20s linear infinite;
    animation: flare 20s linear infinite;
    margin: -100px 0 0 -325px;
}

.logo h2 {
    color: white;
    font-family: CheetahKick, serif;
    font-size: 42px;
    margin-bottom: 0;
    margin-top: 52px;
    height: 48px;
    font-weight: normal;
}

.minimalistic-logo h2 {
    margin-top: 11px;
}

.logo h1 {
    color: white;
    font-family: FranklinGothic, serif;
    font-size: 57px;
    margin-top: -12px;
    font-weight: normal;
}

.logo h2, .logo h1 {
    background-image: -webkit-linear-gradient(#fff, #e2e2e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(-1px 2px rgba(0, 0, 0, 0.3));
}

.logo h2:hover, .logo h1:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.stats {
    margin-top: 10px;
    margin-right: 4px;
}

@-moz-keyframes flare {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes flare {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes flare {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

input, optgroup, select, textarea {
    border: 0;
    background: #fbfbfb;
    color: gray;
    display: block;
    height: 30px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 100%;
    outline: 0;
    border-radius: 2px;
    padding: 6px;
    margin-right: -6px;
}

.radio-controls {
    margin: 0 0 0 -8px;
}

.header-margin {
    margin-top: 75px;
}

.radio {
    margin-left: 0;
    width: 298px;
    margin-right: 0;
}
