<app-title [title]="title" [tabs]="tabs" (onTabClick)="onTabClick($event)"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6">
                <label>Title</label>
                <input name="title" [(ngModel)]="model.title" type="text" placeholder="">
            </div>
            <div class="cell small-12 medium-6">
                <label>
                    Penalty
                    <span tooltip="Amount of credits to be taken from user when given this infraction"
                          class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                </label>
                <input name="penalty" [(ngModel)]="model.penalty" type="number" placeholder="">
            </div>
            <div class="cell small-12 medium-6">
                <label>
                    Category
                    <span tooltip="If selected, a thread will be made when infraction given IF welcome bot is set"
                          class="checkbox-info">
                        <em class="fas fa-question-circle"></em>
                    </span>
                </label>
                <app-form-select [(value)]="selectedCategory" [items]="selectableCategories"></app-form-select>
            </div>
            <div class="cell small-6">
                <label>Points</label>
                <input name="points" [(ngModel)]="model.points" type="number" placeholder="">
            </div>
            <div class="cell small-6">
                <label>Life Time <em>(days)</em></label>
                <input name="password" [(ngModel)]="model.lifeTime" type="number" [disabled]="isPersisted">
            </div>
            <div class="cell small-2">
                <label class="checkbox-container checkbox-align-with-input">
                    Is Persisted?
                    <input type="checkbox" [ngModel]="isPersisted" (ngModelChange)="onIsPersistedToggle()">
                    <span class="checkmark"></span>
                </label>
                <span tooltip="If checked, the infractions life time is 1 year" class="checkbox-info">
                    <em class="fas fa-question-circle"></em>
                </span>
            </div>
        </div>
    </div>
</app-content>
