<app-title [title]="title" [tabs]="tabs" (onTabClick)="onTabClick($event)"></app-title>
<app-content>
    <label>Name:</label>
    <input name="perm-name" type="text" [(ngModel)]="perm.name" />

    <label>Description:</label>
    <input name="perm-desc" type="text" [(ngModel)]="perm.description" />

    <label>Type</label>
    <select name="perm-type" [(ngModel)]="perm.type">
        <option [value]="0">Radio</option>
        <option [value]="1">Events</option>
    </select>

    <label>Nickname:</label>
    <input name="perm-user" type="text" [(ngModel)]="perm.nickname" />
    <label>Day:</label>
    <select name="perm-day" [(ngModel)]="perm.day">
        <option *ngFor="let day of days" [value]="day.number">{{ day.label }}</option>
    </select>

    <label>Hour:</label>
    <select name="perm-hour" [(ngModel)]="perm.hour">
        <option *ngFor="let hour of hours" [value]="hour.number">
            {{ hour.label }}
        </option>
    </select>
</app-content>