<app-title [title]="'Manage users for item'" [tabs]="tabs" (onTabClick)="onAdd()"></app-title>
<app-content>
    <div class="grid-container fluid">
        <div class="grid-x">
            <div class="cell small-12">
                <em>New users to get the item, write their name and click add (comma between for multiple users)</em>
            </div>
            <div class="cell small-12">
                <form (submit)="onAdd()">
                    <input name="nicknames" [(ngModel)]="nicknames" type="text" placeholder="New Users"/>
                </form>
            </div>
        </div>
    </div>
</app-content>

<app-table [config]="tableConfig" (onAction)="onAction($event)"></app-table>
