<div class="grid-container pager">
    <div class="grid-x">
        <div class="cell small-1">
            <button class="previous" [disabled]="!thereIsPrevious" (click)="goToPrevious()">
                &#171;
            </button>
        </div>
        <div class="cell small-10 numbers">
            <div class="items" *ngFor="let item of backwardItems"
                 [ngClass]="item.value < 0 ? 'page-no-click' : ''">
                <a *ngIf="isUrlSet" [routerLink]="[getUrl(item)]"
                   [queryParams]="queryParameters">{{item.title}}</a>
                <a *ngIf="!isUrlSet" (click)="switchPage(item.value)">{{item.title}}</a>
            </div>
            <div class="items" *ngFor="let item of fillBackwardItems"
                 [ngClass]="item.value < 0 ? 'page-no-click' : ''">
                <a *ngIf="isUrlSet" [routerLink]="[getUrl(item)]"
                   [queryParams]="queryParameters">{{item.title}}</a>
                <a *ngIf="!isUrlSet" (click)="switchPage(item.value)">{{item.title}}</a>
            </div>
            <div class="page-no-click current items">
                {{currentPage}}
            </div>
            <div class="items" *ngFor="let item of fillForwardItems"
                 [ngClass]="item.value < 0 ? 'page-no-click' : ''">
                <a *ngIf="isUrlSet" [routerLink]="[getUrl(item)]"
                   [queryParams]="queryParameters">{{item.title}}</a>
                <a *ngIf="!isUrlSet" (click)="switchPage(item.value)">{{item.title}}</a>
            </div>
            <div class="items" *ngFor="let item of forwardItems"
                 [ngClass]="item.value < 0 ? 'page-no-click' : ''">
                <a *ngIf="isUrlSet" [routerLink]="[getUrl(item)]"
                   [queryParams]="queryParameters">{{item.title}}</a>
                <a *ngIf="!isUrlSet" (click)="switchPage(item.value)">{{item.title}}</a>
            </div>
        </div>
        <div class="cell small-1">
            <button class="next" [disabled]="!thereIsNext" (click)="goToNext()">
                &#187;
            </button>
        </div>
    </div>
