<app-content [ngClass]="'vmId-' + visitorMessage.visitorMessageId">
    <div class="toggle-replies" (click)="isRepliesOpen = !isRepliesOpen; toggleReplies();">
        <div class="avatar">
            <img appUserProfile [info]="visitorMessage.user"/>
        </div>
        <div class="content">
            <div class="user">
                <app-user-link [user]="visitorMessage.user"></app-user-link>
            </div>
            <div class="message" [innerHTML]="visitorMessage.content | safeHtml"></div>
        </div>
        <div class="footer">
            <div class="controls">
                <span *ngIf="canDeleteVisitorMessage" (click)="delete($event, visitorMessage)" tooltip="Delete"><i
                        class="fas fa-trash"></i></span>
                <span *ngIf="canReport(visitorMessage)" (click)="report($event, visitorMessage)" tooltip="Report"><i
                        class="fas fa-exclamation-triangle"></i></span>
                <span *ngIf="canInfract(visitorMessage)" (click)="infract($event, visitorMessage)"
                      tooltip="Warn / Infract"><i
                        class="fa fa-bell"></i></span>
                <span *ngIf="canReport(visitorMessage) || canInfract(visitorMessage)">|</span>
                {{getTime(visitorMessage.createdAt)}}
            </div>
            <div class="user-controls">
                <span tooltip="Likes" [ngClass]="visitorMessage.isLiking ? 'likes' : ''"
                      (click)="onToggleLike($event, visitorMessage)">
                    <i class="far fa-heart"></i>
                </span> {{visitorMessage.likes | number: '1.'}}
                -
                <span tooltip="Comments"><i class="far fa-comment"></i></span> {{replyCount | number: '1.'}}
            </div>
        </div>
    </div>
    <div #replies class="replies hidden">
        <div *ngFor="let comment of comments">
            <div class="avatar">
                <img appUserProfile [info]="comment.user"/>
            </div>
            <div class="content">
                <div class="user">
                    <app-user-link [user]="comment.user"></app-user-link>
                </div>
                <div class="message" [innerHTML]="comment.content | safeHtml"></div>
            </div>
            <div class="footer">
                <div class="controls">
                    <span *ngIf="canDeleteVisitorMessage" (click)="delete($event, comment)" tooltip="Delete"><i
                            class="fas fa-trash"></i></span>
                    <span *ngIf="canReport(comment)" (click)="report($event, comment)" tooltip="Report"><i
                            class="fas fa-exclamation-triangle"></i></span>
                    <span *ngIf="canInfract(comment)" (click)="infract($event, comment)" tooltip="Warn / Infract"><i
                            class="fa fa-bell"></i></span>
                    <span *ngIf="canReport(comment) || canInfract(comment)">|</span>
                    {{ getTime(comment.createdAt) }}
                </div>
                <div class="user-controls">
                    <span tooltip="Likes" [ngClass]="comment.isLiking ? 'likes' : ''"
                          (click)="onToggleLike($event, comment)">
                        <i class="far fa-heart"></i>
                    </span> {{comment.likes | number: '1.'}}
                </div>
            </div>
        </div>
        <div class="new-message" *ngIf="isLoggedIn">
            <input [(ngModel)]="content" type="text" placeholder="Reply..."/>
            <button appButton [float]="'right'" (onClick)="onComment()">Send</button>
        </div>
    </div>
</app-content>