<app-title [title]="'Visitor Message'" [top]="redHeader"></app-title>
<app-content [ngClass]="'vmId-' + visitorMessage.visitorMessageId">
    <div class="position-relative">
        <div class="time-wrapper">
            <em class="fas fa-clock"></em> {{getTime(visitorMessage.createdAt)}}
        </div>
    </div>
    <div class="toggle-replies" (click)="isRepliesOpen = !isRepliesOpen; toggleReplies();">
        <div class="avatar">
            <img appUserProfile [info]="visitorMessage.user"/>
        </div>
        <div class="content">
            <div class="user">
                <app-user-link [user]="visitorMessage.user"></app-user-link>
            </div>
            <div class="message" [innerHTML]="visitorMessage.content | safeHtml"></div>
        </div>
        <div class="footer">
            <div class="controls">
                <span *ngIf="canDeleteVisitorMessage" (click)="delete($event, visitorMessage)" tooltip="Delete"><em
                        class="fas fa-trash"></em></span>
                <span *ngIf="canReport(visitorMessage)" (click)="report($event, visitorMessage)" tooltip="Report"><em
                        class="fas fa-exclamation-triangle"></em></span>
                <span *ngIf="canInfract(visitorMessage)" (click)="infract($event, visitorMessage)"
                      tooltip="Warn / Infract"><em
                        class="fa fa-bell"></em></span>
            </div>
            <div class="user-controls">
                <span tooltip="Likes" [ngClass]="visitorMessage.isLiking ? 'likes' : ''"
                      (click)="onToggleLike($event, visitorMessage)">
                    <em class="far fa-heart"></em>
                </span> {{visitorMessage.likes | number: '1.'}}
                -
                <span tooltip="Comments"><em class="far fa-comment"></em></span> {{replyCount | number: '1.'}}
            </div>
        </div>
    </div>
    <div #replies class="replies hidden">
        <div class="position-relative" *ngFor="let comment of comments">
            <div class="time-wrapper">
                <em class="fas fa-clock"></em> {{getTime(comment.createdAt)}}
            </div>
            <div class="avatar">
                <img appUserProfile [info]="comment.user"/>
            </div>
            <div class="content">
                <div class="user">
                    <app-user-link [user]="comment.user"></app-user-link>
                </div>
                <div class="message" [innerHTML]="comment.content | safeHtml"></div>
            </div>
            <div class="footer">
                <div class="controls">
                    <span *ngIf="canDeleteVisitorMessage" (click)="delete($event, comment)" tooltip="Delete"><em
                            class="fas fa-trash"></em></span>
                    <span *ngIf="canReport(comment)" (click)="report($event, comment)" tooltip="Report"><em
                            class="fas fa-exclamation-triangle"></em></span>
                    <span *ngIf="canInfract(comment)" (click)="infract($event, comment)" tooltip="Warn / Infract"><em
                            class="fa fa-bell"></em></span>
                </div>
                <div class="user-controls">
                    <span tooltip="Likes" [ngClass]="comment.isLiking ? 'likes' : ''"
                          (click)="onToggleLike($event, comment)">
                        <em class="far fa-heart"></em>
                    </span> {{comment.likes | number: '1.'}}
                </div>
            </div>
        </div>
        <div class="new-message" *ngIf="isLoggedIn">
            <input [(ngModel)]="content" type="text" (keyup)="onCommentKeyUp($event)" placeholder="Reply..."/>
            <button appButton [float]="'right'" [color]="redButton" (onClick)="onComment()">Send</button>
        </div>
    </div>
</app-content>
