.avatar {
    width: 12%;
    float: left;
    margin: 5px 0px 0px 5px;
}

.content {
    width: 86%;
    float: left;
    padding-left: 10px;
    margin-bottom: 10px;
}

.user {
    width: 100%;
    margin: 6px 0 0 4px;
}

.footer {
    padding: 9px;
    width: 100%;
    background: #fbfbfb;
    box-shadow: inset 0 1px 2px rgba(197, 197, 197, 0.19);
}

.message {
    padding: 5px 5px 10px 5px;
    min-height: 55px;
}

.controls em {
    margin: 0 0.5rem;
}

.user-controls {
    float: right;
    margin: -16px 0 0 0;
}

.new-message {
    margin-top: 15px;
    display: flex;
}

.replies {
    width: 100%;
    margin: 2px 0 1px 0;
    background: #fbfbfb;
    box-shadow: inset 0 1px 2px rgb(224, 224, 224);
    padding: 10px;
}

.toggle-replies {
    cursor: pointer;
}

.hidden {
    display: none;
}

.likes {
    color: #c37070;
}

.time-wrapper {
    padding: 5px;
    background: #fbfbfb;
    box-shadow: inset 0 1px 2px rgba(197, 197, 197, 0.09);
    position: absolute;
    top: 3px;
    right: 4px;
}
