<app-title [title]="'Changing E-Mail'" [tabs]="tabs" (onTabClick)="onSave()"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x margin-x">
            <div class="small-12">
                <div class="label">E-Mail:</div>
                <input name="email" [(ngModel)]="model.email" type="email">
            </div>
            <div class="small-12">
                <div class="label">Password:</div>
                <input name="password" [(ngModel)]="model.password" type="password">
            </div>
        </div>
    </div>
</app-content>
