<app-title [title]="'Claim Voucher Code'" [tabs]="tabs" (onTabClick)="onClaim()"></app-title>
<app-content>
    Here you can claim voucher codes that you have been given for winning either a prize or doing something we appreciate here at ThisHabbo! <br /><br />
    Just fill in the code below and click "Claim". If the code is correctly a notification will be displayed in the bottom right of your screen and your THC will be applied to your account. You can see your THC updated in the top right, under your name!
    <br />
    <label>Code

    <span tooltip="A voucher code is either given away from an Administrator. There are tons hidden on VX, you just have to find one!" class="checkbox-info">
        <em class="fas fa-question-circle"></em>
    </span>
    </label>
    <input [(ngModel)]="code" type="text" name="code" placeholder="Enter Voucher code...">
</app-content>