.radio-button {
    color: white;
    font-size: 13px;
    background: #dddddd;
    padding: 10px;
    margin-right: 7px;
    margin-top: 11px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset, rgba(255, 255, 255, 0.18) 0 0 0 2px inset, rgba(0, 0, 0, 0.11) 0 2px 0;
    float: left;
    cursor: pointer;
}

.slider {
    border-radius: 2px;
    width: 34%;
    float: left;
    margin-top: 11px;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        width: 95%;
        -webkit-appearance: none;
        background-color: #219afa;
        padding: 0;
        box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset, rgba(255, 255, 255, 0.18) 0 0 0 2px inset, rgba(0, 0, 0, 0.11) 0 2px 0;
        border-radius: 2px;
        height: 40px;
    }

    input[type='range']::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        margin-top: -5px;
    }

    input[type='range']::-webkit-slider-thumb::before {
        box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset, rgba(255, 255, 255, 0.18) 0 0 0 2px inset, rgba(0, 0, 0, 0) 0 2px 0;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 1px;
        -webkit-appearance: none;
        height: 120px;
        cursor: ew-resize;
        background: #dddddd;
        box-shadow: 80px 0 0 80px #dddddd;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: #43e5f7;
}
input[type="range"]::-moz-range-track {
    background: -webkit-linear-gradient(top, #059efd 0, #219afa 100%);
}
/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7;
}
input[type="range"]::-ms-fill-upper {
    background-color: #9a905d;
}

.pink-button {
    background: -webkit-linear-gradient(top, #dc62b1 0, #cc66a2 100%);
}

.blue-button {
    background: -webkit-linear-gradient(top, #059efd 0, #219afa 100%);
    cursor: pointer;
}

.green-button {
    background: -webkit-linear-gradient(top, #5ba52d 0, #5ba147 100%);
}

.red-button {
    background: -webkit-linear-gradient(top, #bb4c4c 0, #ad6262 100%);
}

.listen-button {
    background: -webkit-linear-gradient(top, #9a9393 0, #919090 100%);
    color: #ffffff;
    cursor: default;
}

.mobile-button {
    display: none;
}

.desktop-button {
    display: block;
}

@media screen and (max-width: 1200px) {
    .desktop-button {
        display: none;
    }
    .mobile-button {
        display: block;
    }
}
