<audio #player [src]="url" preload="none" style="display: none;"></audio>
<div class="generic-radio-button generic-green-button" (click)="toggleAudio()">
    <i class="fas fa-play" *ngIf="!isPlaying"></i>
    <i class="fas fa-pause" *ngIf="isPlaying"></i>
</div>
<div class="generic-radio-button generic-blue-button mobile-button" (click)="openRequest()">
    <i class="fas fa-comment icon-position"></i>
</div>
<div class="generic-radio-button generic-red-button mobile-button" (click)="likeDj()">
    <i class="fas fa-heart icon-position"></i>
</div>
<div class="generic-radio-button listen-button"><i class="fas fa-headphones"></i> {{listeners}}</div>
<div class="slider">
    <input type="range" [value]="volume" (input)="onVolumeChange($event)" [disabled]="!isPlaying"/>
</div>
<div class="generic-radio-button generic-pink-button desktop-button"><i class="fas fa-sync-alt"></i></div>
<div class="generic-radio-button generic-pink-button mobile-button" (click)="openInfo()"><i class="fas fa-info"></i>
</div>
