<div class="bulletin-details" [ngClass]="isMinimalistic ? 'minimalistic' : ''">
    <div class="bulletin-board" *ngFor="let activity of activities" [ngSwitch]="activity.type">
        <div *ngSwitchCase="40">
            <em class="fas fa-comment"></em>
            <strong>{{activity.user.nickname}}</strong> have posted in
            <strong><a
                    [routerLink]="['/forum/thread/' + activity.thread.threadId + '/page/' + activity.thread.page]">{{activity.thread.title}}</a></strong>
        </div>
        <div *ngSwitchCase="88">
            <em class="fas fa-comment"></em>
            <strong>{{activity.user.nickname}}</strong> created thread
            <strong><a
                    [routerLink]="['/forum/thread/' + activity.thread.threadId + '/page/' + activity.thread.page]">{{activity.thread.title}}</a></strong>
        </div>
        <div *ngSwitchCase="41">
            <em class="fas fa-thumbs-up"></em>
            <strong>{{activity.user.nickname}}</strong> has liked a post in
            <strong><a
                    [routerLink]="['/forum/thread/' + activity.thread.threadId + '/page/' + activity.thread.page]">{{activity.thread.title}}</a></strong>
        </div>
        <div *ngSwitchCase="18">
            <em class="fas fa-thumbs-up"></em>
            <strong>{{activity.user.nickname}}</strong> has liked the DJ!
        </div>
        <div *ngSwitchCase="45">
            <em class="fas fa-gamepad"></em>
            <strong>{{activity.user.nickname}}</strong> started a game of fastest typer!
        </div>
        <div *ngSwitchCase="43">
            <em class="fas fa-gamepad"></em>
            <strong>{{activity.user.nickname}}</strong> started a game of snake!
        </div>
        <div *ngSwitchCase="1">
            <em class="fas fa-gamepad"></em>
            <strong>{{activity.user.nickname}}</strong> won a game of roulette!
        </div>
        <div *ngSwitchCase="2">
            <em class="fas fa-gamepad"></em>
            <strong>{{activity.user.nickname}}</strong> lost a game of roulette...
        </div>
    </div>
</div>
