<div class="grid-container">
    <div class="grid-x margin-x">
        <div class="cell small-12">
            <app-title
                [title]="'Access Denied!'">
            </app-title>
            <app-content>
                    You've been denied access to this page! This could mean several things: <br />
                    <br />
                    1. Your user account may not have sufficient privileges to access this page. Are you trying to do or access something you shouldn't?<br />
                    2. If you are trying to post, the administrator may have disabled your account, or it may be awaiting activation. <br />
                    3. You aren't registered to the site at all - please register. You won't be able to view threads/posts until you do so.<br />
                    4. You could be banned from the website, but this is very rare.<br />
                    5. If you're already registered then simply login as some features are disabled to users who aren't logged in!<br />
                    <br />
                    If you're still having problems - tweet us <b>@ThisHabbo</b>!
            </app-content>
        </div>
    </div>
</div>
