<app-title [title]="pageTitle" [tabs]="tabs" (onTabClick)="onTabClick($event)"></app-title>
<app-content>
    <div class="grid-container full">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">
                <label>Title:</label>
                <input [(ngModel)]="thread.title" placeholder="New Thread" type="text" name="thread-title">
            </div>
            <div class="cell small-6">
                <label>Prefix:</label>
                <select [(ngModel)]="thread.prefixId">
                    <option value="0">None</option>
                    <option *ngFor="let prefix of thread.prefixes" value="{{prefix.prefixId}}">{{prefix.text}}</option>
                </select>
            </div>
            <div *ngIf="shouldHaveThumbnail" class="cell small-4">
                <label>Thumbnail:</label>
                <input type="file" accept="image/*" #file name="thread-thumbnail">
            </div>
            <div *ngIf="isQuestTemplate" class="cell small-4">
                <label>Badge: <em *ngIf="badeHaveError" class="error">Only name!</em></label>
                <input [(ngModel)]="thread.badge" type="text" name="thread-badge"> <br/>
            </div>
            <div class="cell small-4" *ngIf="isQuestTemplate">
                <label>Room Link:</label>
                <input [(ngModel)]="thread.roomLink" type="text" name="thread-roomLink"> <br/>
            </div>
            <div *ngIf="isQuestTemplate" class="cell small-4">
                <label>Tags:</label>
                <div class="grid-container full">
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-4">
                            <div>
                                <label class="checkbox-container" (click)="toggleTag($event, 'AVAILABLE')">
                                    Available
                                    <input type="checkbox" [checked]="haveTag('AVAILABLE')">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div>
                                <label class="checkbox-container" (click)="toggleTag($event, 'EASY')">
                                    Easy
                                    <input type="checkbox" [checked]="haveTag('EASY')">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="cell small-4">
                            <div>
                                <label class="checkbox-container" (click)="toggleTag($event, 'DIFFICULT')">
                                    Difficult
                                    <input type="checkbox" [checked]="haveTag('DIFFICULT')">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div>
                                <label class="checkbox-container" (click)="toggleTag($event, 'FREE')">
                                    Free
                                    <input type="checkbox" [checked]="haveTag('FREE')">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="cell small-4">
                            <div>
                                <label class="checkbox-container" (click)="toggleTag($event, 'CLOSED')">
                                    Closed
                                    <input type="checkbox" [checked]="haveTag('CLOSED')">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell small-4" *ngIf="isQuestTemplate">
                Preview: <br/>
                <img *ngIf="badge" appLazyLoad [image]="badgeUrl" alt="badge"/>
            </div>
        </div>
    </div>
</app-content>

<app-title *ngIf="canHavePoll" [title]="'Thread Poll'"></app-title>
<app-content *ngIf="canHavePoll">
    <div *ngIf="thread.poll">
        <em>You can later not edit the poll after creation, make sure it's correct before saving</em>
        <div class="grid-container full poll-answer">
            <div class="grid-x">
                <div class="cell small-11">
                    <label>Question:</label>
                    <input [(ngModel)]="thread.poll.question" type="text"
                           [disabled]="thread.createdAt && !thread.poll.isNew" name="thread-poll-question">
                </div>
            </div>
        </div>
        <div *ngFor="let answer of thread.poll.answers; let index = index;">
            <div class="grid-container full poll-answer">
                <div class="grid-x">
                    <div class="cell small-11">
                        <label>Answer #{{index + 1}}</label>
                        <input [(ngModel)]="answer.label" type="text"
                               [disabled]="thread.createdAt && !thread.poll.isNew" name="thread-poll-answer">
                    </div>
                    <div class="cell small-1 remove-answer" *ngIf="!thread.createdAt && thread.poll.isNew">
                        <em class="fas fa-trash" (click)="removeAnswer(answer.id)"></em>
                    </div>
                </div>
            </div>
        </div>
        <button appButton (click)="addThreadAnswer()" [disabled]="thread.createdAt && !thread.poll.isNew">+Add Answer
        </button>
    </div>
</app-content>


<app-editor #editor
            [content]="thread.content"
            (onKeyUp)="onKeyUp($event)">
</app-editor>
