/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: FranklinGothic;
    src: url('./assets/fonts/Franklin-Gothic-Condensed.ttf');
}

@font-face {
    font-family: CheetahKick;
    src: url('./assets/fonts/Cheetah-Kick.otf');
}

html, body {
    margin: 0;
    padding: 0;
    background: #eeeeee url('/assets/images/background.png');
    font-family: 'Verdana', sans-serif !important;
    color: #7d7d7d;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.quotepost {
    background: #fbfbfb;
    border: 1px solid #f1f1f1;
    margin-bottom: .5rem;
    padding: 11px;
    width: 100%;
}

.mention-user {
    color: #159cfc;
    display: inline-block;
}

.mention-group {
    color: #5592c5;
    display: inline-block;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #159cfc;
}

h2 {
    margin-bottom: 10px;
    margin-top: 0;
}

.float-right {
    float: right;
}

.position-relative {
    position: relative;
}

.quote, details {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #fbfbfb;
    border: 1px solid #f1f1f1;
    box-shadow: inset 0 1px 2px rgba(197, 197, 197, 0.19);
}

.plain-content-box {
    background-color: #fff;
    border: 1px solid #cacaca;
    box-shadow: 0 0 0 1px #0e0e0e00, 0 3px 0 0 rgba(0, 0, 0, 0.03);
    color: #8a8787;
    width: 100%;
    padding: 8px;
    font-size: 11px;
    display: block;
    margin-top: 1.3rem;
}

@keyframes spoiler {
    0% {
        opacity: 0;
        margin-top: -8px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

.wrapper-margin-x {
    padding: 0;
}

.mobile-hidden {
    display: initial;
}

@media screen and (max-width: 1200px) {
    .wrapper-margin-x {
        padding-right: 0.312rem;
        padding-left: 0.312rem;
    }

    .mobile-hidden {
        display: none;
    }
}

.generic-radio-button {
    color: white;
    background: #dddddd url(/assets/images/bargradient.png);
    font-size: 11px;
    height: 30px;
    padding: 8px 8px 0 9px;
    margin-right: 5px;
    margin-top: 10px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset, rgba(255, 255, 255, 0.18) 0 0 0 2px inset, rgba(0, 0, 0, 0.11) 0 2px 0;
    float: left;
    cursor: pointer;
}

.generic-pink-button {
    background: #9a9393 url(/assets/images/bargradient.png);
}

.generic-blue-button {
    cursor: pointer;
    background: #159cfc url(/assets/images/bargradient.png);
}

.generic-yellow-button {
    cursor: pointer;
    background: #d5e028 url(/assets/images/bargradient.png);
}

.generic-green-button {
    background: #79b554 url(/assets/images/bargradient.png);
}

.generic-red-button {
    background: #c37070 url(/assets/images/bargradient.png);
}

.gold-trophy {
    color: #efcf23;
}

.silver-trophy {
    color: #C0C0C0;
}

.bronze-trophy {
    color: #cd7f32;
}

.grid-container {
    padding: 0;
}

.atitle {
    background-color: #f7f7f7;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
    overflow: hidden;
    padding: .8rem;
    width: 100%;
}

.tags {
    margin: 0 0 3px 0;
    top: 0;
    z-index: 1;
    font-size: 11px;
    position: relative;
}

.tag {
    color: #fff;
    text-shadow: rgba(93, 79, 79, 0.51) 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.12) 0px 0px 0px 2px inset, rgba(0, 0, 0, 0.1) 0px 2px 0px;
    display: inline-block;
    font-size: .6rem;
    font-weight: 700;
    padding: 6px;
    border-radius: 3px;
    margin: 0 4px 0 0;
    background-image: url(/assets/images/bargradient.png) !important;
}

.AVAILABLE {
    background-color: #f2a580;
}

.EASY {
    background-color: #8ebd70;
}

.FREE {
    background-color: #759bdf;
}

.DIFFICULT {
    background-color: #ffae18;
}

.CLOSED {
    background-color: #e17474;
}

.align-center {
    text-align: center;
}

summary {
    outline: 0;
    cursor: pointer;
}

.gray-content-wrapper {
    margin: 0 0 2px 0;
    padding: 8.56px;
    width: 100%;
    background: #fbfbfb;
    box-shadow: inset 0 1px 2px rgba(197, 197, 197, 0.09);
}

.divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 8px 0 0 0;
    overflow: hidden;
    width: 100%;
    float: left;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clickable {
    cursor: pointer;
}

.blue-top {
    border-top: 3px solid #139bfb !important;
}

.blue-text {
    color: #139bfb !important;
}

.pink-top {
    border-top: 3px solid #e887bf !important;
}

.pink-text {
    color: #e887bf !important;
}

.green-top {
    border-top: 3px solid #5ba23e !important;
}

.green-text {
    color: #5ba23e !important;
}

.red-top {
    border-top: 3px solid #ad6262 !important;
}

.red-text {
    color: #ad6262 !important;
}

.black-top {
    border-top: 3px solid #000000 !important;
}

.black-text {
    color: #000000 !important;
}

.purple-top {
    border-top: 3px solid #925779 !important;
}

.purple-text {
    color: #925779 !important;
}

.custom-user-bar-template {
    text-shadow: rgba(93, 79, 79, 0.51) 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.12) 0px 0px 0px 2px inset, rgba(0, 0, 0, 0.17) 0px 2px 0px;
    background-image: url(/assets/images/bargradient.png);
    width: 200px;
    text-align: center;
    color: white;
    padding: 8px;
    border-radius: 2px;
    font-size: 10px;
    font-weight: bold;
    margin: 5px auto !important;
}