.content-margin {
    margin-top: 1.3rem;
}

.fixed-menu {
    margin-top: 0;
}

@media screen and (max-width: 1200px) {
    .fixed-menu {
        margin-top: 4.7rem;
    }
}

@media screen and (max-width: 1200px) {
    app-header {
        display: none;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: #3682b9;
    height: 3px;
    opacity: 1;
    margin-top: 0;
    transition: opacity 5s linear;
}

.not-loading {
    opacity: 0;
}