.content-margin {
    margin-top: 1.3rem;
}

.fixed-menu {
    margin-top: 0;
}

@media screen and (max-width: 1200px) {
    .fixed-menu {
        margin-top: 4.7rem;
    }
}

@media screen and (max-width: 1200px) {
    app-header {
        display: none;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: #3682b9;
    height: 3px;
    opacity: 1;
    margin-top: 0;
    transition: opacity 5s linear;
}

.not-loading {
    opacity: 0;
}

.to-top {
    position: fixed;
    bottom: 10px;
    right: 34px;
    font-size: 39px;
    z-index: 100;
    transform: rotate(90deg);
    background: #cccccc;
    text-align: center;
    padding: 0px 19px 5px 19px;
    border-radius: 6px;
    opacity: 0.6;
    cursor: pointer;
    color: #ffffff;
}