<div class="members">
    <div class="grid-container content-margin">
        <div class="grid-x">
            <div class="cell small-12 medium-8">
                <label><em class="fa fa-user"></em> Active Users</label>
                <div class="active-user" *ngFor="let activeUser of activeUsers; trackBy: trackUsers;"
                     appImageLazyLoad
                     [attr.tooltip]="activeUser.nickname" (click)="goToProfile(activeUser.nickname)"
                     [isStyle]="true"
                     [src]="activeUser.avatarUrl"></div>
            </div>
            <div class="cell small-6 medium-2">
                <label><em class="fa fa-user"></em> Member of the Month</label>
                <div *ngIf="month && month.member">
                    <img appUserProfile [info]="month.member" [isSmall]="true" class="small-avatar"/>
                    <app-user-link [user]="month.member"></app-user-link>
                    <br/>
                    Member of the month <br/>
                    {{month.year}} {{month.month}}
                </div>
            </div>
            <div class="cell small-6 medium-2">
                <label><em class="fa fa-user"></em> Photo Comp Winner</label>
                <div *ngIf="month && month.photo">
                    <img appUserProfile [info]="month.photo" [isSmall]="true" class="small-avatar"/>
                    <app-user-link [user]="month.photo"></app-user-link>
                    <br/>
                    Photo Comp Winner <br/>
                    {{month.year}} {{month.month}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="links">
    <div class="grid-container content-margin">
        <div class="grid-x">
            <div class="cell small-5">
                © ThisHabbo 2010 - 2020
            </div>
            <div class="cell small-7">
                <div class="quick-links">
                    <a [routerLink]="['/home/versions/page/1']"><em class="fas fa-code-branch"></em> Versions</a>
                    <a (click)="clearUserCache()"><em class="fa fa-database"></em> Clear Cache</a>
                    <a [routerLink]="['/page/contact']"><em class="fa fa-envelope"></em> Contact Us</a>
                    <a [routerLink]="['/page/rules']"><em class="fas fa-file-alt"></em> ToS & Privacy Policy</a>
                    <a href="https://www.twitter.com/ThisHabbo"><em class="fab fa-twitter"></em> Twitter</a>
                </div>
            </div>
        </div>
    </div>
</div>
