<div class="members">
    <div class="grid-container content-margin">
        <div class="grid-x">
            <div class="cell small-12 medium-8">
                <strong><i class="fa fa-user"></i> Active Users</strong>
            </div>
            <div class="cell small-12 medium-2">
                <strong><i class="fa fa-user"></i> Member of the Month</strong>
            </div>
            <div class="cell small-12 medium-2">
                <strong><i class="fa fa-camera"></i> Photo Competition</strong>
            </div>
        </div>
    </div>
</div>
<div class="links">
    <div class="grid-container content-margin">
        <div class="grid-x">
            <div class="cell small-12">
                <div class="copyright">
                    © ThisHabbo 2010 - 2018
                </div>
                <div class="quick-links">
                    <a><i class="fa fa-envelope"></i> Contact Us</a>
                    <a [routerLink]="['/page/terms-of-service']"><i class="fas fa-file-alt"></i> ToS</a>
                    <a [routerLink]="['/page/privacy-policy']"><i class="fas fa-file-alt"></i> Privacy Policy</a>
                    <a><i class="fab fa-twitter"></i> Twitter</a>
                    <a><i class="fa fa-h-square"></i> TH Hub</a>
                </div>
            </div>
        </div>
    </div>
</div>