<div class="members">
    <div class="grid-container content-margin">
        <div class="grid-x">
            <div class="cell small-12 medium-8">
                <div><strong><em class="fa fa-user"></em> Active Users</strong></div>
                <div class="active-user" *ngFor="let activeUser of activeUsers" (click)="goToProfile(activeUser.nickname)" [style]="getAvatarUrl(activeUser.userId) | safeStyle"></div>
            </div>
            <div class="cell small-12 medium-2">
                <strong><em class="fa fa-user"></em> Member of the Month</strong>
            </div>
            <div class="cell small-12 medium-2">
                <strong><em class="fa fa-camera"></em> Photo Competition</strong>
            </div>
        </div>
    </div>
</div>
<div class="links">
    <div class="grid-container content-margin">
        <div class="grid-x">
            <div class="cell small-12">
                <div class="copyright">
                    © ThisHabbo 2010 - 2018
                </div>
                <div class="quick-links">
                    <a><em class="fa fa-envelope"></em> Contact Us</a>
                    <a [routerLink]="['/page/terms-of-service']"><em class="fas fa-file-alt"></em> ToS</a>
                    <a [routerLink]="['/page/privacy-policy']"><em class="fas fa-file-alt"></em> Privacy Policy</a>
                    <a><em class="fab fa-twitter"></em> Twitter</a>
                    <a><em class="fa fa-h-square"></em> TH Hub</a>
                </div>
            </div>
        </div>
    </div>
</div>
