<app-title [title]="title" [tabs]="tabs" (onTabClick)="addUser()"></app-title>
<app-content>
    <div class="grid-container fluid">
        <div class="grid-x">
            <div class="cell small-12">
                <em>New users to get the badge, write their name and click add</em>
            </div>
            <div class="cell small-12">
                <input [(ngModel)]="nickname" type="text" placeholder="New User"/>
            </div>
        </div>
    </div>
</app-content>
<app-table [config]="tableConfig" (onAction)="onRemove($event)"></app-table>