<div *ngIf="isLoading" class="centered">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div *ngIf="showSuccess">
    <app-info-box [model]="successMessage"></app-info-box>
</div>
<div *ngIf="!isLoading && !showSuccess">
    <button appButton (onClick)="buyWithCredits()">Credits</button>
    <div *ngIf="paypalConfig">
        <hr/>
        <ngx-paypal [config]="paypalConfig"></ngx-paypal>
    </div>
</div>