<app-title [title]="'Update Password'" [tabs]="tabs" (onTabClick)="update()"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x margin-x">
            <div class="small-12">
                <label>Current Password:</label>
                <input type="password" [(ngModel)]="currentPassword" name="currentPassword"/>
            </div>
            <div class="small-12">
                <label>Password:</label>
                <input type="password" [(ngModel)]="password" name="password"/>
            </div>
            <div class="small-12">
                <label>Re-type Password:</label>
                <input type="password" [(ngModel)]="repassword" name="repassword"/>
            </div>
        </div>
    </div>
</app-content>
