<app-title [title]="'Update Password'" [tabs]="tabs" (onTabClick)="update()"></app-title>
<app-content>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12">
                <label>Current Password</label>
                <input type="password" [(ngModel)]="currentPassword" name="currentPassword"/>
            </div>
            <div class="cell small-12">
                <label>New Password <em>(Must be at least 8 characters long)</em></label>
                <input type="password" [(ngModel)]="password" name="password"/>
            </div>
            <div class="cell small-12">
                <label>Confirm New Password</label>
                <input type="password" [(ngModel)]="repassword" name="repassword"/>
            </div>
        </div>
    </div>
</app-content>
