<app-title [title]="'Updating Connection Information'" [tabs]="tabs" (onTabClick)="onTabClick($event)"></app-title>
<app-content>
    <label>Radio IP:</label>
    <input name="info-ip" type="text" [(ngModel)]="ip" />

    <label>Radio Port:</label>
    <input name="info-port" type="text" [(ngModel)]="port" />

    <label>Radio Password:</label>
    <input name="info-password" type="text" [(ngModel)]="password" />

    <label>Admin Password:</label>
    <input name="info-admin-password" type="text" [(ngModel)]="adminPassword" />
</app-content>