<div class="grid-container full">
    <div class="grid-x">

        <div class="cell small-12 medium-9">
            <div class="grid-container full">
                <div class="grid-x margin-x">
                    <div class="cell small-12 badge-articles-header">
                        <button (onClick)="seeMoreBadgeArticles()" appButton [float]="'right'">See More</button>
                        <h2>Badge Articles</h2>
                    </div>
                    <div class="cell small-6 medium-3" *ngFor="let article of articles">
                        <app-slim-article [article]="article"></app-slim-article>
                    </div>
                </div>
            </div>

            <app-home-media-articles [articles]="mediaArticles"></app-home-media-articles>
        </div>

        <div class="cell small-12 medium-3 wrapper-margin-x">
            <div class="noticeboard">
                <h2>Noticeboard</h2>
                <app-notice *ngFor="let notice of notices" [notice]="notice"></app-notice>
            </div>

            <div *ngIf="!isLoggedIn">
                <app-home-login-box></app-home-login-box>
            </div>

            <app-home-community-poll></app-home-community-poll>

            <app-home-staff-spotlight></app-home-staff-spotlight>
        </div>
    </div>
</div>
