<strong>Label</strong> <br />
<input type="text" [(ngModel)]="data.label" />

<strong>Url</strong> <br />
<input type="text" [(ngModel)]="data.url" [disabled]="data.isHomePage"/>

<div *ngIf="isMainItem">
    <strong>Icon <em>(full font-awesome class)</em></strong> <br />
    <input type="text" [(ngModel)]="data.icon" />
</div>

<div>
    <label class="checkbox-container">
        Only visible for logged in users?
        <input type="checkbox" [(ngModel)]="data.loginRequired">
        <span class="checkmark"></span>
    </label>
</div>

<div>
    <label class="checkbox-container">
        Is only on mobile menu?
        <input type="checkbox" [(ngModel)]="data.isOnMobile">
        <span class="checkmark"></span>
    </label>
</div>

<div>
    <label class="checkbox-container" *ngIf="!isMainItem">
        Is a divider
        <input type="checkbox" [(ngModel)]="data.isDivider">
        <span class="checkmark"></span>
    </label>
</div>

<div>
    <label class="checkbox-container">
        Goes to home page? <em>(If user is logged out it goes to /home)</em>
        <input type="checkbox" [(ngModel)]="data.isHomePage">
        <span class="checkmark"></span>
    </label>
</div>