<app-title
        [title]="'Betting Hub'"
        [top]="topBorderRed">
</app-title>
<app-content>
    <a [routerLink]="['/betting/dashboard']">
        <em class="fa fa-columns"></em>
        <span>Dashboard</span>
    </a>
    <a [routerLink]="['/arcade']">
        <em class="fa fa-columns"></em>
        <span>Arcade</span>
    </a>
    <a [routerLink]="['/betting/my-bets']">
        <em class="fa fa-columns"></em>
        <span>My Active Bets</span>
    </a>
    <a [routerLink]="['/betting/history/page/1']">
        <em class="fa fa-columns"></em>
        <span>My History</span>
    </a>
</app-content>


<app-title
        [title]="'Betting Hub'"
        [top]="topBorderBlue">
</app-title>
<app-content>
    For clarity, THS is used to bet on aspects of the fansite.
    As THC is a fake currency, and is now unobtainable with real life money, we are outside of the regulation of
    following legal betting laws.
    This means we can bet for fun!
    <br/><br/>
    That's all it is and it ever will be! We do NOT endorse or encourage real life betting in anyway.
</app-content>
