a {
    display: block;
    width: 100%;
    font-size: 11px;
    padding: 8px 10px 8px 6px;
    border-bottom: 1px solid rgb(245, 243, 243);
    text-decoration: none;
    color: #ad6262;
}

a:last-child {
    border-bottom: none;
}

i {
    margin-right: 0.5rem;
}
