<app-content [top]="topBorder">
    For clarity, THS is used to bet on aspects of the fansite.
    As THC is a fake currency, and is now unobtainable with real life money, we are outside of the regulation of following legal betting laws.
    This means we can bet for fun!
    <br /><br />
    That's all it is and it ever will be! We do NOT endorse or encourage real life betting in anyway.
</app-content>

<app-title
    [title]="'Betting Hub'"
    [top]="topBorder">
</app-title>
<app-content>
    <a [routerLink]="['/betting/dashboard']">
        <i class="fa fa-columns"></i>
        <span>Dashboard</span>
    </a>
    <a [routerLink]="['/betting/roulette']">
        <i class="fa fa-columns"></i>
        <span>Roulette</span>
    </a>
    <a [routerLink]="['/betting/my-bets']">
        <i class="fa fa-columns"></i>
        <span>My Active Bets</span>
    </a>
    <a [routerLink]="['/betting/history/page/1']">
        <i class="fa fa-columns"></i>
        <span>My History</span>
    </a>
</app-content>
