<div class="wrapper-margin-x">
    <app-fixed-tools [tools]="fixedTools" (onAction)="onAction($event)"></app-fixed-tools>

    <app-pagination
            [paginationModel]="pagination">
    </app-pagination>

    <div *ngIf="haveSubCategories">
        <app-title
                [title]="'Sub Categories'">
        </app-title>
        <app-content>
            <app-forum-slim-category *ngFor="let category of categoryPage.categories"
                                     [category]="category"></app-forum-slim-category>
        </app-content>
    </div>

    <div *ngIf="categoryPage.stickyThreads.length > 0">
        <app-title [title]="'Sticky Threads'" [tabs]="toggleStickies" (onTabClick)="onToggleStickies()"
                   [top]="stickyHeader"></app-title>
        <app-content [isContracted]="isStickiesVisible">
            <app-forum-slim-thread *ngFor="let stickyThread of categoryPage.stickyThreads"
                                   [forumPermissions]="categoryPage.forumPermissions"
                                   [thread]="stickyThread">
            </app-forum-slim-thread>
        </app-content>
    </div>

    <div *ngIf="!isMainParent">
        <app-title
                [title]="'Threads'"
                [tabs]="tabs"
                (onTabClick)="onTabClick($event)">
        </app-title>
        <app-content>
            <app-forum-slim-thread *ngFor="let thread of categoryPage.threads"
                                   [thread]="thread"
                                   [forumPermissions]="categoryPage.forumPermissions"
                                   [isChecked]="isChecked(thread)"
                                   (onCheckChanged)="onCheckChanged($event)">
            </app-forum-slim-thread>
        </app-content>

        <app-forum-category-sorting
                [options]="categoryPage.displayOptions"
                (onSort)="onSort($event)">
        </app-forum-category-sorting>

        <app-pagination
                [paginationModel]="pagination">
        </app-pagination>
    </div>
</div>