.tab {
    background: -webkit-linear-gradient(top, #fcfcfc 0, #fefefe 100%);
    cursor: pointer;
    display: inline-block;
    padding: 8px;
    position: relative;
    text-align: center;
    min-width: 100.43px;
    font-size: 11px;
    transition: background .8s ease;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-right: 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #6f6f6f;
}

.no-tab {
    cursor: pointer;
    display: inline-block;
    padding: 8px;
    position: absolute;
    text-align: center;
    min-width: 110px;
    font-size: 10px;
    transition: background .8s ease;
    margin: 0 5px 0 0;
    text-transform: uppercase;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tab-content {
    position: absolute;
    z-index: 2;
    height: 0;
    margin: -32px 0 0 0;
}