<app-title
        [title]="'About the Ban On Sight List'">
</app-title>

<app-content>
    <p>This page will state all members of the community that are <strong>BANNED</strong> from entering events or giveaways and must be banned on sight.
        All management must check this page before hosting an event or giveaway to ensure that you do not receive warnings.</p>
    <p><strong>Staff that allow the following members to enter official ThisHabbo Rooms (of which whom are banned) may face disciplinary proceedings.</strong></p>
</app-content>

<app-table
        [config]="tableConfig"
        [tabs]="tabs"
        (onAction)="onAction($event)">
</app-table>
